<div
  class="bg-{{section.settings.color_scheme}} flex flex-col items-center justify-center gap-4"
>
  <div class="flex flex-col gap-4 py-7 text-center">
    <h1 class="font-medium text-4xl">{{ 'customer.activate_account.title' | t }}</h1>
    <p class="text-sm">{{ 'customer.activate_account.subtext' | t }}</p>
  </div>
  {%- form 'activate_customer_password' -%}
    {%- if form.errors -%}
      <div class="bg-red-50 w-full flex flex-col rounded-md border border-red-600 mb-4 p-4">
        <h2 tabindex="-1" autofocus class="outline-none text-base text-red-600">
          <span class="sr-only">{{ 'accessibility.error' | t }}</span>
          {{ 'accessibility.error' | t }}
        </h2>
        <div class="text-sm text-red-600">
          {{ form.errors | default_errors }}
        </div>
      </div>
    {%- endif -%}
    <div class="mb-16 flex w-512 flex-col gap-4">
      <div class="relative">
        {% render 'input',
          type: 'password',
          name: 'customer[password]',
          id: 'customer[password]',
          autocomplete: 'current-password'
        %}
        {% render 'label', for: 'customer[password]', text: 'Password' %}
        {%- if form.errors contains 'password' -%}
          <div class="text-xxs text-red-600">
            {{ form.errors.translated_fields.password | capitalize }}
            {{ form.errors.messages.password }}
          </div>
        {%- endif -%}
      </div>
      <div class="relative">
        {% render 'input',
          type: 'password',
          name: 'customer[password_confirmation]',
          id: 'customer[password_confirmation]',
          autocomplete: 'current-password'
        %}
        {% render 'label', for: 'customer[password_confirmation]', text: 'Password' %}
        {%- if form.errors contains 'password_confirmation' -%}
          <div class="text-xxs text-red-600">
            {{ form.errors.translated_fields.password | capitalize }}
            {{ form.errors.messages.password }}
          </div>
        {%- endif -%}
      </div>
    </div>
    {% render 'button',
      type: 'submit',
      text: 'customer.activate_account.submit' | t,
      color_scheme: section.settings.color_scheme
    %}
    <div class="flex items-center justify-center gap-1 text-xs">
      <a
        href="{{ routes.root_url }}"
        class="underline underline-offset-2"
      >
        {{ 'customer.activate_account.cancel' | t }}
      </a>
    </div>
  {%- endform -%}
</div>

{% schema %}
{
  "name": "Activate account",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    },
    {
      "type": "range",
      "id": "top_padding",
      "label": "Top padding",
      "min": 0,
      "max": 96,
      "step": 1,
      "unit": "px",
      "default": 96
    },
    {
      "type": "range",
      "id": "bottom_padding",
      "label": "Bottom padding",
      "min": 0,
      "max": 96,
      "step": 1,
      "unit": "px",
      "default": 96
    }
  ]
}
{% endschema %}
