{%- liquid
  assign padding_x = section.settings.padding_x
  assign padding_y = section.settings.padding_y
  assign share_url = request.origin | append: article.url
-%}

<article class="flex flex-col items-center gap-4 px-{{ padding_x }} py-{{ padding_y }}">
  {% if article.title != blank %}
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'featured_image' -%}
          {%- if article.image -%}
            <div class="w-full h-[600px]">
              {% render 'image',
                image: article.image,
                alt: article.image.alt,
                class: 'w-full h-full object-cover object-center'
              %}
            </div>
          {%- endif -%}
      {%- endcase -%}
    {%- endfor -%}

    <div class="max-w-[666px] mx-auto w-full pt-[64px] pb-[64px]">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'title' -%}
            {%- if block.settings.show_date -%}
              <div class="font-display text-body-medium text-[#616161]">
                {{- article.published_at | time_tag: format: 'date' -}}
              </div>
            {%- endif -%}
            <h1 class="font-display text-display-medium text-black">
              {{ article.title | escape }}
            </h1>
            {%- if block.settings.show_author -%}
              <div>
                {{ article.author }}
              </div>
            {%- endif -%}
          {%- when 'content' -%}
            <div class="flex flex-col gap-[16px] font-display text-body-large text-black">
              {{ article.content }}
            </div>
        {%- endcase -%}
      {%- endfor -%}
    </div>
  {%- else -%}
    <div class="max-w-[840px] w-full max-h-[600px] mx-auto">
      {{ 'detailed-apparel-1' | placeholder_svg_tag }}
    </div>
    <div class="max-w-[840px] mx-auto w-full pt-[64px] pb-[64px]">
      <h1 class="font-display text-display-medium text-black">
        Welcome to our store
      </h1>
      <div class="font-display text-body-large text-black">
        This is your space to shine—replace this text with your own blog post!
        Share your store’s story, highlight what makes your products special, or offer tips to connect with your audience.
        A great post can draw customers in, build trust, and keep them coming back.
        Start writing here to showcase your brand and boost engagement!
      </div>
    </div>
  {% endif %}
</article>

<script type="application/ld+json">
  {{ article | structured_data }}
</script>

{% schema %}
{
  "name": "Blog post",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "range",
      "id": "padding_x",
      "label": "Horizontal padding",
      "info": "Add padding to the left and right of the section.",
      "min": 0,
      "max": 96,
      "step": 1,
      "default": 12
    },
    {
      "type": "range",
      "id": "padding_y",
      "label": "Vertical padding",
      "info": "Add padding to the top and bottom of the section.",
      "min": 0,
      "max": 96,
      "step": 1,
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "featured_image",
      "name": "Featured image",
      "limit": 1
    },
    {
      "type": "title",
      "name": "Title",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_date",
          "default": true,
          "label": "Show date"
        },
        {
          "type": "checkbox",
          "id": "show_author",
          "default": false,
          "label": "Show author"
        }
      ]
    },
    {
      "type": "content",
      "name": "Content",
      "limit": 1
    },
    {
      "type": "share",
      "name": "Share"
    }
  ]
}
{% endschema %}
