{%- liquid
  assign color_scheme = section.settings.color_scheme
  assign x_padding = section.settings.padding_x | times: 0.1 | round: 1
  assign y_padding = section.settings.padding_y | times: 0.1 | round: 1
  assign reduced_padding_x = x_padding | times: 0.55 | round: 2
  assign reduced_padding_y = y_padding | times: 0.55 | round: 2
-%}

{% style %}
  .responsive-padding-{{ section.id }} {
    padding-top: {{ reduced_padding_y }}rem;
    padding-bottom: {{ reduced_padding_y }}rem;
    padding-left: {{ reduced_padding_x }}rem;
    padding-right: {{ reduced_padding_x }}rem;
  }

  @media (min-width: 1024px) {
    .responsive-padding-{{ section.id }} {
      padding-top: {{ y_padding }}rem;
      padding-bottom: {{ y_padding }}rem;
      padding-left: {{ x_padding }}rem;
      padding-right: {{ x_padding }}rem;
    }
  }
{% endstyle %}

<article class="bg-{{ color_scheme }} text-{{ color_scheme }} flex flex-col items-center gap-16 responsive-padding-{{ section.id }}">
  {% if article.title != blank %}
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'featured_image' -%}
          {%- if article.image -%}
            <div class="w-full h-600">
              {% render 'image',
                image: article.image,
                alt: article.image.alt,
                class: 'w-full h-full object-cover object-center'
              %}
            </div>
          {%- endif -%}
      {%- endcase -%}
    {%- endfor -%}

    <div class="max-w-700 mx-auto w-full pt-64 pb-64">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'title' -%}
            <h1 class="font-display text-display-medium">
              {{ article.title | escape }}
            </h1>
            {%- if block.settings.show_author -%}
              <div class="text-body-medium font-display text-secondary-{{ color_scheme }}">
                {{ article.author }}
              </div>
            {%- endif -%}
          {%- when 'content' -%}
            <div class="flex flex-col gap-16 font-display text-body-large">
              {{ article.content }}
            </div>
          {%- when 'date_and_category' -%}
            {%liquid
              assign show_category = block.settings.show_category and article.category.title != blank
              assign show_date = block.settings.show_date and article.published_at != blank
             %}

            <div class="flex gap-4 text-body-medium font-semibold text-secondary-{{ color_scheme }}">
              {%- if show_category -%}
                <span>
                  {{ article.category.title }}
                </span>
              {%- endif -%}
              {%- if show_category and show_date -%}
                <span>
                  |
                </span>
              {%- endif -%}
              {%- if show_date -%}
                {{ article.published_at | time_tag: format: 'date' }}
              {%- endif -%}
            </div>
          {%- when 'share' -%}
            <div class="flex flex-wrap gap-8">
              {% render 'share-buttons',
                share_title: article.title,
                share_image: article.image,
                show_copy_link: block.settings.show_copy_link,
                show_pinterest: block.settings.show_pinterest,
                show_facebook: block.settings.show_facebook,
                show_x: block.settings.show_x,
                show_linkedin: block.settings.show_linkedin,
                color_scheme: color_scheme
              %}
            </div>
        {%- endcase -%}
      {%- endfor -%}
    </div>
  {%- else -%}
    <div class="max-w-840 w-full max-h-600 mx-auto">
      {{ 'detailed-apparel-1' | placeholder_svg_tag }}
    </div>
    <div class="max-w-840 mx-auto w-full pt-64 pb-64">
      <h1 class="font-display text-display-medium">
        {{ 'onboarding.blog_post_title' | t }}
      </h1>
      <div class="font-display text-body-large">
        {{ 'onboarding.blog_post_content' | t }}
      </div>
    </div>
  {% endif %}
</article>

<script type="application/ld+json">
  {{ article | structured_data }}
</script>

{% schema %}
{
  "name": "Blog post",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    },
    {
      "type": "range",
      "id": "padding_x",
      "label": "Horizontal padding",
      "info": "Add padding to the left and right of the section.",
      "min": 0,
      "max": 96,
      "step": 1,
      "unit": "px",
      "default": 12
    },
    {
      "type": "range",
      "id": "padding_y",
      "label": "Vertical padding",
      "info": "Add padding to the top and bottom of the section.",
      "min": 0,
      "max": 96,
      "step": 1,
      "unit": "px",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "featured_image",
      "name": "Featured image",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content_type": "info",
          "content": "There are no settings available"
        }
      ]
    },
    {
      "type": "title",
      "name": "Title",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_author",
          "default": false,
          "label": "Show author"
        }
      ]
    },
    {
      "type": "content",
      "name": "Content",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content_type": "link",
          "content": "Edit your content in your blog post"
        }
      ]
    },
    {
      "type": "share",
      "name": "Share",
      "limit": 2,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_copy_link",
          "default": false,
          "label": "Show copy link"
        },
        {
          "type": "checkbox",
          "id": "show_pinterest",
          "default": false,
          "label": "Show Pinterest"
        },
        {
          "type": "checkbox",
          "id": "show_facebook",
          "default": false,
          "label": "Show Facebook"
        },
        {
          "type": "checkbox",
          "id": "show_x",
          "default": false,
          "label": "Show X"
        },
        {
          "type": "checkbox",
          "id": "show_linkedin",
          "default": false,
          "label": "Show LinkedIn"
        },
      ]
    },
    {
      "type": "date_and_category",
      "name": "Date and Category",
      "settings": [
        {
          "type": "checkbox",
          "id": "show_category",
          "default": false,
          "label": "Show category"
        },
        {
          "type": "checkbox",
          "id": "show_date",
          "default": false,
          "label": "Show date"
        }
      ]
    }
  ]
}
{% endschema %}
