{%- liquid
  assign color_scheme = section.settings.color_scheme
  assign reduced_padding_x = section.settings.padding_x | times: 0.55 | round: 0
  assign reduced_padding_y = section.settings.padding_y | times: 0.55 | round: 0
-%}

{% style %}
  .responsive-padding-{{ section.id }} {
    padding-top: {{ reduced_padding_y }}px;
    padding-bottom: {{ reduced_padding_y }}px;
    padding-left: {{ reduced_padding_x }}px;
    padding-right: {{ reduced_padding_x }}px;
  }

  @media (min-width: 1024px) {
    .responsive-padding-{{ section.id }} {
      padding-top: {{ section.settings.padding_y }}px;
      padding-bottom: {{ section.settings.padding_y }}px;
      padding-left: {{ section.settings.padding_x }}px;
      padding-right: {{ section.settings.padding_x }}px;
    }
  }
{% endstyle %}

<article class="bg-{{ color_scheme }} text-{{ color_scheme }} flex flex-col items-center gap-4 responsive-padding-{{ section.id }}">
  {% if article.title != blank %}
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'featured_image' -%}
          {%- if article.image -%}
            <div class="w-full h-[600px]">
              {% render 'image',
                image: article.image,
                alt: article.image.alt,
                class: 'w-full h-full object-cover object-center'
              %}
            </div>
          {%- endif -%}
      {%- endcase -%}
    {%- endfor -%}

    <div class="max-w-[666px] mx-auto w-full pt-[64px] pb-[64px]">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'title' -%}
            {%- if block.settings.show_date -%}
              <div class="text-body-medium font-display text-secondary-{{ color_scheme }}">
                {{- article.published_at | time_tag: format: 'date' -}}
              </div>
            {%- endif -%}
            <h1 class="font-display text-display-medium">
              {{ article.title | escape }}
            </h1>
            {%- if block.settings.show_author -%}
              <div class="text-body-medium font-display text-secondary-{{ color_scheme }}">
                {{ article.author }}
              </div>
            {%- endif -%}
          {%- when 'content' -%}
            <div class="flex flex-col gap-[16px] font-display text-body-large">
              {{ article.content }}
            </div>
        {%- endcase -%}
      {%- endfor -%}
    </div>
  {%- else -%}
    <div class="max-w-[840px] w-full max-h-[600px] mx-auto">
      {{ 'detailed-apparel-1' | placeholder_svg_tag }}
    </div>
    <div class="max-w-[840px] mx-auto w-full pt-[64px] pb-[64px]">
      <h1 class="font-display text-display-medium">
        {{ 'blog.post.placeholder_title' | t }}
      </h1>
      <div class="font-display text-body-large">
        {{ 'blog.post.placeholder_content' | t }}
      </div>
    </div>
  {% endif %}
</article>

<script type="application/ld+json">
  {{ article | structured_data }}
</script>

{% schema %}
{
  "name": "Blog post",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    },
    {
      "type": "range",
      "id": "padding_x",
      "label": "Horizontal padding",
      "info": "Add padding to the left and right of the section.",
      "min": 0,
      "max": 96,
      "step": 1,
      "unit": "px",
      "default": 12
    },
    {
      "type": "range",
      "id": "padding_y",
      "label": "Vertical padding",
      "info": "Add padding to the top and bottom of the section.",
      "min": 0,
      "max": 96,
      "step": 1,
      "unit": "px",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "featured_image",
      "name": "Featured image",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "id": "featured_image_message",
          "content_type": "info",
          "content": "There are no settings available"
        }
      ]
    },
    {
      "type": "title",
      "name": "Title",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_date",
          "default": true,
          "label": "Show date"
        },
        {
          "type": "checkbox",
          "id": "show_author",
          "default": false,
          "label": "Show author"
        }
      ]
    },
    {
      "type": "content",
      "name": "Content",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "id": "content_message",
          "content_type": "link",
          "content": "Edit your content in your blog post"
        }
      ]
    },
    {
      "type": "share",
      "name": "Share",
      "settings": [
        {
          "type": "header",
          "id": "share_message",
          "content_type": "info",
          "content": "There are no settings available"
        }
      ]
    }
  ]
}
{% endschema %}
