{%- liquid
  assign color_scheme = section.settings.color_scheme
  assign reduced_padding_top = section.settings.top_padding | times: 0.55 | round: 0
  assign reduced_padding_bottom = section.settings.bottom_padding | times: 0.55 | round: 0
-%}

{% style %}
  .responsive-padding-{{ section.id }} {
    padding-top: {{ reduced_padding_top }}px;
    padding-bottom: {{ reduced_padding_bottom }}px;
  }

  @media (min-width: 1024px) {
    .responsive-padding-{{ section.id }} {
      padding-top: {{ section.settings.top_padding }}px;
      padding-bottom: {{ section.settings.bottom_padding }}px;
    }
  }
{% endstyle %}

<div class="bg-{{ color_scheme }} text-{{ color_scheme }} all-blogs mx-auto p-[24px] lg:pl-[160px] lg:pr-[160px] responsive-padding-{{ section.id }}">
  {%- if blog.articles.count > 0 -%}
    {%- paginate blog.articles by 6 -%}
        <div class="flex flex-col items-center gap-4 py-7 text-center">
          <h1 class="font-heading text-display-large">{{ blog.title | escape }}</h1>
        </div>
        <div class="grid p-4 gap-y-[16px] sm:grid-cols-2 gap-x-[16px] lg:gap-y-[48px] lg:grid-cols-3 h-100 lg:grid-rows-3">
          {%- for article in blog.articles -%}
            {%- render 'blog-item',
              article: article,
              show_image: section.settings.show_image,
              show_date: section.settings.show_date,
              show_author: section.settings.show_author,
              show_excerpt: true
            -%}
          {%- endfor -%}
        </div>
        {%- if paginate.pages > 1 -%}
          {%- render 'pagination', paginate: paginate -%}
        {%- endif -%}
    {%- endpaginate -%}
  {%- else -%}
    <div class="flex flex-col items-center gap-4 py-7 text-center">
      <h1 class="font-heading text-display-large text-{{ color_scheme }}">Store highlights</h1>
    </div>
    <div class="grid p-4 gap-y-[16px] sm:grid-cols-2 gap-x-[16px] lg:gap-y-[48px] lg:grid-cols-3 h-100 lg:grid-rows-1">
      <div class="blog-card flex flex-col gap-[16px] overflow-hidden">
        <div class="h-full w-full object-cover">
          {{ 'blog-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
        </div>
        <div class="flex flex-col gap-[16px]">
          <div class="flex flex-col gap-[4px]">
            <h3 class="font-display text-headline-small text-{{ color_scheme }}">
              New arrivals
            </h3>
          </div>
        </div>
      </div>
      <div class="blog-card flex flex-col gap-[16px] overflow-hidden">
        <div class="h-full w-full object-cover">
          {{ 'blog-apparel-2' | placeholder_svg_tag: 'placeholder-svg' }}
        </div>
        <div class="flex flex-col gap-[16px]">
          <div class="flex flex-col gap-[4px]">
            <h3 class="font-display text-headline-small text-{{ color_scheme }}">
              New arrivals
            </h3>
          </div>
        </div>
      </div>
      <div class="blog-card flex flex-col gap-[16px] overflow-hidden">
        <div class="h-full w-full object-cover">
          {{ 'blog-apparel-3' | placeholder_svg_tag: 'placeholder-svg' }}
        </div>
        <div class="flex flex-col gap-[16px]">
          <div class="flex flex-col gap-[4px]">
            <h3 class="font-display text-headline-small text-{{ color_scheme }}">
              New arrivals
            </h3>
          </div>
        </div>
      </div>
    </div>
  {%- endif -%}
</div>


{% schema %}
{
  "name": "Blog",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_image",
      "default": true,
      "label": "Show image"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "Show date"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "default": false,
      "label": "Show author"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    },
    {
      "type": "range",
      "id": "top_padding",
      "label": "Top padding",
      "min": 0,
      "max": 96,
      "step": 1,
      "unit": "px",
      "default": 96
    },
    {
      "type": "range",
      "id": "bottom_padding",
      "label": "Bottom padding",
      "min": 0,
      "max": 96,
      "step": 1,
      "unit": "px",
      "default": 96
    }
  ]
}
{% endschema %}
