{%- liquid
  assign color_scheme = section.settings.color_scheme
  
  assign reduced_padding_top = section.settings.top_padding | times: 0.55 | round: 0
  assign reduced_padding_bottom = section.settings.bottom_padding | times: 0.55 | round: 0
-%}

{% style %}
  .responsive-padding-{{ section.id }} {
    padding-top: {{ reduced_padding_top }}px;
    padding-bottom: {{ reduced_padding_bottom }}px;
  }

  @media (min-width: 1024px) {
    .responsive-padding-{{ section.id }} {
      padding-top: {{ section.settings.top_padding }}px;
      padding-bottom: {{ section.settings.bottom_padding }}px;
    }
  }
{% endstyle %}

<div class="mx-auto max-w-[1366px] pt-[16px] pb-[64px] pl-[24px] pr-[24px] sm:pt-[64px] responsive-padding-{{ section.id }} bg-{{color_scheme}}">
  <cart-root class="flex flex-col max-w-[1046px] mx-auto">
    {%- if cart.empty? == true -%}
      <div class="flex flex-col gap-[32px]">
        <h2 class="text-headline-small font-display">{{ 'sections.cart.empty' | t }}</h2>
        <div class="flex-grow-0 flex flex-col items-start justify-center">
          {% render 'button',
            text: 'general.continue_shopping' | t,
            href: routes.all_products_collection_url,
            color_scheme: color_scheme
          %}
        </div>
        {%- if customer == blank -%}
          <div class="flex flex-col gap-[8px]">
            <span class="text-title-medium font-display text-secondary-{{ color_scheme }}">{{ 'sections.cart.login.title' | t }}</span>
            <span class="text-body-large font-display text-secondary-{{ color_scheme }}">
              <a
                href="{{ routes.account_login_url }}"
                class="underline"
                >{{ 'customer.log_in' | t }}</a
              > {{ 'sections.cart.login.faster' | t }}
            </span>
          </div>
        {% endif %}
      </div>
    {%- else -%}
      <div class="flex flex-col gap-[32px]">
        <div class="flex items-center justify-between">
          <h2 class="text-headline-small font-display">{{ 'sections.cart.title' | t }}</h2>

          <div class="inline-flex">
            <a
              href="{{ routes.all_products_collection_url }}"
              class="text-left text-body-medium font-display w-full underline underline-offset-4"
              >{{ 'general.continue_shopping' | t }}</a
            >
          </div>
        </div>
        <form class="" action="{{ routes.cart_url }}" method="post" id="cart">
          <div class="border-none sm:border-b sm:border-color-{{ color_scheme }} flex flex-col gap-[32px] sm:pb-[32px]">
            <table class="w-full">
              <thead class="text-title-small  border-b border-color-{{ color_scheme }} font-display">
                <tr>
                  <th class="text-title-small font-display pb-4 text-left">{{ 'sections.cart.headings.product' | t }}</th>
                  <th class="hidden sm:block text-title-small font-display pb-4 text-left">
                    <span>{{ 'sections.cart.headings.quantity' | t }}</span>
                  </th>
                  <th class="text-title-small font-display pb-4 text-right">{{ 'sections.cart.headings.total' | t }}</th>
                </tr>
              </thead>
              <tbody>
                {%- for item in cart.items -%}
                  <tr
                    class="[&:not(:last-child)]:border-b [&:not(:last-child)]:border-gray-100"
                    data-line="{{ forloop.index }}"
                  >
                    <td class="pt-[32px] pb-[32px] lg:w-[706px]">
                      <div class="flex gap-[16px] sm:gap-[32px]">
                        <span class="aspect-square inline-flex w-[110px] h-[110px]">
                          {% render 'image', image: item.image, alt: item.image.alt %}
                        </span>
                        <div class="flex flex-col gap-[2px]">
                          <h4 class="text-body-small sm:text-body-medium font-display">
                            <a href="{{ item.url }}">{{ item.product.title | escape }}</a>
                          </h4>

                          {%- if item.product.has_only_default_variant == false
                            or item.properties.size != 0
                            or item.selling_plan_allocation != null
                          -%}
                            <div class="text-body-small font-display">
                              {%- if item.product.has_only_default_variant == false -%}
                                {%- for option in item.options_with_values -%}
                                  <div class="flex items-center gap-1">
                                    <div>
                                      {{ option.value -}}
                                      {%- unless forloop.last or item.options_with_values.size == 1 %}, {% endunless %}
                                    </div>
                                  </div>
                                {%- endfor -%}
                              {%- endif -%}

                              {%- for property in item.properties -%}
                                {%- assign property_first_char = property.first | slice: 0 -%}
                                {%- if property.last != blank and property_first_char != '_' -%}
                                  <div class="flex items-center gap-1">
                                    <div>{{ property.first }}</div>
                                    <div>|</div>
                                    <div>
                                      {%- if property.last contains '/uploads/' -%}
                                        <a href="{{ property.last }}">
                                          {{ property.last | split: '/' | last }}
                                        </a>
                                      {%- else -%}
                                        {{ property.last }}
                                      {%- endif -%}
                                    </div>
                                  </div>
                                {%- endif -%}
                              {%- endfor -%}

                              {%- if item.selling_plan_allocation != null -%}
                                <p>{{ item.selling_plan_allocation.selling_plan.planPrice | money }} / {{ item.selling_plan_allocation.selling_plan.planPriceText }}</p>
                              {%- endif -%}
                            </div>
                          {%- endif -%}
                          {%- unless item.selling_plan_allocation -%}
                            {%- if item.original_price != item.final_price -%}
                              <div class="font-display text-body-small">
                                <strong class="font-display text-body-small">
                                  {{ item.final_price  | money }}
                                </strong>
                                <s class="text-secondary-{{ color_scheme}} font-display text-body-small">
                                  {{- item.original_price | money -}}
                                </s>
                              </div>
                            {%- else -%}
                              <div class="font-display text-body-small">
                                {{ item.final_price | money }}
                              </div>
                            {%- endif -%}
                          {%- endunless -%}

                          <ul role="list" aria-label="{{ 'sections.cart.headings.discount' | t }}">
                            {%- for discount in item.line_level_discount_allocations -%}
                              <li>
                                {{ discount.discount_application.title | escape }}
                              </li>
                            {%- endfor -%}
                          </ul>
                          <div class="cart-desktop block sm:hidden mt-4">
                            {% render 'quantity-selector', item: item, color_scheme: color_scheme %}
                          </div>
                        </div>
                      </div>
                    </td>
                    <td class="hidden sm:flex pt-[32px] pb-[32px]">
                      <div class="cart-desktop flex flex-col items-start gap-4 ">
                        {% render 'quantity-selector', item: item, index: forloop.index, color_scheme: color_scheme %}
                      </div>
                    </td>
                    <td class="pt-[32px] pb-[32px] align-top">
                      <div class="flex items-center justify-end text-title-small font-display mt-[8px]">
                        {%- if item.original_line_price != item.final_line_price -%}
                          <dl>
                            <dd>
                              <s class="cart-item__old-price price price--end">
                                {{ item.original_line_price | money }}
                              </s>
                            </dd>
                            <dd>
                              {{ item.final_line_price | money }}
                            </dd>
                          </dl>
                        {%- else -%}
                          {{ item.original_line_price | money }}
                        {%- endif -%}

                        {%- if item.variant.available and item.unit_price_measurement -%}
                          {{ item.unit_price | money }}
                          {%- if item.unit_price_measurement.reference_value != 1 -%}
                            {{- item.unit_price_measurement.reference_value -}}
                          {%- endif -%}
                          {{ item.unit_price_measurement.reference_unit }}
                        {%- endif -%}
                      </div>
                    </td>
                  </tr>
                {%- endfor -%}
              </tbody>
            </table>
            <div class="flex flex-col gap-[8px]">
              <div class="flex justify-between">
                <span class="text-title-medium font-display">{{ 'sections.cart.subtotal' | t }}</span>
                <span class="text-body-large font-display">
                  {{- cart.items_subtotal_price | money_with_currency -}}
                </span>
              </div>
              <div class="flex justify-between">
                <span class="text-title-medium font-display">{{ 'sections.cart.estimated_total' | t }}</span>
                <cart-total
                  ><span class="text-body-large font-display">
                    {{- cart.total_price | money_with_currency -}}
                  </span></cart-total
                >
              </div>
            </div>
            <div class="hidden sm:block"></div>
            <div class="hidden sm:block">
              {{ 'sections.cart.taxes_discounts_shipping_at_checkout' | t }}
            </div>
            <div class="flex w-full ml-auto justify-end sm:w-fit">
              {% render 'button',
                text: 'sections.cart.continue_checkout' | t,
                type: 'submit',
                disabled: cart.empty?,
                form: 'cart',
                name: 'checkout',
                full_width: true,
                color_scheme: color_scheme
              %}
            </div>
          </div>
        </form>
      </div>
    {%- endif -%}
  </cart-root>
</div>

{% schema %}
{
  "name": "Cart",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    },
    {
      "type": "range",
      "id": "top_padding",
      "label": "Top padding",
      "min": 0,
      "max": 96,
      "step": 1,
      "unit": "px",
      "default": 96
    },
    {
      "type": "range",
      "id": "bottom_padding",
      "label": "Bottom padding",
      "min": 0,
      "max": 96,
      "step": 1,
      "unit": "px",
      "default": 96
    }
  ]
}
{% endschema %}
