{%- liquid
  assign color_scheme = section.settings.color_scheme
  assign container_color_scheme = section.settings.container_color_scheme
  assign top_padding = section.settings.top_padding | times: 0.1 | round: 1
  assign bottom_padding = section.settings.bottom_padding | times: 0.1 | round: 1
  assign reduced_padding_top = top_padding | times: 0.55 | round: 2
  assign reduced_padding_bottom = bottom_padding | times: 0.55 | round: 2
-%}

{% style %}
  .responsive-padding-{{ section.id }} {
    padding-top: {{ reduced_padding_top }}rem;
    padding-bottom: {{ reduced_padding_bottom }}rem;
  }

  @media (min-width: 1024px) {
    .responsive-padding-{{ section.id }} {
      padding-top: {{ top_padding }}rem;
      padding-bottom: {{ bottom_padding }}rem;
    }
  }
{% endstyle %}

<div class="bg-{{ section.settings.color_scheme }} gradient">
  <div
    class="
      relative
      isolate
      md:p-140
      pl-24
      pr-24
      pt-64
      pb-64
      lg:pl-160
      lg:pr-160
      lg:pt-96
      lg:pb-96
      responsive-padding-{{ section.id }}
      {% if section.settings.layout == 'section' %}
        max-w-screen-lg mx-auto bg-{{ container_color_scheme }}
      {% elsif section.settings.layout == 'none' %}
        w-full
      {% endif %}
    "
  >
    <div class="section-{{ section.id }}-padding w-full">
      <div class="{% if section.settings.image == blank %} max-w-620 mx-auto {% else %} w-full {% endif %}">
        <div
          class="
            items-center
            grid
            grid-cols-1
            gap-40
            {% if section.settings.image != blank %}
              md:grid-cols-2
            {% endif %}
          "
        >
          {%- if section.settings.desktop_layout == 'image_first' and section.settings.image != blank -%}
            {% render 'collapsible-content-image',
              section: section
            %}
          {%- endif -%}

          <div
            class="
              flex
              flex-col
              gap-24
              {% if section.settings.layout == 'section' %}
                text-{{ container_color_scheme }}
              {% else %}
                text-{{ color_scheme }}
              {% endif %}
            "
          >
            <div class="text-{{ section.settings.header_alignment | default: 'center' }} flex flex-col gap-8">
              {% if section.settings.pre_heading %}
                <h2 class="font-display font-pre-heading text-pre-heading">
                  {{ section.settings.pre_heading }}
                </h2>
              {% endif %}
              {% if section.settings.heading %}
                <h2 class="font-display font-heading text-heading-{{ section.settings.heading_size | default: 'small' }}">
                  {{ section.settings.heading }}
                </h2>
              {% endif %}
              {% if section.settings.text %}
                <div class="formatted-text">
                  <p class="font-display text-content">
                    {{ section.settings.text }}
                  </p>
                </div>
              {% endif %}
            </div>

            <accordion-root
              class="
                grid
                items-center
                justify-center
                w-full
                {% if section.settings.layout == 'row' %}
                  gap-16
                  text-{{ container_color_scheme }}
                {% elsif section.settings.layout == 'section' %}
                  grid-cols-1
                  text-{{ container_color_scheme }}
                {% else %}
                  text-{{ color_scheme }}
                {% endif %}
              "
            >
              {%- for block in section.blocks -%}
                {%- case block.type -%}
                  {%- when 'collapsible_row' -%}
                    <accordion-item
                      class="
                        flex
                        flex-col
                        w-full
                        p-16
                        border
                        rounded
                        group
                        {% if section.settings.layout == 'row' %}
                          bg-{{ container_color_scheme }}
                          border-color-{{ container_color_scheme }}
                        {% else %}
                          bg-{{ color_scheme }}
                          border-color-{{ color_scheme }}
                        {% endif %}
                        {% if section.settings.layout != 'row' and forloop.index0 > 0 %}
                          -mt-1
                        {% endif %}
                      "
                      aria-expanded="
                        {% if section.settings.open_first_collapsible_row and forloop.first %}
                          true
                        {% else %}
                          false
                        {% endif %}
                      "
                    >
                      <accordion-trigger
                        class="
                          text-title-{{ block.settings.heading_size | default: 'medium' }}
                          font-display
                          font-heading
                          flex
                          w-full
                          items-center
                          justify-between
                        "
                      >
                        {% assign pageTitle = block.settings.page.title | escape %}
                        {{ block.settings.heading | default: pageTitle }}
                        <ion-icon
                          name="chevron-down-outline"
                          aria-label="{{ 'general.accordion.toggle' | t }}"
                          class="
                            transition-transform
                            group-aria-expanded:rotate-180
                            {% if block.settings.heading_size == 'extra-large' %}
                              h-32
                              w-32
                            {% else %}
                              h-16
                              w-16
                            {% endif %}
                          "
                        ></ion-icon>
                      </accordion-trigger>
                      <accordion-content class="body-large">
                        <div class="mt-4">
                          <span class="formatted-text">{{ block.settings.row_content }}</span>
                          {{ block.settings.page.content }}
                        </div>
                      </accordion-content>
                    </accordion-item>
                {%- endcase -%}
              {%- endfor -%}
            </accordion-root>
          </div>

          {%- if section.settings.desktop_layout == 'image_second' and section.settings.image != blank -%}
            {% render 'collapsible-content-image',
              section: section
            %}
          {%- endif -%}

        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.collapsible_content.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.content_header.content"
    },
    {
      "type": "inline_richtext",
      "id": "pre_heading",
      "label": "t:sections.all.pre_heading.label"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "t:sections.collapsible_content.settings.heading.label",
      "default": "t:sections.collapsible_content.settings.heading.default"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "t:sections.all.heading_size.label",
      "default": "small",
      "options": [
        { "value": "small", "label": "t:sections.all.heading_size.options__small.label" },
        { "value": "medium", "label": "t:sections.all.heading_size.options__medium.label" },
        { "value": "large", "label": "t:sections.all.heading_size.options__large.label" },
        { "value": "extra-large", "label": "t:sections.all.heading_size.options__extra_large.label" }
      ]
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "t:sections.collapsible_content.settings.text.label"
    },
    {
      "type": "select",
      "id": "header_alignment",
      "label": "t:sections.collapsible_content.settings.header_alignment.label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.collapsible_content.settings.header_alignment.options__left.label"
        },
        {
          "value": "center",
          "label": "t:sections.collapsible_content.settings.header_alignment.options__center.label"
        },
        {
          "value": "right",
          "label": "t:sections.collapsible_content.settings.header_alignment.options__right.label"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "t:sections.collapsible_content.settings.layout.label",
      "options": [
        {
          "value": "none",
          "label": "t:sections.collapsible_content.settings.layout.options__none.label"
        },
        {
          "value": "row",
          "label": "t:sections.collapsible_content.settings.layout.options__row.label"
        },
        {
          "value": "section",
          "label": "t:sections.collapsible_content.settings.layout.options__section.label"
        }
      ],
      "default": "none"
    },
    {
      "type": "header",
      "content": "t:sections.all.colors_header.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "color_scheme",
      "id": "container_color_scheme",
      "label": "t:sections.collapsible_content.settings.container_color_scheme.label",
      "default": "scheme-1",
      "conditions": {
        "layout": {
          "$in": ["row", "section"]
        }
      }
    },
    {
      "type": "checkbox",
      "id": "open_first_collapsible_row",
      "default": false,
      "label": "t:sections.collapsible_content.settings.open_first_collapsible_row.label"
    },
    {
      "type": "header",
      "content": "t:sections.collapsible_content.settings.image_layout_header.content"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.collapsible_content.settings.image.label"
    },
    {
      "type": "select",
      "id": "image_size",
      "label": "t:sections.collapsible_content.settings.image_size.label",
      "default": "original",
      "options": [
        { "value": "original", "label": "t:sections.collapsible_content.settings.image_size.options__original.label" },
        { "value": "small", "label": "t:sections.collapsible_content.settings.image_size.options__small.label" },
        { "value": "large", "label": "t:sections.collapsible_content.settings.image_size.options__large.label" }
      ]
    },
    {
      "type": "select",
      "id": "desktop_layout",
      "label": "t:sections.collapsible_content.settings.desktop_layout.label",
      "options": [
        {
          "value": "image_first",
          "label": "t:sections.collapsible_content.settings.desktop_layout.options__image_first.label"
        },
        {
          "value": "image_second",
          "label": "t:sections.collapsible_content.settings.desktop_layout.options__image_second.label"
        }
      ],
      "default": "image_second",
      "info": "t:sections.collapsible_content.settings.desktop_layout.info"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "top_padding",
      "label": "t:sections.all.padding.padding_top",
      "min": 0,
      "max": 96,
      "step": 1,
      "unit": "px",
      "default": 40
    },
    {
      "type": "range",
      "id": "bottom_padding",
      "label": "t:sections.all.padding.padding_bottom",
      "min": 0,
      "max": 96,
      "step": 1,
      "unit": "px",
      "default": 40
    }
  ],
  "blocks": [
    {
      "type": "collapsible_row",
      "name": "t:sections.collapsible_content.blocks.collapsible_row.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.heading.label",
          "default": "t:sections.collapsible_content.blocks.collapsible_row.settings.heading.default",
          "info": "t:sections.collapsible_content.blocks.collapsible_row.settings.heading.info"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "t:sections.all.heading_size.label",
          "default": "medium",
          "options": [
            { "value": "small", "label": "t:sections.all.heading_size.options__small.label" },
            { "value": "medium", "label": "t:sections.all.heading_size.options__medium.label" },
            { "value": "large", "label": "t:sections.all.heading_size.options__large.label" },
            { "value": "extra-large", "label": "t:sections.all.heading_size.options__extra_large.label" }
          ]
        },
        {
          "type": "richtext",
          "id": "row_content",
          "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.row_content.label"
        },
        {
          "type": "page",
          "id": "page",
          "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.page.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.collapsible_content.presets.name",
      "blocks": [
        { "type": "collapsible_row" },
        { "type": "collapsible_row" },
        { "type": "collapsible_row" },
        { "type": "collapsible_row" }
      ]
    }
  ]
}
{% endschema %}
