{% comment %}
  Renders a featured content section.

  Usage:
    {% sections 'featured-content' %}
{% endcomment %}

{%- liquid
  assign color_scheme = section.settings.color_scheme
  assign columns = section.settings.columns
  assign pre_heading = section.settings.pre_heading
  assign heading = section.settings.heading
-%}

{%- liquid
  assign reduced_padding_top = section.settings.top_padding | times: 0.55 | round: 0
  assign reduced_padding_bottom = section.settings.bottom_padding | times: 0.55 | round: 0
-%}

<style>
  .responsive-padding-{{ section.id }} {
    padding-top: {{ reduced_padding_top }}px;
    padding-bottom: {{ reduced_padding_bottom }}px;
  }

  @media (min-width: 1024px) {
    .responsive-padding-{{ section.id }} {
      padding-top: {{ section.settings.top_padding }}px;
      padding-bottom: {{ section.settings.bottom_padding }}px;
    }
  }

  .line-clamp-2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }

  .featured-content-text-heading-small {
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
  }

  .featured-content-text-heading-medium {
    font-size: 32px;
    line-height: 40px;
    font-weight: 600;
  }

  .featured-content-text-heading-large {
    font-size: 40px;
    line-height: 60px;
    font-weight: 600;
  }
</style>

<div
  class="pl-[24px] pr-[24px] lg:px-[160px] lg:py-[96px] bg-{{ color_scheme }} responsive-padding-{{ section.id }}"
>
  <div class="flex flex-col gap-[48px] max-w-container w-full mx-auto">
    <div class="text-start flex flex-col gap-[16px] text-{{ color_scheme }}">
      {%- if pre_heading != blank -%}
        <p
          class="
            text-headline-x-small font-display font-pre-heading
            {% case section.settings.header_alignment %}
              {% when 'center' %} text-center
              {% when 'right' %} text-right
              {% else %} text-left
            {% endcase %}
          "
        >
          {{ pre_heading }}
        </p>
      {%- endif -%}
      {%- if heading != blank -%}
        <h2
          class="
               font-display
               font-heading
               {% case section.settings.heading_size %}
                 {% when 'small' %}text-headline-small
                 {% when 'medium' %}text-headline-medium
                 {% when 'large' %}text-headline-large
               {% endcase %}
              {% case section.settings.header_alignment %}
              {% when 'center' %} text-center
              {% when 'right' %} text-right
              {% else %} text-left
            {% endcase %}
          "
        >
          {{ heading }}
        </h2>
      {%- endif -%}
    </div>

    <div
      class="
        grid gap-[16px]
        items-stretch
        {% if section.settings.mobile_columns == '1 column' %} auto-rows-fr
        {% else %} grid-cols-2
        {% endif %} sm:grid-cols-{{ columns }}
      "
    >
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'image_picker' -%}
            <div class="flex flex-col gap-[8px] w-full h-full relative col-span-{{ block.settings.col_span }}">
              <div class="flex flex-col gap-[16px] w-full h-full justify-center">
                <a href="{{ block.settings.link }}">
                  {%- if block.settings.image != blank -%}
                    <div class="aspect-square w-full">
                      {% liquid 
                        assign image_class = 'object-contain h-full'
                        if block.settings.image_height == 'auto'
                          assign image_class = 'object-contain h-fit'
                        elsif block.settings.image_height == 'fixed_height'
                          assign image_class = 'object-cover w-fit h-full'
                        elsif block.settings.image_height == 'fill'
                          assign image_class = 'object-fill h-full'
                        endif
                      %}
                      {%
                        render 'image',
                        image: block.settings.image,
                        picture_class: 'svg-placeholder object-fit object-center transition-transform duration-500 group-hover:scale-110',
                        class: image_class,                
                        alt: block.settings.image.alt | default: "Featured content image {{ forloop.index }}"
                      %}
                    </div>
                  {%- else -%}
                    {% comment %} Image placeholder {% endcomment %}
                    <div class="aspect-square w-full">
                      {%
                        render 'image',
                        picture_class: 'svg-placeholder',
                        placeholder: 'image' | placeholder_svg_tag: 'placeholder-svg'
                      %}
                    </div>
                  {%- endif -%}
                </a>
              </div>
            </div>
          {%- when 'product' -%}
            <div class="flex flex-col gap-[8px] w-full h-full col-span-{{ block.settings.col_span }}">
              {%- if block.settings.product.url != blank -%}
                <a
                  href="{{ block.settings.product.url }}"
                >
                  <div class="aspect-square w-full">
                    {%
                      render 'image',
                      image: block.settings.product.featured_image,
                      alt: first_image_alt = first_image.alt | default: 'Featured content image {{ forloop.index }}',
                      class: 'w-full h-full object-cover object-center transition-transform duration-500 group-hover:scale-110'
                    %}
                  </div>
                </a>

                <a
                  href="{{ block.settings.product.url }}"
                >
                  <div class="flex flex-col gap-[2px] items-start text-{{ color_scheme }}">
                    <h3 class="font-display text-title-small font-semibold">
                      {{ block.settings.product.title }}
                    </h3>

                    <p class="font-display text-body-medium text-center font-normal">
                      {%- if block.settings.product.compare_at_price > block.settings.product.price -%}
                        <div class="font-display flex gap-[6px] text-body-medium flex-wrap">
                          <span class="">
                            {{ block.settings.product.price | money_with_currency }}
                          </span>
                          <span class="line-through text-[#757575]">
                            {{ block.settings.product.compare_at_price | money_with_currency }}
                          </span>
                        </div>
                      {%- else -%}
                        {{ block.settings.product.price | money_with_currency }}
                      {%- endif -%}
                    </p>
                  </div>
                </a>
              {%- else -%}
                {% comment %} Product placeholder {% endcomment %}
                <div class="aspect-square w-full">
                  <div
                    class="w-full h-full object-cover object-center transition-transform duration-500 group-hover:scale-110"
                    style="--ratio: 1.0; --preview-ratio: 1.0;"
                  >
                    {{ 'product-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
                  </div>
                </div>

                <div class="flex flex-col gap-[2px] items-start text-{{ color_scheme }}">
                  <h3 class="font-display text-title-small font-semibold">
                    Your product name
                  </h3>

                  <p class="font-display text-body-medium text-center font-normal">
                    {{ 39 | money_with_currency }}
                  </p>
                </div>
              {%- endif -%}
            </div>
          {%- when 'collection' -%}
            <div class="flex flex-col gap-[8px] w-full h-full col-span-{{ block.settings.col_span }}">
              {%- if block.settings.collection.url != blank -%}
                <a
                  href="{{ block.settings.collection.url }}"
                >
                  <div class="aspect-square w-full">
                    {%
                      render 'image',
                      image: block.settings.collection.featured_image,
                      alt: block.settings.collection.featured_image.alt | default: "Featured content image {{ forloop.index }}",
                      class="w-full h-full object-cover object-center transition-transform duration-500 group-hover:scale-110"
                    %}
                  </div>
                </a>
                <a
                  href="{{ block.settings.collection.url }}"
                >
                  <div class="flex flex-col gap-[2px] items-start text-{{ color_scheme }}">
                    <h3 class="font-display text-title-small font-semibold">
                      {{ block.settings.collection.title }}
                    </h3>
                    <p
                      class="font-display text-body-medium font-normal line-clamp-2"
                    >
                      {{ block.settings.collection.description | strip_html }}
                    </p>
                  </div>
                </a>
              {%- else -%}
                {% comment %} Category placeholder {% endcomment %}
                <div class="aspect-square w-full">
                  <div
                    class="w-full h-full object-cover object-center transition-transform duration-500 group-hover:scale-110"
                    style="--ratio: 1.0; --preview-ratio: 1.0;"
                  >
                    {{ 'collection-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
                  </div>
                </div>
                <div class="flex flex-col gap-[2px] items-start text-{{ color_scheme }}">
                  <h3 class="font-display text-title-small font-semibold">
                    Your category name
                  </h3>
                  <p
                    class="font-display text-body-medium"
                  />
                </div>
              {%- endif -%}
            </div>

          {%- when 'article' -%}
            <div class="flex flex-col gap-[8px] w-full h-full col-span-{{ block.settings.col_span }}">
              {%- if block.settings.article.url -%}
                <a
                  href="{{ block.settings.article.url }}"
                  class="flex justify-center"
                >
                  <div class="aspect-square w-full">
                    {%
                      render 'image',
                      image: block.settings.article.featured_image,
                      alt: block.settings.article.featured_image.alt | default: 'Featured content image {{ forloop.index }}',
                      class: 'w-full h-full object-cover object-center transition-transform duration-500 group-hover:scale-110'
                    %}
                  </div>
                </a>

                <div class="flex flex-col gap-[2px] items-start text-{{ color_scheme }}">
                  <h3 class="font-display text-title-small font-semibold">
                    {{ block.settings.article.title }}
                  </h3>
                  <p class="font-display text-body-medium font-normal line-clamp-2">
                    {{ block.settings.article.content | strip_html }}
                  </p>
                </div>
              {%- else -%}
                {% comment %} Article placeholder {% endcomment %}
                <div class="aspect-square w-full">
                  <div
                    class="'w-full h-full object-cover object-center transition-transform duration-500 group-hover:scale-110"
                    style="--ratio: 1.0; --preview-ratio: 1.0;"
                  >
                    {{ 'blog-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
                  </div>
                </div>

                <div class="flex flex-col gap-[2px] items-start text-{{ color_scheme }}">
                  <h3 class="font-display text-title-small font-semibold">
                    Your article title
                  </h3>
                  <p class="font-display text-body-medium font-normal">
                    A short description of your featured article.
                  </p>
                </div>
              {%- endif -%}
            </div>
          {%- when 'text' -%}
            <div class="
                flex flex-col gap-[8px] w-full h-full col-span-{{ block.settings.col_span }} text-{{ block.settings.color_scheme }} bg-{{ block.settings.color_scheme }}
                {% if block.settings.alignment == 'center' %}
                  text-center
                {% elsif block.settings.alignment == 'right' %}
                  text-right
                {% else %}
                  text-left
                {% endif %}
              "
              style="padding: 8px;"
            >
              <div class="
                flex flex-col gap-[16px] w-full h-full
                {% if block.settings.content_position == 'items-start' %} justify-start
                {% elsif block.settings.content_position == 'items-center' %} justify-center
                {% elsif block.settings.content_position == 'items-end' %} justify-end
                {% endif %}
              " style="padding: {{ block.settings.section_padding }}px;">
              {%- if block.settings.heading != blank or block.settings.description != blank or block.settings.button_text != blank -%}
                {%- if block.settings.heading != blank -%}
                  <h2
                    class="overflow-hidden
                        {% if block.settings.heading_size == 'small' %}
                          featured-content-text-heading-small
                        {% elsif block.settings.heading_size == 'medium' %}
                          featured-content-text-heading-medium
                        {% elsif block.settings.heading_size == 'large' %}
                          featured-content-text-heading-large
                        {% endif %}
                    "
                  >
                    {{ block.settings.heading }}
                  </h2>
                {%- endif -%}
                {%- if block.settings.description != blank -%}
                  <div
                    class="text-body-medium font-display overflow-hidden"
                  >
                    {{ block.settings.description }}
                  </div>
                {%- endif -%}
                {%- if block.settings.button_text != blank -%}
                  <div class="flex flex-row overflow-hidden
                    {% if block.settings.alignment == 'center' %}
                      justify-center
                    {% elsif block.settings.alignment == 'right' %}
                      justify-end
                    {% else %}
                      justify-start
                    {% endif %}
                  ">
                    {% render 'button',
                      text: block.settings.button_text,
                      href: block.settings.button_link
                      type: 'button',
                      variant: 'solid',
                      content_color_scheme: block.settings.color_scheme
                    %}
                  </div>
                {%- endif -%}
              {%- else -%}
                {% comment %} Text placeholder {% endcomment %}
                <div
                  class="text-body-medium font-display"
                >
                  Use this space to discuss a benefit or feature. Pair it with images to grab attention and give customers a quick, clear reason to engage with your store.
                </div>
              {%- endif -%}
              </div>
            </div>
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Featured content",
  "max_blocks": 10,
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "pre_heading",
      "label": "Pre-heading",
      "default": "Pre-heading"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "Heading size",
      "default": "small",
      "options": [
        { "value": "small", "label": "Small" },
        { "value": "medium", "label": "Medium" },
        { "value": "large", "label": "Large" }
      ]
    },
    {
      "type": "select",
      "id": "header_alignment",
      "label": "Header alignment",
      "default": "left",
      "options": [
        { "value": "left", "label": "Left" },
        { "value": "center", "label": "Center" },
        { "value": "right", "label": "Right" }
      ]
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "range",
      "id": "columns",
      "label": "Number of columns",
      "info": "Columns are used to organize content within a section.",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 3
    },
    {
      "type": "range",
      "id": "top_padding",
      "label": "Top padding",
      "min": 0,
      "max": 96,
      "step": 1,
      "unit": "px",
      "default": 64
    },
    {
      "type": "range",
      "id": "bottom_padding",
      "label": "Bottom padding",
      "min": 0,
      "max": 96,
      "step": 1,
      "unit": "px",
      "default": 64
    },
    {
      "type": "header",
      "content": "Mobile layout"
    },
    {
      "type": "select",
      "id": "mobile_columns",
      "label": "Number of columns (mobile)",
      "default": "1 column",
      "options": [
        { "value": "1 column", "label": "1 column" },
        { "value": "2 columns", "label": "2 columns" }
      ]
    }
  ],
  "blocks": [
    {
      "type": "image_picker",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "select",
          "id": "image_height",
          "label": "Image height",
          "default": "contain",
          "options": [
            { "value": "auto", "label": "Auto" },
            { "value": "fixed_height", "label": "Fixed height" },
            { "value": "fill", "label": "Fill" },
            { "value": "contain", "label": "Contain" }
          ]
        },
        {
          "type": "url",
          "id": "link",
          "label": "Button link"
        },
        {
          "type": "range",
          "id": "col_span",
          "label": "Column span",
          "min": 1,
          "max": 5,
          "default": 1
        }
      ]
    },
    {
      "type": "collection",
      "name": "Category",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Category"
        },
        {
          "type": "range",
          "id": "col_span",
          "label": "Column span",
          "info": "Make an element span `n` columns.",
          "min": 1,
          "max": 12,
          "default": 1
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "Heading size",
          "default": "small",
          "options": [
            { "value": "small", "label": "Small" },
            { "value": "medium", "label": "Medium" },
            { "value": "large", "label": "Large" }
          ]
        },
        {
          "type": "inline_richtext",
          "id": "description",
          "label": "Text"
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Alignment",
          "default": "left",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        },
        {
          "type": "select",
          "id": "content_position",
          "label": "Content position",
          "default": "items-start",
          "options": [
            {
              "value": "items-start",
              "label": "Top"
            },
            {
              "value": "items-center",
              "label": "Middle"
            },
            {
              "value": "items-end",
              "label": "Bottom"
            }
          ]
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button text"
        },
        {
          "type": "text",
          "id": "button_link",
          "label": "Button link"
        },
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "Color scheme",
          "default": "scheme-1"
        },
        {
          "type": "range",
          "id": "section_padding",
          "label": "Section padding",
          "info": "Applies padding to all sides.",
          "min": 0,
          "max": 96,
          "step": 1,
          "unit": "px",
          "default": 0
        },
        {
          "type": "range",
          "id": "col_span",
          "label": "Column span",
          "min": 1,
          "max": 5,
          "default": 1
        }
      ]
    },
    {
      "type": "product",
      "name": "Product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
          "type": "range",
          "id": "col_span",
          "label": "Column span",
          "min": 1,
          "max": 5,
          "default": 1
        }
      ]
    },
    {
      "type": "article",
      "name": "Blog post",
      "settings": [
        {
          "type": "article",
          "id": "article",
          "label": "Blog post"
        },
        {
          "type": "range",
          "id": "col_span",
          "label": "Column span",
          "min": 1,
          "max": 12,
          "default": 1
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured content",
      "settings": {
        "pre_heading": "Pre heading",
        "heading": "Featured content"
      },
      "blocks": [
        {
          "type": "image_picker"
        },
        {
          "type": "image_picker"
        },
        {
          "type": "text"
        }
      ]
    }
  ]
}
{% endschema %}
