{% comment %}
  Renders a featured content section.

  Usage:
    {% sections 'featured-content' %}
{% endcomment %}

{%- liquid
  assign color_scheme = section.settings.color_scheme
  assign columns = section.settings.columns
  assign pre_heading = section.settings.pre_heading
  assign heading = section.settings.heading
  assign article_placeholder_index = 1
-%}

{%- liquid
  assign top_padding = section.settings.top_padding | times: 0.1 | round: 1
  assign bottom_padding = section.settings.bottom_padding | times: 0.1 | round: 1
  assign reduced_padding_top = top_padding | times: 0.55 | round: 2
  assign reduced_padding_bottom = bottom_padding | times: 0.55 | round: 2
-%}

{% style %}
  .responsive-padding-{{ section.id }} {
    padding-top: {{ reduced_padding_top }}rem;
    padding-bottom: {{ reduced_padding_bottom }}rem;
  }

  @media (min-width: 1024px) {
    .responsive-padding-{{ section.id }} {
      padding-top: {{ top_padding }}rem;
      padding-bottom: {{ bottom_padding }}rem;
    }
  }

  .line-clamp-2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
{% endstyle %}

<div
  class="pl-24 pr-24 lg:px-160 lg:py-96 bg-{{ color_scheme }} responsive-padding-{{ section.id }}"
>
  <div class="flex flex-col gap-48 max-w-container w-full mx-auto">
    <div class="text-start flex flex-col gap-16 text-{{ color_scheme }}">
      {%- if pre_heading != blank -%}
        <p class="font-display font-pre-heading text-pre-heading text-{{ section.settings.header_alignment | default: 'left' }}">
          {{ pre_heading }}
        </p>
      {%- endif -%}
      {%- if heading != blank -%}
        <h2 class="font-display font-heading text-heading-{{ section.settings.heading_size | default: 'small' }} text-{{ section.settings.header_alignment | default: 'left' }}">
          {{ heading }}
        </h2>
      {%- endif -%}
    </div>

    <div
      class="
        grid gap-16
        items-stretch
        auto-rows-auto
        {% if section.settings.mobile_columns == '1 column' %} sm:auto-rows-fr
        {% else %} grid-cols-2
        {% endif %} 
        md:auto-rows-auto sm:grid-cols-{{ columns }}
      "
    >
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'image_picker' -%}
            <div class="flex flex-col gap-8 w-full h-full relative col-span-{{ block.settings.col_span }}">
              <div class="flex flex-col gap-16 w-full h-full justify-center">
                <a href="{{ block.settings.link }}">
                  {%- if block.settings.image != blank -%}
                    <div class="aspect-square w-full">
                      {% liquid 
                        assign image_class = 'object-contain h-full'
                        if block.settings.image_height == 'auto'
                          assign image_class = 'object-contain h-fit'
                        elsif block.settings.image_height == 'fixed_height'
                          assign image_class = 'object-cover w-fit h-full'
                        elsif block.settings.image_height == 'fill'
                          assign image_class = 'object-fill h-full'
                        endif
                      %}
                      {%
                        render 'image',
                        image: block.settings.image,
                        picture_class: 'svg-placeholder object-fit object-center transition-transform duration-500 group-hover:scale-110',
                        class: image_class,
                        alt: block.settings.image.alt | default: "Featured content image {{ forloop.index }}"
                      %}
                    </div>
                  {%- else -%}
                    {% comment %} Image placeholder {% endcomment %}
                    <div class="aspect-square w-full">
                      {%
                        render 'image',
                        picture_class: 'svg-placeholder',
                        placeholder: 'image' | placeholder_svg_tag: 'placeholder-svg'
                      %}
                    </div>
                  {%- endif -%}
                </a>
              </div>
            </div>
          {%- when 'product' -%}
            <div class="flex flex-col gap-8 w-full h-full col-span-{{ block.settings.col_span }}">
              {%- if block.settings.product.url != blank -%}
                <a
                  href="{{ block.settings.product.url }}"
                >
                  <div class="aspect-square w-full">
                    {%
                      render 'image',
                      image: block.settings.product.featured_image,
                      alt: first_image_alt = first_image.alt | default: 'Featured content image {{ forloop.index }}',
                      class: 'w-full h-full object-cover object-center transition-transform duration-500 group-hover:scale-110'
                    %}
                  </div>
                </a>

                <a
                  href="{{ block.settings.product.url }}"
                >
                  <div class="flex flex-col gap-2 items-start text-{{ color_scheme }}">
                    <h3 class="font-display text-title-small font-semibold">
                      {{ block.settings.product.title }}
                    </h3>

                    <p class="font-display text-body-medium text-center font-normal">
                      {%- if block.settings.product.compare_at_price > block.settings.product.price -%}
                        <div class="font-display flex gap-6 text-body-medium flex-wrap">
                          <span class="">
                            {{ block.settings.product.price | money_with_currency }}
                          </span>
                          <span class="line-through text-[#757575]">
                            {{ block.settings.product.compare_at_price | money_with_currency }}
                          </span>
                        </div>
                      {%- else -%}
                        {{ block.settings.product.price | money_with_currency }}
                      {%- endif -%}
                    </p>
                  </div>
                </a>
              {%- else -%}
                {% comment %} Product placeholder {% endcomment %}
                <div class="aspect-square w-full">
                  <div
                    class="w-full h-full object-cover object-center transition-transform duration-500 group-hover:scale-110"
                    style="--ratio: 1.0; --preview-ratio: 1.0;"
                  >
                    {{ 'product-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
                  </div>
                </div>

                <div class="flex flex-col gap-2 items-start text-{{ color_scheme }}">
                  <h3 class="font-display text-title-small font-semibold">
                    {{ 'onboarding.product_title' | t }}
                  </h3>

                  <p class="font-display text-body-medium text-center font-normal">
                    {{ 99 | money_with_currency }}
                  </p>
                </div>
              {%- endif -%}
            </div>
          {%- when 'category' -%}
            <div class="flex flex-col gap-8 w-full h-full col-span-{{ block.settings.col_span }}">
              {%- if block.settings.category.url != blank -%}
                <a
                  href="{{ block.settings.category.url }}"
                >
                  <div class="aspect-square w-full">
                    {%
                      render 'image',
                      image: block.settings.category.featured_image,
                      alt: block.settings.category.featured_image.alt | default: "Featured content image {{ forloop.index }}",
                      class="w-full h-full object-cover object-center transition-transform duration-500 group-hover:scale-110"
                    %}
                  </div>
                </a>
                <a
                  href="{{ block.settings.category.url }}"
                >
                  <div class="flex flex-col gap-2 items-start text-{{ color_scheme }}">
                    <h3 class="font-display text-title-small font-semibold">
                      {{ block.settings.category.title }}
                    </h3>
                    <p
                      class="font-display text-body-medium font-normal line-clamp-2"
                    >
                      {{ block.settings.category.description | strip_html }}
                    </p>
                  </div>
                </a>
              {%- else -%}
                {% comment %} Category placeholder {% endcomment %}
                <div class="aspect-square w-full">
                  <div
                    class="w-full h-full object-cover object-center transition-transform duration-500 group-hover:scale-110"
                    style="--ratio: 1.0; --preview-ratio: 1.0;"
                  >
                    {{ 'collection-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
                  </div>
                </div>
                <div class="flex flex-col gap-2 items-start text-{{ color_scheme }}">
                  <h3 class="font-display text-title-small font-semibold">
                    {{ 'onboarding.collection_title' | t }}
                  </h3>
                  <p
                    class="font-display text-body-medium"
                  />
                </div>
              {%- endif -%}
            </div>

          {%- when 'article' -%}
            <div class="flex flex-col gap-8 w-full h-full col-span-{{ block.settings.col_span }}">
              {%- if block.settings.article.url -%}
                <a
                  href="{{ block.settings.article.url }}"
                  class="flex justify-center"
                >
                  <div class="aspect-square w-full">
                    {%
                      render 'image',
                      image: block.settings.article.image,
                      alt: block.settings.article.image.alt | default: 'Featured content image {{ forloop.index }}',
                      class: 'w-full h-full object-cover object-center transition-transform duration-500 group-hover:scale-110'
                    %}
                  </div>
                </a>

                <div class="flex flex-col gap-2 items-start text-{{ color_scheme }}">
                  <h3 class="font-display text-title-small font-semibold">
                    {{ block.settings.article.title }}
                  </h3>
                  <p class="font-display text-body-medium font-normal line-clamp-2">
                    {{ block.settings.article.content | strip_html }}
                  </p>
                </div>
              {%- else -%}
                {% comment %} Article placeholder {% endcomment %}
                <div class="aspect-square w-full">
                  <div
                    class="'w-full h-full object-cover object-center transition-transform duration-500 group-hover:scale-110"
                    style="--ratio: 1.0; --preview-ratio: 1.0;"
                  >
                    {% assign placeholder = 'blog-apparel-' | append: article_placeholder_index %}
                    {{ placeholder | placeholder_svg_tag: 'placeholder-svg' }}

                    {% if article_placeholder_index  == 3 %}
                      {% assign article_placeholder_index = 1 %}
                    {% else %}
                      {% assign article_placeholder_index = article_placeholder_index | plus: 1 %}
                    {% endif %}
                  </div>
                </div>

                <div class="flex flex-col gap-2 items-start text-{{ color_scheme }}">
                  <h3 class="font-display text-title-small font-semibold">
                    {{ 'sections.featured_content.blog_post_title' | t }}
                  </h3>
                  <p class="font-display text-body-medium font-normal">
                    {{ 'sections.featured_content.blog_post_content' | t }}
                  </p>
                </div>
              {%- endif -%}
            </div>
          {%- when 'text' -%}
            <div class="
                flex flex-col gap-8 w-full h-full col-span-{{ block.settings.col_span }} text-{{ block.settings.color_scheme }} bg-{{ block.settings.color_scheme }}
                {% if block.settings.alignment == 'center' %}
                  text-center
                {% elsif block.settings.alignment == 'right' %}
                  text-right
                {% else %}
                  text-left
                {% endif %}
              "
              style="padding: 0.8rem;"
            >
              <div class="
                flex flex-col gap-16 w-full h-full
                {% if block.settings.content_position == 'items-start' %} justify-start
                {% elsif block.settings.content_position == 'items-center' %} justify-center
                {% elsif block.settings.content_position == 'items-end' %} justify-end
                {% endif %}
              " style="padding: {{ block.settings.section_padding | times: 0.1 | round: 1 }}rem;">
              {%- if block.settings.heading != blank or block.settings.description != blank or block.settings.button_text != blank -%}
                {%- if block.settings.heading != blank -%}
                  <h2 class="overflow-hidden font-display font-heading text-heading-{{ block.settings.heading_size | default: 'small' }}">
                    {{ block.settings.heading | inline_editable: 'heading' }}
                  </h2>
                {%- endif -%}
                {%- if block.settings.description != blank -%}
                  <div class="overflow-hidden font-display formatted-text text-content">
                    {{ block.settings.description | inline_editable: 'description' }}
                  </div>
                {%- endif -%}
                {%- if block.settings.button_text != blank -%}
                  <div class="flex flex-row overflow-hidden
                    {% if block.settings.alignment == 'center' %}
                      justify-center
                    {% elsif block.settings.alignment == 'right' %}
                      justify-end
                    {% else %}
                      justify-start
                    {% endif %}
                  ">
                    {% render 'button',
                      type: 'button',
                      text: block.settings.button_text,
                      href: block.settings.button_link,
                      color_scheme: block.settings.color_scheme
                    %}
                  </div>
                {%- endif -%}
              {%- endif -%}
              </div>
            </div>
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.featured_content.name",
  "max_blocks": 10,
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.content_header.content"
    },
    {
      "type": "inline_richtext",
      "id": "pre_heading",
      "label": "t:sections.all.pre_heading.label"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "t:sections.featured_content.settings.heading.label",
      "default": "t:sections.featured_content.settings.heading.default"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "t:sections.all.heading_size.label",
      "default": "small",
      "options": [
        { "value": "small", "label": "t:sections.all.heading_size.options__small.label" },
        { "value": "medium", "label": "t:sections.all.heading_size.options__medium.label" },
        { "value": "large", "label": "t:sections.all.heading_size.options__large.label" },
        { "value": "extra-large", "label": "t:sections.all.heading_size.options__extra_large.label" }
      ]
    },
    {
      "type": "select",
      "id": "header_alignment",
      "label": "t:sections.featured_content.settings.header_alignment.label",
      "default": "left",
      "options": [
        { "value": "left", "label": "t:sections.featured_content.settings.header_alignment.options__left.label" },
        { "value": "center", "label": "t:sections.featured_content.settings.header_alignment.options__center.label" },
        { "value": "right", "label": "t:sections.featured_content.settings.header_alignment.options__right.label" }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.colors_header.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.layout_header.content"
    },
    {
      "type": "range",
      "id": "columns",
      "label": "t:sections.featured_content.settings.columns.label",
      "info": "t:sections.featured_content.settings.columns.info",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 3
    },
    {
      "type": "range",
      "id": "top_padding",
      "label": "t:sections.all.padding.padding_top",
      "min": 0,
      "max": 96,
      "step": 1,
      "unit": "px",
      "default": 64
    },
    {
      "type": "range",
      "id": "bottom_padding",
      "label": "t:sections.all.padding.padding_bottom",
      "min": 0,
      "max": 96,
      "step": 1,
      "unit": "px",
      "default": 64
    },
    {
      "type": "header",
      "content": "t:sections.all.mobile_layout_header.content"
    },
    {
      "type": "select",
      "id": "mobile_columns",
      "label": "t:sections.featured_content.settings.mobile_columns.label",
      "default": "1 column",
      "options": [
        { "value": "1 column", "label": "t:sections.featured_content.settings.mobile_columns.options__1.label" },
        { "value": "2 columns", "label": "t:sections.featured_content.settings.mobile_columns.options__2.label" }
      ]
    }
  ],
  "blocks": [
    {
      "type": "image_picker",
      "name": "t:sections.featured_content.blocks.image_picker.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.featured_content.blocks.image_picker.settings.image.label"
        },
        {
          "type": "select",
          "id": "image_height",
          "label": "t:sections.featured_content.blocks.image_picker.settings.image_height.label",
          "default": "fixed_height",
          "options": [
            { "value": "auto", "label": "t:sections.featured_content.blocks.image_picker.settings.image_height.options__auto.label" },
            { "value": "fixed_height", "label": "t:sections.featured_content.blocks.image_picker.settings.image_height.options__fixed_height.label" },
            { "value": "fill", "label": "t:sections.featured_content.blocks.image_picker.settings.image_height.options__fill.label" },
            { "value": "contain", "label": "t:sections.featured_content.blocks.image_picker.settings.image_height.options__contain.label" }
          ]
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.featured_content.blocks.image_picker.settings.link.label"
        },
        {
          "type": "range",
          "id": "col_span",
          "label": "t:sections.featured_content.blocks.image_picker.settings.col_span.label",
          "min": 1,
          "max": 5,
          "step": 1,
          "default": 1
        }
      ]
    },
    {
      "type": "category",
      "name": "t:sections.featured_content.blocks.category.name",
      "settings": [
        {
          "type": "collection",
          "id": "category",
          "label": "t:sections.featured_content.blocks.category.settings.category.label"
        },
        {
          "type": "range",
          "id": "col_span",
          "label": "t:sections.featured_content.blocks.category.settings.col_span.label",
          "info": "t:sections.featured_content.blocks.category.settings.col_span.info",
          "min": 1,
          "max": 12,
          "step": 1,
          "default": 1
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.featured_content.blocks.text.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "label": "t:sections.featured_content.blocks.text.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "t:sections.all.heading_size.label",
          "default": "small",
          "options": [
            { "value": "small", "label": "t:sections.all.heading_size.options__small.label" },
            { "value": "medium", "label": "t:sections.all.heading_size.options__medium.label" },
            { "value": "large", "label": "t:sections.all.heading_size.options__large.label" },
            { "value": "extra-large", "label": "t:sections.all.heading_size.options__extra_large.label" }
          ]
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "t:sections.featured_content.blocks.text.settings.description.label"
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "t:sections.featured_content.blocks.text.settings.alignment.label",
          "default": "left",
          "options": [
            { "value": "left", "label": "t:sections.featured_content.blocks.text.settings.alignment.options__left.label" },
            { "value": "center", "label": "t:sections.featured_content.blocks.text.settings.alignment.options__center.label" },
            { "value": "right", "label": "t:sections.featured_content.blocks.text.settings.alignment.options__right.label" }
          ]
        },
        {
          "type": "select",
          "id": "content_position",
          "label": "t:sections.featured_content.blocks.text.settings.content_position.label",
          "default": "items-start",
          "options": [
            { "value": "items-start", "label": "t:sections.featured_content.blocks.text.settings.content_position.options__items_start.label" },
            { "value": "items-center", "label": "t:sections.featured_content.blocks.text.settings.content_position.options__items_center.label" },
            { "value": "items-end", "label": "t:sections.featured_content.blocks.text.settings.content_position.options__items_end.label" }
          ]
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "t:sections.featured_content.blocks.text.settings.button_text.label"
        },
        {
          "type": "text",
          "id": "button_link",
          "label": "t:sections.featured_content.blocks.text.settings.button_link.label"
        },
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "t:sections.all.colors.label",
          "default": "scheme-1"
        },
        {
          "type": "range",
          "id": "section_padding",
          "label": "t:sections.featured_content.blocks.text.settings.section_padding.label",
          "info": "t:sections.featured_content.blocks.text.settings.section_padding.info",
          "min": 0,
          "max": 96,
          "step": 1,
          "unit": "px",
          "default": 0
        },
        {
          "type": "range",
          "id": "col_span",
          "label": "t:sections.featured_content.blocks.text.settings.col_span.label",
          "min": 1,
          "max": 5,
          "step": 1,
          "default": 1
        }
      ]
    },
    {
      "type": "product",
      "name": "t:sections.featured_content.blocks.product.name",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "t:sections.featured_content.blocks.product.settings.product.label"
        },
        {
          "type": "range",
          "id": "col_span",
          "label": "t:sections.featured_content.blocks.product.settings.col_span.label",
          "min": 1,
          "max": 5,
          "step": 1,
          "default": 1
        }
      ]
    },
    {
      "type": "article",
      "name": "t:sections.featured_content.blocks.article.name",
      "settings": [
        {
          "type": "article",
          "id": "article",
          "label": "t:sections.featured_content.blocks.article.settings.article.label"
        },
        {
          "type": "range",
          "id": "col_span",
          "label": "t:sections.featured_content.blocks.article.settings.col_span.label",
          "min": 1,
          "max": 12,
          "step": 1,
          "default": 1
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured_content.presets.name",
      "blocks": [
        { "type": "article" },
        { "type": "article" },
        { "type": "article" }
      ]
    }
  ]
}
{% endschema %}
