{%- liquid
  assign color_scheme = section.settings.color_scheme
  assign logo_color = settings.logo_color
-%}

{%- liquid
  assign reduced_padding_top = section.settings.top_padding | times: 0.55 | round: 0
  assign reduced_padding_bottom = section.settings.bottom_padding | times: 0.55 | round: 0
-%}

<style>
  .responsive-padding-{{ section.id }} {
    padding-top: {{ reduced_padding_top }}px;
    padding-bottom: {{ reduced_padding_bottom }}px;
  }

  @media (min-width: 1024px) {
    .responsive-padding-{{ section.id }} {
      padding-top: {{ section.settings.top_padding }}px;
      padding-bottom: {{ section.settings.bottom_padding }}px;
    }
  }
</style>

<div
  class="bg-{{ color_scheme }} bg-[#F5F5F5] pt-[64px] pb-[24px] pr-[24px] pl-[24px] md:pl-[160px] md:pr-[160px] md:pt-[96px] md:pb-[32px] responsive-padding-{{ section.id }}"
>
  <div class="max-w-[1046px] 2xl:max-w-[1380px] mx-auto">
    {% assign all_menus_have_no_sublinks = true %}

    {% for block in section.blocks %}
      {% assign menu = block.settings.menu %}
      {% if menu != blank and linklists[menu] %}
        {% for link in linklists[menu].links %}
          {% if link.links.size > 0 %}
            {% assign all_menus_have_no_sublinks = false %}
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endfor %}

    {%- assign footer_classes = 'grid grid-cols-1 gap-[32px] text-' | append: color_scheme -%}
    {%- if all_menus_have_no_sublinks == false -%}
      {%- assign footer_classes = 'grid grid-cols-1 md:grid-cols-3 gap-[32px] text-' | append: color_scheme -%}
    {%- endif -%}

    <footer class="{{ footer_classes }}">
      {%- for block in section.blocks -%}
        {% if block.type == 'menu' %}
          {% assign menu = block.settings.menu %}
          {% if menu != blank and linklists[menu] %}
            {% assign menu_has_sublinks = false %}
            {% for link in linklists[menu].links %}
              {% if link.links.size > 0 %}
                {% assign menu_has_sublinks = true %}
              {% endif %}
            {% endfor %}

            {% if menu_has_sublinks %}
              {% for link in linklists[menu].links %}
                <div class="flex flex-col gap-4 md:w-[327px]">
                  <div class="flex flex-col gap-[24px]">
                    {%- if link.url == '#' -%}
                      <div class="font-display text-title-large">{{ link.title }}</div>
                    {%- else -%}
                      <a href="{{ link.url }}" title="{{ link.title }}" class="font-display text-title-large">
                        {{ link.title }}
                      </a>
                    {%- endif -%}
                    {%- if link.links.size > 0 -%}
                      <ul class="flex flex-col gap-[16px] text-body-large font-display text-secondary-{{ color_scheme }}">
                        {%- for child_link in link.links -%}
                          <li>
                            <a href="{{ child_link.url }}" title="{{ child_link.title }}">
                              {{ child_link.title }}
                            </a>
                          </li>
                        {%- endfor -%}
                      </ul>
                    {%- endif -%}
                  </div>
                </div>
              {% endfor %}
            {% else %}
              <div class="flex flex-col gap-4 md:w-[327px]">
                <div class="font-display text-title-large">
                  {{ block.settings.single_column_heading | default: 'Quick Links' }}
                </div>
                <ul class="flex flex-col gap-[16px] text-body-large font-display text-secondary-{{ color_scheme }}">
                  {% for link in linklists[menu].links %}
                    <li>
                      <a href="{{ link.url }}" title="{{ link.title }}">
                        {{ link.title }}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            {% endif %}
          {% endif %}
        {% elsif block.type == 'brand_info' %}
          <div class="flex flex-col">
            <div class="flex flex-col gap-[24px]">
              <h2 class="font-display text-title-large text-{{ color_scheme }}">{{ block.settings.footer_title }}</h2>
              <div class="flex flex-col gap-[16px] text-body-large font-display text-secondary-{{ color_scheme }}">
                {{ block.settings.footer_text }}
              </div>
              {%- if block.settings.show_social_icons -%}
                <div class="flex gap-4 pt-[16px] pb-[16px]">
                  {% render 'social-icon-list' %}
                </div>
              {%- endif -%}
            </div>
          </div>
        {% endif %}
      {%- endfor -%}
    </footer>

    <div class="border-t border-[#E0E0E0] w-full mt-[32px] mb-[32px]"></div>

    <div class="flex flex-col items-start gap-[8px]">
      <div class="flex w-full justify-between">
        {%- assign logo_color = settings.logo_color -%}

        <a
          href="{{ routes.root_url }}"
        >
          {%- if settings.logo != blank -%}
            {{
              settings.logo
              | image_url: width: 600
              | image_tag: width: settings.logo_width, alt: settings.logo.alt, class: 'object-contain'
              | default: shop.name, preload: true
            }}
          {%- else -%}
            <h1
              class="flex items-center justify-center logo-text font-bold text-[22px] font-display"
              style="color: {{ logo_color }};"
            >
              {{ settings.logo_text }}
            </h1>
          {%- endif -%}
        </a>

        {% if section.settings.show_payment_icons %}
          <ul class="flex gap-[12px]" role="list">
            {%- for type in shop.enabled_payment_types -%}
              <li class="list-payment__item hidden sm:block">
                {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
              </li>
            {%- endfor -%}
          </ul>
        {% endif %}
      </div>
      <div class="relative">
        {% if section.settings.show_language_selector %}
          <button class="text-body-small font-display text-black" data-target="[data-modal='language']">
            {{ localization.language.endonym_name | capitalize }}
          </button>
        {% endif %}

        <div class="fixed inset-0 z-50 hidden bg-black/50" data-modal="language">
          {%- render 'language-local' -%}
        </div>
        {% if section.settings.show_currency_selector %}
          <button class="text-body-small font-display text-black" data-target="[data-modal='currency']">
            {{ localization.country.currency.iso_code }}
            {{ localization.country.currency.symbol }}
          </button>
        {% endif %}

        <div class="fixed inset-0 z-50 hidden bg-black/50" data-modal="currency">
          {%- render 'country-local' -%}
        </div>
      </div>

      {% if section.settings.show_payment_icons %}
        <ul class="flex gap-[12px] flex-wrap" role="list">
          {%- for type in shop.enabled_payment_types -%}
            <li class="list-payment__item block sm:hidden">
              {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
            </li>
          {%- endfor -%}
        </ul>
      {% endif %}

      {% if section.settings.show_copyright %}
        <div class="text-xs text-[#616161] font-display text-body-medium">
          © {{ 'now' | date: '%Y' }}
          {{ shop.name -}}
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.footer.name",
  "settings": [
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "checkbox",
      "id": "show_copyright",
      "label": "t:sections.footer.settings.show_copyright.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_payment_icons",
      "label": "t:sections.footer.settings.show_payment_icons.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_language_selector",
      "label": "t:sections.footer.settings.show_language_selector.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_currency_selector",
      "label": "t:sections.footer.settings.show_currency_selector.label",
      "default": true
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-3"
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "range",
      "id": "top_padding",
      "label": "t:sections.all.top_padding.label",
      "info": "t:sections.all.top_padding.info",
      "min": 0,
      "max": 96,
      "step": 1,
      "unit": "px",
      "default": 96
    },
    {
      "type": "range",
      "id": "bottom_padding",
      "label": "t:sections.all.bottom_padding.label",
      "info": "t:sections.all.bottom_padding.info",
      "min": 0,
      "max": 96,
      "step": 1,
      "unit": "px",
      "default": 32
    }
  ],
  "blocks": [
    {
      "type": "menu",
      "name": "Footer Menu",
      "settings": [
        {
          "type": "link_list",
          "id": "menu",
          "label": "Select a Menu"
        },
        {
          "type": "text",
          "id": "single_column_heading",
          "label": "Heading for Single Column Menu",
          "default": "Quick Links"
        }
      ]
    },
    {
      "type": "brand_info",
      "name": "Brand Information",
      "settings": [
        {
          "type": "text",
          "id": "footer_title",
          "label": "Footer Title",
          "default": "Our Mission"
        },
        {
          "type": "textarea",
          "id": "footer_text",
          "label": "Footer Text",
          "default": "Quality materials, good designs, craftsmanship, and sustainability."
        },
        {
          "type": "checkbox",
          "id": "show_social_icons",
          "label": "Show Social Icons",
          "default": true
        }
      ]
    }
  ]
}
{% endschema %}
