{% liquid
  assign color_scheme = section.settings.color_scheme
  assign content_color_scheme = section.settings.content_color_scheme
  assign transparent = section.settings.transparent
  assign content_alignment = section.settings.content_alignment
  assign opacity = section.settings.overlay_opacity | times: 0.01
%}

<div
  class="
        w-full relative bg-{{ color_scheme }}
        h-auto text-{{ section.settings.text_alignment | default: 'left' }}"
>
  <div class="relative w-full h-full">
    <div
      class="
        relative w-full
           {% case section.settings.banner_height %}
           {% when 'small' %} h-192 sm:min-h-192 sm:max-h-192
           {% when 'medium' %} h-384 sm:min-h-384 sm:max-h-384
           {% when 'large' %}h-600 sm:min-h-600 sm:max-h-600
           {% when 'screen' %} h-screen
           {% else %} h-auto
         {% endcase %}
        overflow-hidden
      "
    >
      {% liquid 
        assign image_class = 'object-contain h-full'
        if section.settings.image_height == 'auto'
          assign image_class = 'object-contain h-fit'
        elsif section.settings.image_height == 'fixed_height'
          assign image_class = 'object-cover w-fit h-full'
        elsif section.settings.image_height == 'fill'
          assign image_class = 'object-cover object-center w-full h-full'
        endif

        assign picture_class = 'svg-placeholder object-fit object-center justify-items-center'
        assign mobile_picture_class = 'svg-placeholder flex justify-center justify-items-center'

        if section.settings.banner_height == 'adapt'
          assign image_class = 'w-full h-full object-cover object-center'
          assign picture_class = ''
          assign mobile_picture_class = ''
        endif

        assign main_image_class = 'block'
        if section.settings.mobile_image != blank
          assign main_image_class = 'hidden sm:block'
        endif
      %}
      <div class="{{ main_image_class }}">
        {% render 'image',
          placeholder: 'hero-apparel-1',
          image: section.settings.image,
          picture_class: picture_class,
          class: image_class
        %}
      </div>
      {%- if section.settings.mobile_image != blank -%}
        {%- comment -%}
          The mobile image is always displayed with full height and object-cover. It ignores image_height setting.
        {%- endcomment -%}
        <div class="block sm:hidden">
          {% render 'image',
            placeholder: 'hero-apparel-1',
            image: section.settings.mobile_image,
            picture_class: mobile_picture_class,
            class: 'object-cover w-fit h-full'
          %}
        </div>
      {%- endif -%}
    </div>
    <div
      class="absolute inset-0 bg-black"
      style="background-color: {{ section.settings.overlay_color }}; opacity: {{ opacity }};"
    ></div>
  </div>
  {%- if section.blocks.size > 0 -%}
    <div class="absolute inset-0 w-full h-full pl-24 pr-24 lg:pl-160 lg:pr-160">
      <div class="max-w-container m-auto w-full h-full flex {{ content_alignment }}">
        <div
          class="
            flex flex-col gap-32 max-w-450 p-24
            {% if transparent %}bg-transparent text-{{ section.settings.color_scheme }} {% else %}bg-{{ content_color_scheme }} text-{{ content_color_scheme }} {% endif %}
            {% if content_alignment == 'items-center justify-start' %}
            {% elsif content_alignment == 'items-center justify-end' %}
            {% else %}
            {% endif %}
            {% case section.settings.text_alignment %}
              {% when 'center' %} items-center
              {% when 'right' %} items-end
              {% else %} items-start
            {% endcase %}
          "
          style="
            {% if content_alignment contains 'items-start' %} padding-top: {{ section.settings.vertical_padding | times: 0.1 | round: 1 }}rem; {% endif %}
            {% if content_alignment contains 'items-end' %} padding-bottom: {{ section.settings.vertical_padding | times: 0.1 | round: 1 }}rem; {% endif %}
            {% if content_alignment contains 'justify-start' %} padding-left: {{ section.settings.horizontal_padding | times: 0.1 | round: 1 }}rem; {% endif %}
            {% if content_alignment contains 'justify-end' %} padding-right: {{ section.settings.horizontal_padding | times: 0.1 | round: 1 }}rem; {% endif %}
          "
        >
          <div class="flex flex-col gap-8">
            {%- for block in section.blocks -%}
              {%- case block.type -%}
                {%- when 'pre_heading' -%}
                  <p class="font-display font-pre-heading text-pre-heading" {{ block.swell_attributes }}>
                    {{ block.settings.pre_heading | inline_editable: 'pre_heading' }}
                  </p>
                {%- when 'heading' -%}
                  <h2 class="font-display font-heading text-heading-{{ section.settings.heading_size | default: 'small' }}" {{ block.swell_attributes }}>
                    {{ block.settings.heading | inline_editable: 'heading' }}
                  </h2>
                {%- when 'text' -%}
                  <div class="font-display formatted-text text-content" {{ block.swell_attributes }}>
                    {{ block.settings.text | inline_editable: 'text' }}
                  </div>
              {%- endcase -%}
            {%- endfor -%}
          </div>
          {%- for block in section.blocks -%}
            {%- if transparent == false -%}
              {%- assign button_color_scheme = content_color_scheme -%}
            {%- else -%}
              {%- assign button_color_scheme = color_scheme -%}
            {%- endif -%}
            {%- case block.type -%}
              {%- when 'button' -%}
                <div class="flex" {{ block.swell_attributes }}>
                  {% render 'button',
                    text: block.settings.button_label,
                    href: block.settings.button_link,
                    color_scheme: button_color_scheme,
                    variant: block.settings.button_variant
                  %}
                </div>
            {%- endcase -%}
          {%- endfor -%}
        </div>
      </div>
    </div>
  {%- endif -%}
</div>

{% schema %}
{
  "name": "t:sections.image_banner.name",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.content_header.content"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image_banner.settings.image.label"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "t:sections.image_banner.settings.mobile_image.label"
    },
    {
      "type": "color",
      "id": "overlay_color",
      "label": "t:sections.image_banner.settings.overlay_color.label",
      "default": "#7A7A7A"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "label": "t:sections.image_banner.settings.overlay_opacity.label",
      "default": 10,
      "min": 0,
      "max": 60,
      "step": 10,
      "unit": "%",
      "info": "t:sections.image_banner.settings.overlay_opacity.info"
    },
    {
      "type": "select",
      "id": "banner_height",
      "label": "t:sections.image_banner.settings.banner_height.label",
      "default": "large",
      "options": [
        { "value": "adapt", "label": "t:sections.image_banner.settings.banner_height.options__adapt.label" },
        { "value": "small", "label": "t:sections.image_banner.settings.banner_height.options__small.label" },
        { "value": "medium", "label": "t:sections.image_banner.settings.banner_height.options__medium.label" },
        { "value": "large", "label": "t:sections.image_banner.settings.banner_height.options__large.label" },
        { "value": "screen", "label": "t:sections.image_banner.settings.banner_height.options__screen.label" }
      ]
    },
    {
      "type": "select",
      "id": "image_height",
      "label": "t:sections.image_banner.settings.image_height.label",
      "default": "fill",
      "options": [
        { "value": "auto", "label": "t:sections.image_banner.settings.image_height.options__auto.label" },
        { "value": "fixed_height", "label": "t:sections.image_banner.settings.image_height.options__fixed_height.label" },
        { "value": "fill", "label": "t:sections.image_banner.settings.image_height.options__fill.label" },
        { "value": "contain", "label": "t:sections.image_banner.settings.image_height.options__contain.label" }
      ],
      "info": "t:sections.image_banner.settings.image_height.info",
      "conditions": {
        "banner_height": {
          "$ne": "adapt"
        }
      }
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "t:sections.all.heading_size.label",
      "default": "medium",
      "options": [
        { "value": "small", "label": "t:sections.all.heading_size.options__small.label" },
        { "value": "medium", "label": "t:sections.all.heading_size.options__medium.label" },
        { "value": "large", "label": "t:sections.all.heading_size.options__large.label" },
        { "value": "extra-large", "label": "t:sections.all.heading_size.options__extra_large.label" }
      ]
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "t:sections.all.text_alignment.label",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.text_alignment.options__left.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.text_alignment.options__center.label"
        },
        {
          "value": "right",
          "label": "t:sections.all.text_alignment.options__right.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.colors_header.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "color_scheme",
      "id": "content_color_scheme",
      "label": "t:sections.image_banner.settings.content_color_scheme.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.layout_header.content"
    },
    {
      "type": "select",
      "id": "content_alignment",
      "label": "t:sections.all.content_alignment.label",
      "default": "items-center justify-center",
      "options": [
        { "value": "items-start justify-start", "label": "t:sections.all.content_alignment.options__top_left.label" },
        { "value": "items-start justify-center", "label": "t:sections.all.content_alignment.options__top_center.label" },
        { "value": "items-start justify-end", "label": "t:sections.all.content_alignment.options__top_right.label" },
        { "value": "items-center justify-start", "label": "t:sections.all.content_alignment.options__middle_left.label" },
        { "value": "items-center justify-center", "label": "t:sections.all.content_alignment.options__middle_center.label" },
        { "value": "items-center justify-end", "label": "t:sections.all.content_alignment.options__middle_right.label" },
        { "value": "items-end justify-start", "label": "t:sections.all.content_alignment.options__bottom_left.label" },
        { "value": "items-end justify-center", "label": "t:sections.all.content_alignment.options__bottom_center.label" },
        { "value": "items-end justify-end", "label": "t:sections.all.content_alignment.options__bottom_right.label" }
      ]
    },
    {
      "type": "range",
      "id": "vertical_padding",
      "label": "t:sections.all.padding.padding_vertical",
      "default": 16,
      "min": 0,
      "max": 160,
      "step": 4,
      "unit": "px",
      "conditions": {
        "content_alignment": {
          "$in": [
            "items-start justify-start",
            "items-start justify-center",
            "items-start justify-end",
            "items-end justify-start",
            "items-end justify-center",
            "items-end justify-end"
          ]
        }
      }
    },
    {
      "type": "range",
      "id": "horizontal_padding",
      "label": "t:sections.all.padding.padding_horizontal",
      "default": 0,
      "min": 0,
      "max": 160,
      "step": 4,
      "unit": "px",
      "conditions": {
        "content_alignment": {
          "$in": [
            "items-start justify-start",
            "items-start justify-end",
            "items-center justify-start",
            "items-center justify-end",
            "items-end justify-start",
            "items-end justify-end"
          ]
        }
      }
    },
    {
      "type": "checkbox",
      "id": "transparent",
      "label": "t:sections.image_banner.settings.transparent.label",
      "info": "t:sections.image_banner.settings.transparent.info",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "pre_heading",
      "name": "t:sections.image_banner.blocks.pre_heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "pre_heading",
          "label": "t:sections.image_banner.blocks.pre_heading.settings.pre_heading.label",
          "default": "t:sections.image_banner.blocks.pre_heading.settings.pre_heading.default"
        }
      ]
    },
    {
      "type": "heading",
      "name": "t:sections.image_banner.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "label": "t:sections.image_banner.blocks.heading.settings.heading.label",
          "default": "t:sections.image_banner.blocks.heading.settings.heading.default"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.image_banner.blocks.text.name",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "t:sections.image_banner.blocks.text.settings.text.label",
          "default": "t:sections.image_banner.blocks.text.settings.text.default"
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.image_banner.blocks.button.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "label": "t:sections.image_banner.blocks.button.settings.button_label.label",
          "info": "t:sections.image_banner.blocks.button.settings.button_label.info",
          "default": "t:sections.image_banner.blocks.button.settings.button_label.default"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.image_banner.blocks.button.settings.button_link.label"
        },
        {
          "type": "select",
          "id": "button_variant",
          "label": "t:sections.all.button_variant.label",
          "options": [
            { "value": "solid", "label": "t:sections.all.button_variant.options__solid.label" },
            { "value": "outline", "label": "t:sections.all.button_variant.options__outline.label" }
          ],
          "default": "solid"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.image_banner.presets.name",
      "blocks": [
        { "type": "heading" },
        { "type": "text" },
        { "type": "button" }
      ]
    }
  ]
}
{% endschema %}
