{%- liquid
  assign color_scheme = section.settings.color_scheme
  assign top_padding = section.settings.top_padding | times: 0.1 | round: 1
  assign bottom_padding = section.settings.bottom_padding | times: 0.1 | round: 1
  assign reduced_padding_top = top_padding | times: 0.55 | round: 2
  assign reduced_padding_bottom = bottom_padding | times: 0.55 | round: 2

  assign div_class = 'pl-24 pr-24 form-container flex flex-col gap-32 items-start w-full sm:w-auto'
  assign input_class = 'input-field px-12 py-10 text-title-medium outline-none border border-color-' | append: color_scheme
  assign input_label_class = 'text-body-medium text-secondary-' | append: color_scheme
  assign link_class = 'font-display text-body-medium font-medium hover:underline underline-offset-2'
-%}

{% style %}
  .responsive-padding-{{ section.id }} {
    padding-top: {{ reduced_padding_top }}rem;
    padding-bottom: {{ reduced_padding_bottom }}rem;
  }

  @media (min-width: 1024px) {
    .responsive-padding-{{ section.id }} {
      padding-top: {{ top_padding }}rem;
      padding-bottom: {{ bottom_padding }}rem;
    }
  }

  .input-field::placeholder {
    color: var(--color-{{ color_scheme }}-text-secondary);
    font-size: calc(1.6rem * var(--font-scale));
    line-height: calc(2.4rem * var(--font-scale));
    font-weight: 400;
  }

  .section-width {
    @media (min-width: 40rem) {
      width: 42rem;
    }
  }

  .account-login-section {
    button[disabled] {
      opacity: 0.2;
      pointer-events: none;
    }
  }
{% endstyle %}

<account-login
  class="bg-{{ color_scheme }} text-{{ color_scheme }} responsive-padding-{{ section.id }} flex flex-col items-center justify-start account-login-section"
>
  <div id="recover" class="{{ div_class }}">
    {% render 'recover-password' %}
  </div>
  <div id="login" class="{{ div_class }}">
    <h1 class="font-display text-title-large">{{ 'sections.login.title' | t }}</h1>

    {% form 'customer_login'
      , class: 'w-full'
    %}
      {%- if form.errors -%}
        <div class="bg-red-50 w-full flex flex-col rounded-md border border-red-600 mb-16 p-16">
          <h2 tabindex="-1" autofocus class="outline-none body-large text-red-600">
            <span class="sr-only">{{ 'sections.login.error' | t }}</span>
            {{ 'sections.login.error' | t }}
          </h2>
          <div class="font-display text-body-medium text-red-600">
            {{ form.errors | default_errors }}
          </div>
        </div>
      {%- endif -%}
      <div class="flex section-width max-w-full flex-col gap-16">
        <div class="relative flex flex-col gap-6">
          <span class="{{ input_label_class }}">
            {{ 'sections.login.email' | t }}
          </span>
          <input
            class="{{ input_class }}"
            placeholder="{{ 'sections.login.email_placeholder' | t }}"
            type="email"
            name="customer[email]"
            id="customer[email]"
            autocomplete="email"
          />
        </div>
        <div class="relative flex flex-col gap-6">
          <span class="{{ input_label_class }}">
            {{ 'sections.login.password' | t }}
          </span>
          <input
            class="{{ input_class }}"
            placeholder="{{ 'sections.login.password_placeholder' | t }}"
            type="password"
            name="customer[password]"
            id="customer[password]"
            autocomplete="current-password"
          />
        </div>
        <a
          href="#recover"
          class="{{ link_class }}"
        >
          {{ 'sections.login.forgot_password' | t }}
        </a>
      </div>
      <div class="flex gap-7 items-center justify-center mt-32 flex-col">
        <div class="w-full">
          {% assign login_button_text = 'sections.login.title' | t %}
          {% render 'button',
            name: 'submit',
            id: 'submit-login',
            type: 'submit',
            text: login_button_text,
            class: 'w-full px-24 py-12 text-body-medium',
            color_scheme: color_scheme,
            variant: section.settings.button_variant,
            disabled: true
          %}
        </div>
        <div class="flex items-center justify-center">
          <a
            href="{{ routes.account_register_url }}"
            class="{{ link_class }}"
          >
            {{ 'sections.login.create_account' | t}}
          </a>
        </div>
      </div>
    {% endform %}
  </div>
</account-login>

{% schema %}
{
  "name": "Login",
  "tag": "section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    },
    {
      "type": "select",
      "id": "button_variant",
      "label": "Button style",
      "options": [
        { "value": "solid", "label": "Primary" },
        { "value": "outline", "label": "Secondary" }
      ],
      "default": "solid"
    },
    {
      "type": "range",
      "id": "top_padding",
      "label": "Top padding",
      "min": 0,
      "max": 96,
      "step": 1,
      "unit": "px",
      "default": 96
    },
    {
      "type": "range",
      "id": "bottom_padding",
      "label": "Bottom padding",
      "min": 0,
      "max": 96,
      "step": 1,
      "unit": "px",
      "default": 96
    }
  ]
}
{% endschema %}
