{%- liquid
  assign reduced_padding_top = section.settings.top_padding | times: 0.55 | round: 0
  assign reduced_padding_bottom = section.settings.bottom_padding | times: 0.55 | round: 0
-%}

{% style %}
  .responsive-padding-{{ section.id }} {
    padding-top: {{ reduced_padding_top }}px;
    padding-bottom: {{ reduced_padding_bottom }}px;
  }

  @media (min-width: 1024px) {
    .responsive-padding-{{ section.id }} {
      padding-top: {{ section.settings.top_padding }}px;
      padding-bottom: {{ section.settings.bottom_padding }}px;
    }
  }
{% endstyle %}

<div
  class="bg-{{section.settings.color_scheme}} flex min-h-dvh flex-col items-center justify-start gap-4 pt-[24px] pb-[64px] pl-[24px] pr-[24px] sm:pt-[32px] sm:pb-[96px] responsive-padding-{{ section.id }}"
>
  <div id="login-form" class="form-container flex flex-col gap-[32px] items-start w-full sm:w-auto">
    <h1 class="font-display text-headline-medium">Login</h1>

    {% form 'customer_login', novalidate: 'novalidate', class: 'w-full' %}
      {%- if form.errors -%}
        <div class="bg-red-50 w-full flex flex-col rounded-md border border-red-600 mb-4 p-4">
          <h2 tabindex="-1" autofocus class="outline-none text-base text-red-600">
            <span class="sr-only">Your login attempt was unsuccessful. Please try again.</span>
            Your login attempt was unsuccessful. Please try again.
          </h2>
          <div class="font-display text-body-medium text-red-600">
            {{ form.errors | default_errors }}
          </div>
        </div>
      {%- endif -%}
      <div class="flex max-w-[354px] sm:w-[406px] max-w-full flex-col gap-4">
        <div class="relative">
          {%- assign email_text = 'Email address' -%}
          {%- assign password_text = 'Password' -%}

          {% render 'input',
            type: 'email',
            name: 'customer[email]',
            id: 'customer[email]',
            autocomplete: 'email',
            placeholder: email_text,
            variant: 'account'
          %}
        </div>
        <div class="relative">
          {% render 'input',
            type: 'password',
            name: 'customer[password]',
            id: 'customer[password]',
            autocomplete: 'current-password',
            placeholder: password_text,
            variant: 'account'
          %}
        </div>
        <a
          href="#recover"
          id="toggle-recover"
          class="font-display text-body-medium underline underline-offset-2"
        >
          Forgot your password?
        </a>
      </div>
      <div class="flex gap-[16px] sm:gap-[32px] items-center justify-end mt-[32px] flex-col-reverse sm:flex-row">
        <div class="flex items-center justify-center gap-1">
          <a
            href="{{ routes.account_register_url }}"
            class="font-display text-body-medium underline underline-offset-2"
          >
            Create account
          </a>
        </div>
        <div class="sm:w-[99px] w-full">
          {%- assign sign_in_text = 'Log in' -%}
          {% render 'button',
            type: 'submit',
            text: sign_in_text,
            color_scheme: section.settings.color_scheme,
            variant: section.settings.button_variant
          %}
        </div>
      </div>
    {% endform %}
  </div>

  <div id="recover-password-form" class="form-container hidden flex flex-col gap-[32px] items-start w-full sm:w-auto">
    {% render 'recover-password', color_scheme: section.settings.color_scheme %}
  </div>
</div>

{% schema %}
{
  "name": "Login",
  "tag": "section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    },
    {
      "type": "select",
      "id": "button_variant",
      "label": "Button Style",
      "options": [
        { "value": "solid", "label": "Solid" },
        { "value": "outline", "label": "Outline" }
      ],
      "default": "solid"
    },
    {
      "type": "range",
      "id": "top_padding",
      "label": "Top padding",
      "min": 0,
      "max": 96,
      "step": 1,
      "unit": "px",
      "default": 96
    },
    {
      "type": "range",
      "id": "bottom_padding",
      "label": "Bottom padding",
      "min": 0,
      "max": 96,
      "step": 1,
      "unit": "px",
      "default": 96
    }
  ]
}
{% endschema %}
