{{ 'customer.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="customer order section-{{ section.id }}-padding">
  <account-subscription>
    <svg style="display:none">
      <symbol id="icon-discount" viewBox="0 0 12 12">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M7 0h3a2 2 0 012 2v3a1 1 0 01-.3.7l-6 6a1 1 0 01-1.4 0l-4-4a1 1 0 010-1.4l6-6A1 1 0 017 0zm2 2a1 1 0 102 0 1 1 0 00-2 0z" fill="currentColor">
      </symbol>
    </svg>
    <div>
      <h1 class="customer__title">{{ 'customer.account.title' | t }}</h1>
      <a href="{{ routes.account_url }}?tab=subscriptions">
        <ion-icon name="arrow-back" class="relative h-24 w-24 top-6"></ion-icon> {{ 'customer.subscription.return' | t }}
      </a>
    </div>

    <div id="main-area">
      <div>
        <h2 class="pb-16">{{ 'customer.subscription.title' | t: name: subscription.number }}</h2>
        {%- render 'subscription',
          subscription: subscription
        -%}

        <table role="table" class="order-details">
          <thead role="rowgroup">
            <tr role="row">
              <th id="ColumnProduct" scope="col" role="columnheader">{{ 'customer.order.product' | t }}</th>
              <th id="ColumnSku" scope="col" role="columnheader">{{ 'customer.order.sku' | t }}</th>
              <th id="ColumnPrice" scope="col" role="columnheader">{{ 'customer.order.price' | t }}</th>
              <th id="ColumnQuantity" scope="col" role="columnheader">{{ 'customer.order.quantity' | t }}</th>
              <th id="ColumnTotal" scope="col" role="columnheader">{{ 'customer.order.total' | t }}</th>
            </tr>
          </thead>

          <tbody role="rowgroup">
            <tr role="row">
              <td
                id="Row{{ line_item.key }}"
                headers="ColumnProduct"
                role="rowheader"
                scope="row"
                data-label="{{ 'customer.order.product' | t }}"
              >
                <div>
                  <p>{{ subscription.product.name | escape }}</p>
                </div>
              </td>
              <td
                headers="Row{{ line_item.key }} ColumnSku"
                role="cell"
                data-label="{{ 'customer.order.sku' | t }}"
              >
                <p>{{ subscription.product.sku }}</p>
              </td>
              <td
                headers="Row{{ line_item.key }} ColumnPrice"
                role="cell"
                data-label="{{ 'customer.order.price' | t }}"
              >
                {{ subscription.price | money }}
              </td>
              <td
                headers="Row{{ line_item.key }} ColumnQuantity"
                role="cell"
                data-label="{{ 'customer.order.quantity' | t }}"
              >
                {{ subscription.quantity }}
              </td>
              <td
                headers="Row{{ line_item.key }} ColumnTotal"
                role="cell"
                data-label="{{ 'customer.order.total' | t }}"
              >
                {{ subscription.price_total | money }}
              </td>
            </tr>
            {%- for line_item in subscription.items -%}
              <tr role="row">
                <td
                  id="Row{{ line_item.key }}"
                  headers="ColumnProduct"
                  role="rowheader"
                  scope="row"
                  data-label="{{ 'customer.order.product' | t }}"
                >
                  <div>
                    <p>{{ line_item.product.name | escape }}</p>
                  </div>
                </td>
                <td
                  headers="Row{{ line_item.key }} ColumnSku"
                  role="cell"
                  data-label="{{ 'customer.order.sku' | t }}"
                >
                  <p>{{ line_item.variant.sku | default: line_item.product.sku }}</p>
                </td>
                <td
                  headers="Row{{ line_item.key }} ColumnPrice"
                  role="cell"
                  data-label="{{ 'customer.order.price' | t }}"
                >
                  {{ line_item.price | money }}
                </td>
                <td
                  headers="Row{{ line_item.key }} ColumnQuantity"
                  role="cell"
                  data-label="{{ 'customer.order.quantity' | t }}"
                >
                  {{ line_item.quantity }}
                </td>
                <td
                  headers="Row{{ line_item.key }} ColumnTotal"
                  role="cell"
                  data-label="{{ 'customer.order.total' | t }}"
                >
                  {{ line_item.price_total | money }}
                </td>
              </tr>
            {%- endfor -%}
          </tbody>

          <tfoot role="rowgroup">
            <tr role="row">
              <td id="RowSubtotal" role="rowheader" scope="row" colspan="4">
                {{ 'customer.order.subtotal' | t }}
              </td>
              <td headers="RowSubtotal" role="cell" data-label="{{ 'customer.order.subtotal' | t }}">
                {{ subscription.sub_total | money }}
              </td>
            </tr>
            {%- if subscription.discount_total > 0 -%}
              <tr role="row">
                <td id="RowDiscount" role="rowheader" scope="row" colspan="4">
                  {{ 'customer.order.discount' | t }}
                </td>
                <td headers="RowDiscount" role="cell" data-label="{{ 'customer.order.discount' | t }}">
                  {{ subscription.discount_total | money }}
                </td>
              </tr>
            {%- endif -%}
            {%- if subscription.shipment_total > 0 -%}
              <tr role="row">
                <td id="RowShipping" role="rowheader" scope="row" colspan="4">
                  {{ 'customer.order.shipping' | t }}
                </td>
                <td headers="RowShipping" role="cell" data-label="{{ 'customer.order.shipping' | t }}">
                  {{ subscription.shipment_total | money }}
                </td>
              </tr>
            {%- endif -%}
            {%- if subscription.tax_included_total > 0 -%}
              <tr role="row">
                <td id="RowTax" role="rowheader" scope="row" colspan="4">
                  {{ 'customer.order.tax' | t }}
                </td>
                <td headers="RowTax" role="cell" data-label="{{ 'customer.order.tax' | t }}">
                  {{ subscription.tax_included_total | money }}
                </td>
              </tr>
            {%- endif -%}

            <tr role="row">
              <td id="RowTotal" role="rowheader" scope="row" colspan="3">{{ 'customer.order.total' | t }}</td>
              <td headers="RowTotal" role="cell" colspan="2" data-label="{{ 'customer.order.total' | t }}">
                {{ subscription.grand_total | money_with_currency }}
              </td>
            </tr>
          </tfoot>
        </table>
      </div>

      <div>
        {% liquid
          assign shipping_address = subscription.shipping
          assign billing_address = subscription.billing
          if subscription.shipping.use_account
            assign shipping_address = customer.shipping
          endif
          if subscription.billing.use_account
            assign billing_address = customer.billing
          endif
        %}
        <div>
          <h2>{{ 'customer.order.billing_address' | t }}</h2>
          {{ billing_address | format_address }}
        </div>
        <div lg:pt-12>
          <h2>{{ 'customer.order.shipping_address' | t }}</h2>
          {{ shipping_address | format_address }}
        </div>

        <div class="lg:pt-12 flex flex-col">
          <h2>{{ 'customer.subscription.details' | t }}</h2>
          <div>
            {{ 'customer.subscription.created' | t }} {{ subscription.date_created | time_tag: format: 'date_at_time' }}
          </div>

          {% liquid
            assign allow_pause = false
            assign show_resume = false
            assign show_cancel = false
            assign pauseLabel = 'customer.subscription.pause' | t
            assign pauseCycleLabel = 'customer.subscription.skip_one_cycle' | t
            assign resumeLabel = 'customer.subscription.resume' | t
            assign cancelLabel = 'customer.subscription.cancel' | t
          %}
          {% if subscription.status == 'active' %}
            {% if subscription.order_schedule %}
              <div>{{ 'customer.subscription.next_invoice' | t }} {{ subscription.date_period_end | time_tag: format: 'date_at_time' }}</div>
              <div>{{ 'customer.subscription.next_order' | t }} {{ subscription.date_order_period_end | time_tag: format: 'date_at_time' }}</div>
            {% else %}
              <div>{{ 'customer.subscription.next_order' | t }} {{ subscription.date_period_end | time_tag: format: 'date_at_time' }}</div>
            {% endif %}
            {% assign allow_pause = true %}
            {% assign show_cancel = true %}
          {% endif %}

          {% if subscription.status == 'trial' %}
            {% if subscription.order_schedule %}
              <div>{{ 'customer.subscription.first_invoice' | t }} {{ subscription.date_period_end | time_tag: format: 'date_at_time' }}</div>
              <div>{{ 'customer.subscription.first_order' | t }} {{ subscription.date_order_period_end | time_tag: format: 'date_at_time' }}</div>
            {% else %}
              <div>{{ 'customer.subscription.first_order' | t }} {{ subscription.date_period_end | time_tag: format: 'date_at_time' }}</div>
            {% endif %}
            {% if store.subscriptions.features.pause_during_trial %}
              {% assign allow_pause = true %}
            {% endif %}
            {% assign show_cancel = true %}
          {% endif %}

          {% if subscription.status == 'paused' %}
            {% assign show_resume = true %}
            {% assign show_cancel = true %}
          {% endif %}

          {% if subscription.status == 'pastdue' %}
            <div>{{ 'customer.subscription.payment_retry' | t }} {{ subscription.date_payment_retry | time_tag: format: 'date_at_time' }}</div>   
            {% assign show_pause = true %}
            {% assign show_cancel = true %}
            {% if store.subscriptions.features.pause_past_due %}
              {% assign allow_pause = true %}
            {% endif %}
          {% endif %}

          <div class="pt-12 flex flex-row gap-8">
            {% if allow_pause and store.subscriptions.features.pause_indefinitely %}
              {%- form 'account_subscription' -%}
                <input name="subscription_id" type="hidden" value="{{ subscription.id  }}">
                <input name="paused" type="hidden" value="true">
                <input name="date_pause_end" type="hidden" value="null">
                {% render 'button',
                  type: 'submit',
                  text: pauseLabel,
                  color_scheme: color_scheme
                %}
              {%- endform -%}
            {% endif %}
            {% if allow_pause and store.subscriptions.features.pause_skip_next %}
              {%- form 'account_subscription' -%}
                <input name="subscription_id" type="hidden" value="{{ subscription.id  }}">
                <input name="paused" type="hidden" value="true">
                <input name="date_pause_end" type="hidden" value="{{ subscription.date_period_end  }}">
                {% render 'button',
                  type: 'submit',
                  text: pauseCycleLabel,
                  color_scheme: color_scheme
                %}
              {%- endform -%}
            {% endif %}
            {% if show_resume %}
              {%- form 'account_subscription' -%}
                <input name="subscription_id" type="hidden" value="{{ subscription.id  }}">
                <input name="paused" type="hidden" value="false">
                <input name="date_pause_end" type="hidden" value="null">
                {% render 'button',
                  type: 'submit',
                  text: resumeLabel,
                  color_scheme: color_scheme
                %}
              {%- endform -%}
            {% endif %}
            {% if show_cancel %}
              {%- form 'account_subscription' -%}
                <input name="subscription_id" type="hidden" value="{{ subscription.id  }}">
                <input name="canceled" type="hidden" value="true">
                {% render 'button',
                  type: 'submit',
                  text: cancelLabel,
                  color_scheme: color_scheme
                %}
              {%- endform -%}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </account-subscription>
</div>

{% schema %}
{
  "name": "Subscription",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Top padding",
      "default": 48
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Bottom padding",
      "default": 48
    }
  ]
}
{% endschema %}
