{% liquid
  assign color_scheme = section.settings.color_scheme
  assign top_padding = section.settings.top_padding | times: 0.1 | round: 1
  assign bottom_padding = section.settings.bottom_padding | times: 0.1 | round: 1
  assign reduced_padding_top = top_padding | times: 0.55 | round: 2
  assign reduced_padding_bottom = bottom_padding | times: 0.55 | round: 2
-%}

{% style %}
  .responsive-padding-{{ section.id }} {
    padding-top: {{ reduced_padding_top }}rem;
    padding-bottom: {{ reduced_padding_bottom }}rem;
  }

  @media (min-width: 1024px) {
    .responsive-padding-{{ section.id }} {
      padding-top: {{ top_padding }}rem;
      padding-bottom: {{ bottom_padding }}rem;
    }
  }
{% endstyle %}

<div
  class="bg-{{ color_scheme }} text-{{ color_scheme }} text-{{ section.settings.text_alignment }} pl-24 pr-24 pt-64 pb-64 lg:p-160 responsive-padding-{{ section.id }}"
>
  <div
    class="flex flex-col justify-center gap-32 items-center"
  >
    <div class="flex flex-col gap-4 items-center">
      <h2 class="text-headline-small font-heading w-full text-{{ section.settings.title_position }}">{{ page.title | escape }}</h2>
      <div class="formatted-text font-display text-body-large">{{ page.content }}</div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.page.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.content_header.content"
    },
    {
      "type": "select",
      "id": "title_position",
      "label": "t:sections.page.settings.title_position.label",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "t:sections.page.settings.title_position.options__left.label"
        },
        {
          "value": "center",
          "label": "t:sections.page.settings.title_position.options__center.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.layout_header.content"
    },
    {
      "type": "range",
      "id": "top_padding",
      "label": "t:sections.all.padding.padding_top",
      "min": 0,
      "max": 96,
      "step": 1,
      "unit": "px",
      "default": 40
    },
    {
      "type": "range",
      "id": "bottom_padding",
      "label": "t:sections.all.padding.padding_bottom",
      "min": 0,
      "max": 96,
      "step": 1,
      "unit": "px",
      "default": 40
    },
    {
      "type": "header",
      "content": "t:sections.all.colors_header.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    }
  ]
}
{% endschema %}
