{% # TODO set paginate size according to desktop column count setting %}

{%- liquid
  assign color_scheme = section.settings.color_scheme
  assign reduced_padding_top = section.settings.top_padding | times: 0.55 | round: 0
  assign reduced_padding_bottom = section.settings.bottom_padding | times: 0.55 | round: 0
-%}

{% style %}
  .responsive-padding-{{ section.id }} {
    padding-top: {{ reduced_padding_top }}px;
    padding-bottom: {{ reduced_padding_bottom }}px;
  }

  @media (min-width: 1024px) {
    .responsive-padding-{{ section.id }} {
      padding-top: {{ section.settings.top_padding }}px;
      padding-bottom: {{ section.settings.bottom_padding }}px;
    }
  }
{% endstyle %}

<div class="bg-{{ color_scheme }} text-{{ color_scheme }} p-6 responsive-padding-{{ section.id }}">
  {% paginate collection.products by 12 %}
    <div class="max-w-[1046px] mx-auto 2xl:max-w-[1380px] w-full">
      <div class="flex flex-col pb-4 text-left">
        <h1 class="font-display text-headline-medium">{{ collection.title | default: 'Products' }}</h1>
      </div>

      {% render 'filter-bar',
        request: request,
        results: collection,
        paginate: paginate,
        color_scheme: color_scheme,
      %}

      <div class="mt-[16px]">
        <div class="flex gap-16">
          <div id="results" class="flex w-full flex-col gap-8">
            <div class="grid grid-cols-2 gap-x-[16px] gap-y-[24px] md:grid-cols-3 lg:grid-cols-4">
              {% if collection.products.size > 0 %}
                {% for product in collection.products %}
                  {% render 'product-card', product: product, color_scheme: color_scheme %}
                {% endfor %}
              {% else %}
                {{ 'product-1' | placeholder_svg_tag }}
                {{ 'product-2' | placeholder_svg_tag }}
                {{ 'product-3' | placeholder_svg_tag }}
                {{ 'product-4' | placeholder_svg_tag }}
              {% endif %}
            </div>

            {% render 'pagination', paginate: paginate, color_scheme %}
          </div>
        </div>
      </div>
    </div>
  {% endpaginate %}
</div>
{% schema %}
{
  "name": "Product list",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    },
    {
      "type": "range",
      "id": "top_padding",
      "label": "Top padding",
      "min": 0,
      "max": 96,
      "step": 1,
      "unit": "px",
      "default": 96
    },
    {
      "type": "range",
      "id": "bottom_padding",
      "label": "Bottom padding",
      "min": 0,
      "max": 96,
      "step": 1,
      "unit": "px",
      "default": 96
    }
  ]
}
{% endschema %}
