{%- liquid
  assign color_scheme = section.settings.color_scheme
  assign top_padding = section.settings.top_padding | times: 0.1 | round: 1
  assign bottom_padding = section.settings.bottom_padding | times: 0.1 | round: 1
  assign reduced_padding_top = top_padding | times: 0.55 | round: 2
  assign reduced_padding_bottom = bottom_padding | times: 0.55 | round: 2

  assign div_class = 'pl-24 pr-24 form-container flex flex-col gap-32 items-start w-full sm:w-auto'
  assign input_class = 'input-field px-12 py-10 text-title-medium outline-none border border-color-' | append: color_scheme | append: ' bg-' | append: color_scheme
  assign input_style = '--shadow-color: var(--color-' | append: color_scheme | append: '-borders-and-inputs)'
  assign input_label_class = 'text-body-medium text-secondary-' | append: color_scheme
  assign link_class = 'font-display text-body-medium font-medium hover:underline underline-offset-2'
-%}

{% style %}
  .responsive-padding-{{ section.id }} {
    padding-top: {{ reduced_padding_top }}rem;
    padding-bottom: {{ reduced_padding_bottom }}rem;
  }

  @media (min-width: 1024px) {
    .responsive-padding-{{ section.id }} {
      padding-top: {{ top_padding }}rem;
      padding-bottom: {{ bottom_padding }}rem;
    }
  }

  .section-width {
    @media (min-width: 40rem) {
      width: 48rem;
    }
  }

  .input-field::placeholder {
    color: var(--color-{{ color_scheme }}-text-secondary);
    font-size: calc(1.6rem * var(--font-scale));
    line-height: calc(2.4rem * var(--font-scale));
    font-weight: 400;
  }

  .account-register-section {
    button[disabled] {
      opacity: 0.2;
      pointer-events: none;
    }
  }

  .account-form.htmx-request {
    opacity: 0.6;
    pointer-events: none;
  }
{% endstyle %}

<account-register
  class="bg-{{ color_scheme }} text-{{ color_scheme }} responsive-padding-{{ section.id }} flex flex-col items-center justify-start account-register-section"
>
  <div class="{{ div_class }}">
    <h1 class="font-display text-title-large">{{ 'sections.register.title' | t }}</h1>
    {%- form 'create_customer'
        , hx-post: routes.account_register_url
        , hx-swap: 'outerHTML'
        , hx-target: "#register-form-fields"
        , hx-select: "#register-form-fields"
        , hx-indicator: "#register-form"
    -%}
      <div id="register-form" class="account-form flex section-width max-w-full flex-col gap-16">
        <div id="register-form-fields" class="flex max-w-full flex-col gap-16">
          <div class="relative flex flex-col gap-6">
            <span class="{{ input_label_class }}">
              {{ 'sections.register.first_name' | t }}
            </span>
            <input
              class="{{ input_class }}"
              style="{{ input_style }}"
              placeholder="{{ 'sections.register.first_name_placeholder' | t }}"
              type="text"
              name="customer[first_name]"
              id="customer[first_name]"
              required
            />
          </div>
          <div class="relative flex flex-col gap-6">
            <span class="{{ input_label_class }}">
              {{ 'sections.register.last_name' | t }}
            </span>
            <input
              class="{{ input_class }}"
              style="{{ input_style }}"
              placeholder="{{ 'sections.register.last_name_placeholder' | t }}"
              type="text"
              name="customer[last_name]"
              id="customer[last_name]"
              required
            />
          </div>
          <div class="relative flex flex-col gap-6">
            {% assign email_error = form.errors | find: 'field_name', 'customer[email]' %}

            <span class="{{ input_label_class }}">
              {{ 'sections.register.email' | t }}
            </span>
            <input
              class="{{ input_class }}"
              style="{{ input_style }}"
              placeholder="{{ 'sections.register.email_placeholder' | t }}"
              type="email"
              name="customer[email]"
              id="customer[email]"
              autocomplete="email"
              required
            />

            {% if email_error %}
              <span id="email-error" class="text-body-medium text-red-600">
                {{ email_error.message }}
              </span>
            {% endif %}
          </div>
          <div class="relative flex flex-col gap-6">
            {% assign password_error = form.errors | find: 'field_name', 'customer[password]' %}

            <span class="{{ input_label_class }}">
              {{ 'sections.register.password' | t }}
            </span>
            <input
              class="{{ input_class }}"
              style="{{ input_style }}"
              placeholder="{{ 'sections.register.password_placeholder' | t }}"
              type="password"
              name="customer[password]"
              id="customer[password]"
              autocomplete="current-password"
              required
            />

            {% if password_error %}
              <span id="password-error" class="text-body-medium text-red-600">
                {{ password_error.message }}
              </span>
            {% endif %}
          </div>
        </div>
        <div class="flex gap-7 items-center justify-center mt-32 flex-col">
          <div class="w-full">
            {% assign create_account_text = 'sections.register.create_account' | t %}
            {% render 'button',
              name: 'submit',
              id: 'submit-register',
              type: 'submit',
              text: create_account_text,
              class: 'w-full px-24 py-12 text-body-medium',
              color_scheme: color_scheme,
              disabled: true
            %}
          </div>
          <div class="flex items-center justify-center">
            <div class-"flex flex-row gap-4">
              <span class="font-display text-body-medium">
                {{ 'sections.register.already_have_account' | t }}
              </span>
              <a
                href="{{ routes.account_login_url }}"
                class="{{ link_class }}"
              >
                {{ 'sections.register.login' | t }}
              </a>
            </div>
          </div>
        </div>
      </div>
    {%- endform -%}
  </div>
</account-register>

{% schema %}
{
  "name": "Register",
  "tag": "section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    },
    {
      "type": "range",
      "id": "top_padding",
      "label": "Top padding",
      "min": 0,
      "max": 96,
      "step": 1,
      "unit": "px",
      "default": 48
    },
    {
      "type": "range",
      "id": "bottom_padding",
      "label": "Bottom padding",
      "min": 0,
      "max": 96,
      "step": 1,
      "unit": "px",
      "default": 48
    }
  ]
}
{% endschema %}
