{%- liquid
  assign color_scheme = section.settings.color_scheme
  assign top_padding = section.settings.top_padding | times: 0.1 | round: 1
  assign bottom_padding = section.settings.bottom_padding | times: 0.1 | round: 1
  assign reduced_padding_top = top_padding | times: 0.55 | round: 2
  assign reduced_padding_bottom = bottom_padding | times: 0.55 | round: 2

  assign div_class = 'pl-24 pr-24 form-container flex flex-col gap-32 items-start w-full sm:w-auto'
  assign input_class = 'input-field px-12 py-10 text-title-medium outline-none border border-color-' | append: color_scheme | append: ' bg-' | append: color_scheme
  assign input_style = '--shadow-color: var(--color-' | append: color_scheme | append: '-borders-and-inputs)'
  assign input_label_class = 'text-body-medium text-secondary-' | append: color_scheme
  assign link_class = 'font-display text-body-medium font-medium hover:underline underline-offset-2'

  assign path = request.path
  assign parts = path | split: '/'
  assign password_reset_key = parts | last
-%}

{% style %}
  .responsive-padding-{{ section.id }} {
    padding-top: {{ reduced_padding_top }}rem;
    padding-bottom: {{ reduced_padding_bottom }}rem;
  }

  @media (min-width: 1024px) {
    .responsive-padding-{{ section.id }} {
      padding-top: {{ top_padding }}rem;
      padding-bottom: {{ bottom_padding }}rem;
    }
  }
{% endstyle %}

<account-reset-password
  class="bg-{{ color_scheme }} text-{{ color_scheme }} responsive-padding-{{ section.id }} flex flex-col items-center justify-start account-form-section"
>
  <div class="{{ div_class }}">
    <div class="flex flex-col gap-8 items-start">
      <h1 class="font-display text-title-large">{{ 'sections.reset-password.title' | t }}</h1>
      <p class="font-display text-body-large">{{ 'sections.reset-password.subtext' | t }}</p>
    </div>

    <div class="w-full">
      {% assign account_recover_url = '/' | append: routes.account_recover_url %}
      {%- form 'reset_customer_password'
          , hx-post: account_recover_url
          , hx-swap: 'outerHTML'
          , hx-target: "#reset-form-fields"
          , hx-select: "#reset-form-fields"
          , hx-indicator: "#reset-form"
      -%}
        <div id="reset-form" class="account-form flex account-section-width max-w-full flex-col gap-16">
          <div id="reset-form-fields" class="flex max-w-full flex-col gap-16">
            {%- if form.errors -%}
              <div class="w-full flex flex-row mb-16 py-10 px-12 gap-8 rounded-md border border-color-{{ color_scheme }}">
                <div class="mt-2">
                  {{- 'alert-circle.svg' | inline_asset_content -}}
                </div>
                <div class="font-display text-content">
                  {{ form.errors | default_errors }}
                </div>
              </div>
            {%- endif -%}

            <div class="relative flex flex-col gap-6">
              <span class="{{ input_label_class }}">
                {{ 'sections.reset-password.password' | t }}
              </span>
              <input
                class="{{ input_class }}"
                style="{{ input_style }}"
                placeholder="{{ 'sections.reset-password.password_placeholder' | t }}"
                type="password"
                name="customer[password]"
                id="customer[password]"
                autocomplete="current-password"
                required
              />
            </div>
          </div>
          <input
            type="hidden"
            name="reset_key"
            value="{{ password_reset_key }}"
          />
          <div class="flex gap-7 items-center justify-center mt-32 flex-col">
            <div class="w-full">
              {% assign submit_text = 'sections.reset-password.submit' | t %}
              {% render 'button',
                name: 'submit',
                type: 'submit',
                id: 'submit-reset-password',
                text: submit_text,
                class: 'w-full px-24 py-12 text-body-medium',
                color_scheme: color_scheme,
                disabled: true
              %}
            </div>
            <div class="flex items-center justify-center">
              <a
                href="{{ routes.account_login_url }}"
                class="{{ link_class }}"
              >
                {{ 'sections.reset-password.back_to_login' | t}}
              </a>
            </div>
          </div>
        </div>
      {%- endform -%}
    </div>
  </div>
</account-reset-password>

{% schema %}
{
  "name": "Reset password",
  "tag": "section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    },
    {
      "type": "range",
      "id": "top_padding",
      "label": "Top padding",
      "min": 0,
      "max": 96,
      "step": 1,
      "unit": "px",
      "default": 48
    },
    {
      "type": "range",
      "id": "bottom_padding",
      "label": "Bottom padding",
      "min": 0,
      "max": 96,
      "step": 1,
      "unit": "px",
      "default": 48
    }
  ]
}
{% endschema %}
