{%- liquid
  assign reduced_padding_top = section.settings.top_padding | times: 0.55 | round: 0
  assign reduced_padding_bottom = section.settings.bottom_padding | times: 0.55 | round: 0
-%}

<style>
  .responsive-padding-{{ section.id }} {
    padding-top: {{ reduced_padding_top }}px;
    padding-bottom: {{ reduced_padding_bottom }}px;
  }

  @media (min-width: 1024px) {
    .responsive-padding-{{ section.id }} {
      padding-top: {{ section.settings.top_padding }}px;
      padding-bottom: {{ section.settings.bottom_padding }}px;
    }
  }
</style>

<div
  class="flex min-h-dvh flex-col items-center justify-center gap-4 responsive-padding-{{ section.id }}"
>
  <div class="flex flex-col gap-4 py-7 text-center">
    <h1 class="font-medium text-4xl">Reset password</h1>
    <p class="text-sm text-black">We will send you an email to reset your password</p>
  </div>
  {%- form 'reset_customer_password' -%}
    {%- if form.errors -%}
      <div class="bg-red-50 w-full flex flex-col rounded-md border border-red-600 mb-4 p-4">
        <h2 tabindex="-1" autofocus class="outline-none text-base text-red-600">
          <span class="sr-only">Error</span>
          Error
        </h2>
        <div class="text-sm text-red-600">
          {{ form.errors | default_errors }}
        </div>
      </div>
    {%- endif -%}
    <div class="mb-16 flex w-512 flex-col gap-4">
      <div class="relative">
        {% render 'input', type: 'password', name: 'customer[email]', id: 'customer[email]', autocomplete: 'email' %}
        {% render 'label', for: 'customer[email]', text: 'Email' %}
        {%- if form.errors contains 'email' -%}
          <div class="text-xxs text-red-600">
            {{ form.errors.translated_fields.password | capitalize }}
            {{ form.errors.messages.password }}
          </div>
        {%- endif -%}
      </div>
    </div>
    <div class="relative">
      {% render 'input',
        type: 'password',
        name: 'customer[password_confirmation]',
        id: 'customer[password_confirmation]',
        autocomplete: 'current-password'
      %}
      {% render 'label', for: 'customer[password_confirmation]', text: 'Password' %}
      {%- if form.errors contains 'password_confirmation' -%}
        <div class="text-xxs text-red-600">
          {{ form.errors.translated_fields.password | capitalize }}
          {{ form.errors.messages.password }}
        </div>
      {%- endif -%}
    </div>
    {% render 'button', type: 'submit', text: 'Reset password' %}
  {%- endform -%}
</div>

{% schema %}
{
  "name": "Reset password",
  "tag": "section",
  "settings": [
    {
      "type": "range",
      "id": "top_padding",
      "label": "Top padding",
      "min": 0,
      "max": 96,
      "step": 1,
      "unit": "px",
      "default": 96
    },
    {
      "type": "range",
      "id": "bottom_padding",
      "label": "Bottom padding",
      "min": 0,
      "max": 96,
      "step": 1,
      "unit": "px",
      "default": 96
    }
  ]
}
{% endschema %}
