{%- liquid
  assign color_scheme = section.settings.color_scheme
  assign reduced_padding_top = section.settings.top_padding | times: 0.55 | round: 0
  assign reduced_padding_bottom = section.settings.bottom_padding | times: 0.55 | round: 0
-%}

{% style %}
  .responsive-padding-{{ section.id }} {
    padding-top: {{ reduced_padding_top }}px;
    padding-bottom: {{ reduced_padding_bottom }}px;
  }

  @media (min-width: 1024px) {
    .responsive-padding-{{ section.id }} {
      padding-top: {{ section.settings.top_padding }}px;
      padding-bottom: {{ section.settings.bottom_padding }}px;
    }
  }
{% endstyle %}

<div
  class="bg-{{ color_scheme }} text-{{ color_scheme }} flex flex-col items-center justify-center gap-4 responsive-padding-{{ section.id }}"
>
  <div class="flex flex-col gap-4 py-7 text-center">
    <h1 class="font-medium text-4xl">{{ 'sections.reset-password.title' | t }}</h1>
    <p class="text-sm">{{ 'sections.reset-password.subtext' | t }}</p>
  </div>
  {%- form 'reset_customer_password' -%}
    {%- if form.errors -%}
      <div class="bg-red-50 w-full flex flex-col rounded-md border border-red-600 mb-4 p-4">
        <h2 tabindex="-1" autofocus class="outline-none text-base text-red-600">
          <span class="sr-only">{{ 'sections.reset-password.error' | t }}</span>
          {{ 'sections.reset-password.error' | t }}
        </h2>
        <div class="text-sm text-red-600">
          {{ form.errors | default_errors }}
        </div>
      </div>
    {%- endif -%}
    <div class="mb-16 flex w-512 flex-col gap-4">
      <div class="relative">
        {% render 'input',
          type: 'password',
          name: 'customer[email]',
          id: 'customer[email]',
          autocomplete: 'email'
        %}
        {% assign email_text = 'sections.reset-password.email' | t %}
        {% render 'label',
          for: 'customer[email]',
          text: email_text
        %}
        {%- if form.errors contains 'email' -%}
          <div class="text-xxs text-red-600">
            {{ form.errors.translated_fields.password | capitalize }}
            {{ form.errors.messages.password }}
          </div>
        {%- endif -%}
      </div>
    </div>
    <div class="relative">
      {% render 'input',
        type: 'password',
        name: 'customer[password_confirmation]',
        id: 'customer[password_confirmation]',
        autocomplete: 'current-password'
      %}
      {% assign password_text = 'sections.reset-password.password' | t %}
      {% render 'label',
        for: 'customer[password_confirmation]',
        text: password_text
      %}
      {%- if form.errors contains 'password_confirmation' -%}
        <div class="text-xxs text-red-600">
          {{ form.errors.translated_fields.password | capitalize }}
          {{ form.errors.messages.password }}
        </div>
      {%- endif -%}
    </div>
    {% assign submit_text = 'sections.reset-password.submit' | t %}
    {% render 'button',
      type: 'submit',
      text: submit_text,
      color_scheme: color_scheme
    %}
  {%- endform -%}
</div>

{% schema %}
{
  "name": "Reset password",
  "tag": "section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    },
    {
      "type": "range",
      "id": "top_padding",
      "label": "Top padding",
      "min": 0,
      "max": 96,
      "step": 1,
      "unit": "px",
      "default": 96
    },
    {
      "type": "range",
      "id": "bottom_padding",
      "label": "Bottom padding",
      "min": 0,
      "max": 96,
      "step": 1,
      "unit": "px",
      "default": 96
    }
  ]
}
{% endschema %}
