{%- liquid
  assign color_scheme = section.settings.color_scheme

  assign top_padding = section.settings.top_padding | times: 0.1 | round: 1
  assign bottom_padding = section.settings.bottom_padding | times: 0.1 | round: 1
  assign reduced_padding_top = top_padding | times: 0.55 | round: 2
  assign reduced_padding_bottom = bottom_padding | times: 0.55 | round: 2

  assign content_alignment = section.settings.content_alignment
  if content_alignment == 'center'
    assign align_items_class = 'items-center'
  elsif content_alignment == 'left'
    assign align_items_class = 'items-start'
  else
    assign align_items_class = 'items-end'
  endif

  assign desktop_content_width = section.settings.desktop_content_width
  if desktop_content_width == 'medium'
    assign content_width_class = 'max-w-640'
  elsif desktop_content_width == 'large'
    assign content_width_class = 'max-w-960'
  else
    assign content_width_class = 'max-w-480'
  endif
-%}

{% style %}
  .responsive-padding-{{ section.id }} {
    padding-top: {{ reduced_padding_top }}rem;
    padding-bottom: {{ reduced_padding_bottom }}rem;
  }

  @media (min-width: 1024px) {
    .responsive-padding-{{ section.id }} {
      padding-top: {{ top_padding }}rem;
      padding-bottom: {{ bottom_padding }}rem;
    }
  }
{% endstyle %}

<div class="bg-[#F5F5F5] bg-{{ color_scheme }} text-{{ color_scheme }} text-{{ section.settings.content_alignment }} pl-24 pr-24 pt-64 pb-64 lg:p-160 responsive-padding-{{ section.id }}">
  <div class="flex flex-col justify-center gap-32 w-full">
    <div class="flex flex-col gap-4 {{ align_items_class }}">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'pre_heading' -%}
            <div class="font-display font-pre-heading text-pre-heading {{ content_width_class }}" {{ block.swell_attributes }}>
              {{ block.settings.pre_heading | inline_editable: 'pre_heading' }}
            </div>
          {%- when 'heading' -%}
            <h2 class="font-display font-heading text-heading-{{ block.settings.heading_size | default: 'small' }} {{ content_width_class }}" {{ block.swell_attributes }}>
              {{ block.settings.heading | inline_editable: 'heading' }}
            </h2>
          {%- when 'text' -%}
            <div class="font-display formatted-text text-content {{ content_width_class }}" {{ block.swell_attributes }}>
              {{ block.settings.text | inline_editable: 'text' }}
            </div>
          {%- when 'link' -%}
            {%- if block.settings.button_label != blank and block.settings.button_link -%}
              <div class="flex flex-col mt-12 {{ content_width_class }} {{ align_items_class }}" {{ block.swell_attributes }}>
                {% render 'button',
                  text: block.settings.button_label,
                  href: block.settings.button_link,
                  color_scheme: color_scheme,
                  variant: block.settings.button_variant
                %}
              </div>
            {%- endif -%}
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.rich_text.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.layout_header.content"
    },
    {
      "type": "select",
      "id": "desktop_content_width",
      "label": "t:sections.rich_text.settings.desktop_content_width.label",
      "default": "small",
      "options": [
        { "value": "small", "label": "t:sections.rich_text.settings.desktop_content_width.options__small.label" },
        { "value": "medium", "label": "t:sections.rich_text.settings.desktop_content_width.options__medium.label" },
        { "value": "large", "label": "t:sections.rich_text.settings.desktop_content_width.options__large.label" }
      ]
    },
    {
      "type": "select",
      "id": "content_alignment",
      "label": "t:sections.rich_text.settings.content_alignment.label",
      "default": "center",
      "options": [
        { "value": "left", "label": "t:sections.rich_text.settings.content_alignment.options__left.label" },
        { "value": "center", "label": "t:sections.rich_text.settings.content_alignment.options__center.label" },
        { "value": "right", "label": "t:sections.rich_text.settings.content_alignment.options__right.label" }
      ]
    },
    {
      "type": "range",
      "id": "top_padding",
      "label": "t:sections.all.padding.padding_top",
      "min": 0,
      "max": 96,
      "step": 1,
      "unit": "px",
      "default": 40
    },
    {
      "type": "range",
      "id": "bottom_padding",
      "label": "t:sections.all.padding.padding_bottom",
      "min": 0,
      "max": 96,
      "step": 1,
      "unit": "px",
      "default": 40
    },
    {
      "type": "header",
      "content": "t:sections.all.colors_header.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-3"
    }
  ],
  "blocks": [
    {
      "type": "pre_heading",
      "name": "t:sections.rich_text.blocks.pre_heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "pre_heading",
          "label": "t:sections.rich_text.blocks.pre_heading.settings.pre_heading.label"
        }
      ]
    },
    {
      "type": "heading",
      "name": "t:sections.rich_text.blocks.heading.name",
      "limit": 3,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "label": "t:sections.rich_text.blocks.heading.settings.heading.label",
          "default": "t:sections.rich_text.blocks.heading.settings.heading.default"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "t:sections.all.heading_size.label",
          "default": "small",
          "options": [
            { "value": "small", "label": "t:sections.all.heading_size.options__small.label" },
            { "value": "medium", "label": "t:sections.all.heading_size.options__medium.label" },
            { "value": "large", "label": "t:sections.all.heading_size.options__large.label" },
            { "value": "extra-large", "label": "t:sections.all.heading_size.options__extra_large.label" }
          ]
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.rich_text.blocks.text.name",
      "limit": 3,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "t:sections.rich_text.blocks.text.settings.text.label",
          "default": "t:sections.rich_text.blocks.text.settings.text.default"
        }
      ]
    },
    {
      "type": "link",
      "name": "t:sections.rich_text.blocks.button.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "label": "t:sections.rich_text.blocks.button.settings.button_label.label",
          "default": "t:sections.rich_text.blocks.button.settings.button_label.default"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.rich_text.blocks.button.settings.button_link.label"
        },
        {
          "type": "select",
          "id": "button_variant",
          "label": "t:sections.all.button_variant.label",
          "options": [
            { "value": "solid", "label": "t:sections.all.button_variant.options__solid.label" },
            { "value": "outline", "label": "t:sections.all.button_variant.options__outline.label" }
          ],
          "default": "outline"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.rich_text.presets.name",
      "blocks": [
        { "type": "heading" },
        { "type": "text" },
        { "type": "link" }
      ]
    }
  ]
}
{% endschema %}
