{% liquid
  assign color_scheme = section.settings.color_scheme
%}

{%- liquid
  assign reduced_padding_top = section.settings.top_padding | times: 0.55 | round: 0
  assign reduced_padding_bottom = section.settings.bottom_padding | times: 0.55 | round: 0
-%}

<style>
  .responsive-padding-{{ section.id }} {
    padding-top: {{ reduced_padding_top }}px;
    padding-bottom: {{ reduced_padding_bottom }}px;
  }

  @media (min-width: 1024px) {
    .responsive-padding-{{ section.id }} {
      padding-top: {{ section.settings.top_padding }}px;
      padding-bottom: {{ section.settings.bottom_padding }}px;
    }
  }
</style>

<div class="bg-[#F5F5F5] bg-{{ color_scheme }} text-{{ color_scheme }} text-{{ section.settings.text_alignment }} pl-[24px] pr-[24px] pt-[64px] pb-[64px] lg:p-[160px] responsive-padding-{{ section.id }}">
  <div class="flex flex-col justify-center gap-[32px] items-center">
    <div class="flex flex-col gap-[4px] items-center">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'pre_heading' -%}
            <div class="text-headline-small font-semibold font-pre-heading">
              {{ block.settings.pre_heading }}
            </div>
          {%- when 'heading' -%}
            <h2 class="text-display-small font-heading">{{ block.settings.heading }}</h2>
          {%- when 'text' -%}
            <div class="font-display text-body-large">
              {{ block.settings.text | inline_editable: 'text' }}
            </div>
        {%- endcase -%}
      {%- endfor -%}
    </div>

    <div class="flex flex-col gap-[16px] items-center">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'link' -%}
            {%- if block.settings.button_label != blank and block.settings.button_link -%}
              <div class="flex">
                {% render 'button',
                  text: block.settings.button_label,
                  variant: block.settings.button_variant,
                  href: block.settings.button_link,
                  content_color_scheme: color_scheme
                %}
              </div>
            {%- endif -%}
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Rich text",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "t:sections.all.text_alignment.label",
      "default": "left",
    "options": [
      {
        "value": "left",
        "label": "t:sections.all.text_alignment.left.label"
      },
      {
        "value": "center",
        "label": "t:sections.all.text_alignment.center.label"
      },
      {
        "value": "right",
        "label": "t:sections.all.text_alignment.right.label"
      }
    ]
  },
  {
    "type": "range",
    "id": "top_padding",
    "label": "t:sections.all.top_padding.label",
    "info": "t:sections.all.top_padding.info",
    "min": 0,
    "max": 96,
    "step": 1,
    "unit": "px",
    "default": 96
  },
  {
    "type": "range",
    "id": "bottom_padding",
    "label": "t:sections.all.bottom_padding.label",
    "info": "t:sections.all.bottom_padding.info",
    "min": 0,
    "max": 96,
    "step": 1,
    "unit": "px",
    "default": 96
  },
  {
    "type": "header",
    "content": "Colors"
  },
  {
    "type": "color_scheme",
    "id": "color_scheme",
    "label": "t:sections.all.colors.label",
    "default": "scheme-3"
  }
],
"blocks": [
  {
    "type": "pre_heading",
    "name": "t:sections.all.pre_heading.name",
    "limit": 1,
    "settings": [
      {
        "type": "text",
        "id": "pre_heading",
        "label": "t:sections.all.pre_heading.label"
      }
    ]
  },
  {
    "type": "heading",
    "name": "t:sections.all.heading.label",
    "limit": 3,
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "t:sections.all.heading.label",
        "default": "Rich text"
      }
    ]
  },
  {
    "type": "text",
    "name": "t:sections.all.text.label",
    "limit": 3,
    "settings": [
      {
        "type": "richtext",
        "id": "text",
        "label": "t:sections.all.text.label",
        "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer luctus sapien ut ipsum volutpat, eget suscipit lectus pretium. Nunc sit amet arcu at felis ornare sollicitudin.</p>"
      }
    ]
  },
  {
    "type": "link",
    "name": "t:sections.all.button.label",
    "limit": 1,
    "settings": [
      {
        "type": "text",
        "id": "button_label",
        "label": "t:sections.all.button.label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "t:sections.all.link.label"
      },
      {
        "type": "select",
        "id": "button_variant",
        "label": "Button Style",
        "options": [
          { "value": "solid", "label": "Solid" },
          { "value": "outline", "label": "Outline" }
        ],
        "default": "outline"
      }
    ]
  }
],
"presets": [
  {
    "name": "Rich text",
    "settings": {
      "text_alignment": "center",
      "color_scheme": "scheme-1"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "t:sections.all.text_alignment.label",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.text_alignment.left.label"
        }, {
          "value": "center",
          "label": "t:sections.all.text_alignment.center.label"
        }, {
          "value": "right",
          "label": "t:sections.all.text_alignment.right.label"
        }
      ]
    },
    {
      "type": "range",
      "id": "top_padding",
      "label": "t:sections.all.top_padding.label",
      "info": "t:sections.all.top_padding.info",
      "min": 0,
      "max": 96,
      "step": 1,
      "unit": "px",
      "default": 96
    },
    {
      "type": "range",
      "id": "bottom_padding",
      "label": "t:sections.all.bottom_padding.label",
      "info": "t:sections.all.bottom_padding.info",
      "min": 0,
      "max": 96,
      "step": 1,
      "unit": "px",
      "default": 96
    }, {
      "type": "header",
      "content": "Colors"
    }, {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-3"
    }
  ],
  "blocks": [
    {
      "type": "pre_heading",
      "name": "t:sections.all.pre_heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "pre_heading",
          "label": "t:sections.all.pre_heading.label",
          "default": "Our promise"
        }
      ]
    }, {
      "type": "heading",
      "name": "t:sections.all.heading.label",
      "limit": 3,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "t:sections.all.heading.label",
          "default": "Quality you can trust"
        }
      ]
    }, {
      "type": "text",
      "name": "t:sections.all.text.label",
      "limit": 3,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "t:sections.all.text.label",
          "default": "<p>Use this section to share your story, details, or key information. Keep it simple and engaging to connect with your visitors and encourage them to explore further.</p>"
        }
      ]
    }, {
      "type": "link",
      "name": "t:sections.all.button.label",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "label": "t:sections.all.button.label",
          "default": "Learn more"
        }, {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.all.link.label"
        }, {
          "type": "select",
          "id": "button_variant",
          "label": "Button Style",
          "options": [
            {
              "value": "solid",
              "label": "Solid"
            }, {
              "value": "outline",
              "label": "Outline"
            }
          ],
          "default": "outline"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Rich text",
      "settings": {
        "text_alignment": "center",
        "color_scheme": "scheme-1"
      },
      "blocks": [
        {
          "type": "pre_heading",
          "settings": {
            "pre_heading": "<p>Our promise</p>"
          }
        }, {
          "type": "heading",
          "settings": {
            "heading": "<h2>Quality you can trust</h2>"
          }
        }, {
          "type": "text",
          "settings": {
            "text": "<p>Use this section to share your story, details, or key information. Keep it simple and engaging to connect with your visitors and encourage them to explore further.</p>"
          }
        }, {
          "type": "link",
          "settings": {
            "button_label": "Learn More",
            "button_link": "https://example.com"
          }
        }
      ]
    }
  ]
}
{% endschema %}
