{% comment %}
  Renders a slideshow section.

  Usage:
  {% sections 'two-columns' %}
{% endcomment %}

{%- liquid
  assign color_scheme = section.settings.color_scheme
  assign padding = section.settings.padding
  assign reduced_padding_top = section.settings.top_padding | times: 0.55 | round: 0
  assign reduced_padding_bottom = section.settings.bottom_padding | times: 0.55 | round: 0
-%}

<style>
  .responsive-padding-{{ section.id }} {
    padding-top: {{ reduced_padding_top }}px;
    padding-bottom: {{ reduced_padding_bottom }}px;
  }

  @media (min-width: 1024px) {
    .responsive-padding-{{ section.id }} {
      padding-top: {{ section.settings.top_padding }}px;
      padding-bottom: {{ section.settings.bottom_padding }}px;
    }
  }

  .section-padding-{{ section.id }} {
    padding: {{ padding }}px;
  }
</style>

<script>
  window.theme = window.theme || {};
  window.theme.slideshow_rendered = true;
  window.theme.slideshow_navigation = {{ navigation }};
</script>

<div class="section-padding-{{ section.id }} bg-{{ color_scheme }}">
  <div class="max-w-[1366px] mx-auto flex flex-row">
    {%- assign image_block = section.blocks | where: 'type', 'image' | first -%}
    {%- assign content_block = section.blocks | where: 'type', 'content' | first -%}

    {%- if image_block -%}
      <div class="w-full md:w-1/2">
        {%- if image_block.settings.link != blank -%}
          <a href="{{ image_block.settings.link }}">
        {%- endif -%}
        {%- if image_block.settings.image != blank -%}
          {% render 'image', image: image_block.settings.image, alt: image_block.settings.image.alt | default: content_block.settings.heading, class: "w-full h-full object-cover" %}
        {%- else -%}
          <div class="bg-{{ color_scheme }} aspect-square w-full"></div>
        {%- endif -%}
        {%- if image_block.settings.link != blank -%}
          </a>
        {%- endif -%}
      </div>
    {%- endif -%}

    {%- if content_block -%}
      <div class="w-full md:w-1/2 flex items-center">
        <div class="w-full flex flex-col gap-8 bg-{{ content_block.settings.color_scheme }} text-{{ content_block.settings.color_scheme }} p-8">
          <div class="flex flex-col gap-[8px] text-{{ content_block.settings.text_alignment }}">
            {%- if content_block.settings.pre_heading != blank -%}
              <div class="font-display text-headline-small font-semibold">
                {{ content_block.settings.pre_heading }}
              </div>
            {%- endif -%}

            {%- if content_block.settings.heading != blank -%}
              <h2
                class="
                  font-display
                  {% case content_block.settings.heading_size %}
                    {% when 'small' %}text-display-small
                    {% when 'medium' %}text-display-medium
                    {% when 'large' %}text-display-large
                  {% endcase %}
                "
              >
                {{ content_block.settings.heading }}
              </h2>
            {%- endif -%}

            {%- if content_block.settings.text != blank -%}
              <div class="font-display text-body-large">
                {{ content_block.settings.text }}
              </div>
            {%- endif -%}
          </div>

          {%- if content_block.settings.button_text != blank and content_block.settings.button_link != blank -%}
            <div class="flex {% if content_block.settings.text_alignment == 'center' %}justify-center{% elsif content_block.settings.text_alignment == 'right' %}justify-end{% endif %}">
              {% render 'button',
                text: content_block.settings.button_text,
                href: content_block.settings.button_link,
                content_color_scheme: content_block.settings.color_scheme,
                variant: 'solid'
              %}
            </div>
          {%- endif -%}
        </div>
      </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "Two panels",
  "tag": "section",
  "disabled_on": { "groups": ["header", "footer"] },
  "settings": [
    { "type": "color_scheme", "id": "color_scheme", "label": "Color scheme", "default": "scheme-1" },
    {
      "type": "range",
      "id": "padding",
      "label": "Section padding",
      "info": "Applies padding to all sides.",
      "min": 0,
      "max": 96,
      "step": 1,
      "unit": "px",
      "default": 12
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "limit": 1,
      "settings": [
        { "type": "image_picker", "id": "image", "label": "Image" },
        { "type": "url", "id": "link", "label": "Link", "info": "Link the image to a page" }
      ]
    },
    {
      "type": "content",
      "name": "Content",
      "limit": 1,
      "settings": [
        { "type": "text", "id": "pre_heading", "label": "Pre-heading" },
        { "type": "text", "id": "heading", "label": "Heading" },
        {
          "type": "select",
          "id": "heading_size",
          "label": "Heading size",
          "default": "small",
          "options": [
            { "value": "small", "label": "Small" },
            { "value": "medium", "label": "Medium" },
            { "value": "large", "label": "Large" }
          ]
        },
        { "type": "richtext", "id": "text", "label": "Text" },
        {
          "type": "select",
          "id": "text_alignment",
          "label": "Text alignment",
          "default": "center",
          "options": [
            { "value": "left", "label": "Left" },
            { "value": "center", "label": "Center" },
            { "value": "right", "label": "Right" }
          ]
        },
        { "type": "header", "content": "Button" },
        { "type": "text", "id": "button_text", "label": "Button text" },
        { "type": "url", "id": "button_link", "label": "Link", "info": "Paste a link or search" },
        { "type": "color_scheme", "id": "color_scheme", "label": "Color scheme", "default": "scheme-1" }
      ]
    }
  ],
  "presets": [
    {
      "name": "Two panels",
      "blocks": [
        { "type": "image", "settings": { "image": "" } },
        {
          "type": "content",
          "settings": {
            "pre_heading": "Quick look",
            "heading": "Find what's next",
            "text": "Use this section to share essential info, promote a standout deal, or guide visitors forward. Add your message here to keep them engaged.",
            "text_alignment": "center",
            "button_text": "Learn more",
            "button_link": "/"
          }
        }
      ]
    }
  ]
}
{% endschema %}
