{% comment %}
  Renders a video banner section.
  Usage: {% sections 'video-banner' %}
{% endcomment %}

{% liquid
  assign color_scheme = section.settings.color_scheme
  assign text_alignment = section.settings.text_alignment
  assign content_color_scheme = section.settings.content_color_scheme
  assign transparent = section.settings.transparent
  assign url_parts = section.settings.video_url | split: '.'
  assign file_extension = url_parts | last

  assign is_youtube = section.settings.video_url contains 'youtube.com' or section.settings.video_url contains 'youtu.be'
  assign is_vimeo = section.settings.video_url contains 'vimeo.com'

  if is_vimeo
    assign vimeo_id = section.settings.video_url | split: '/' | last
  endif

  if is_youtube
    if section.settings.video_url contains 'watch?v='
      assign youtube_id = section.settings.video_url | split: 'watch?v=' | last | split: '&' | first
    elsif section.settings.video_url contains 'youtu.be/'
      assign youtube_id = section.settings.video_url | split: 'youtu.be/' | last
    else
      assign youtube_id = section.settings.video_url | split: '/' | last
    endif
  endif

  assign top_padding = section.settings.top_padding | times: 0.1 | round: 1
  assign bottom_padding = section.settings.bottom_padding | times: 0.1 | round: 1
  assign reduced_padding_top = top_padding | times: 0.55 | round: 2
  assign reduced_padding_bottom = bottom_padding | times: 0.55 | round: 2

  assign visible_blocks = section.blocks.size
-%}

{%- style -%}
  .responsive-padding-{{ section.id }} {
    padding-top: {{ reduced_padding_top }}rem;
    padding-bottom: {{ reduced_padding_bottom }}rem;
  }

  @media (min-width: 1024px) {
    .responsive-padding-{{ section.id }} {
      padding-top: {{ top_padding }}rem;
      padding-bottom: {{ bottom_padding }}rem;
    }
  }

  .video-wrapper {
    aspect-ratio: 16 / 9;
    position: relative;
    width: 100%;
  }

  .video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .non-interactive-video iframe {
    pointer-events: none;
  }
{%- endstyle -%}

{% comment %}theme-check-disable RemoteAsset{% endcomment %}
<div class="relative bg-{{ color_scheme }} text-{{ text_alignment }} responsive-padding-{{ section.id }}">
  {% if section.settings.video_url != blank %}
    {% if is_youtube %}
      <div class="video-wrapper non-interactive-video">
        <iframe
          src="https://www.youtube.com/embed/{{ youtube_id }}?autoplay=1&mute=1&controls=0&showinfo=0&rel=0&iv_load_policy=3&modestbranding=1&disablekb=1&fs=0&playsinline=1{% if section.settings.loop_video %}&loop=1&playlist={{ youtube_id }}{% endif %}"
          frameborder="0"
          allow="autoplay"
          allowfullscreen
        ></iframe>
      </div>
    {% elsif is_vimeo %}
      <div class="video-wrapper">
        <iframe
          src="https://player.vimeo.com/video/{{ vimeo_id }}?background=1&autoplay=1&loop={{ section.settings.loop_video | default: 1 }}&muted=1&byline=0&title=0"
          frameborder="0"
          allow="autoplay; fullscreen"
          allowfullscreen
        ></iframe>
      </div>
    {% else %}
      <video
        id="video-{{ section.id }}"
        class="aspect-video w-full object-cover"
        {% if section.settings.loop_video %}
          loop
        {% endif %}
        playsinline
        webkit-playsinline
        autoplay
        muted
      >
        <source src="{{ section.settings.video_url }}" type="video/{{ file_extension }}">
        {{ 'accessibility.browser_video_support' | t }}
      </video>
    {% endif %}
  {% else %}
    <div class="aspect-video w-full bg-{{ color_scheme }}"></div>
  {% endif %}

  {%- if section.blocks.size >= 1 -%}
    <div class="absolute inset-0 flex h-full w-full {{ section.settings.content_alignment }}">
      <div
        class="
          max-w-450 m-32 flex flex-col p-32 {% if transparent %}bg-transparent text-{{ color_scheme }} {% else %}bg-{{ content_color_scheme }} text-{{ content_color_scheme }} {% endif %} text-{{ text_alignment }}
          {% case section.settings.text_alignment %}
          {% when 'center' %} items-center
          {% when 'right' %} items-end
          {% else %} items-start
          {% endcase %}
        "
      >
        <div class="flex flex-col gap-8">
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'pre_heading' -%}
                <div class="font-display font-pre-heading text-pre-heading" {{ block.swell_attributes }}>
                  {{ block.settings.pre_heading | inline_editable: 'pre_heading' }}
                </div>
              {%- when 'heading' -%}
                <h2 class="font-display font-heading text-heading-{{ block.settings.heading_size | default: 'small' }}" {{ block.swell_attributes }}>
                  {{ block.settings.heading | inline_editable: 'heading' }}
                </h2>
              {%- when 'text' -%}
                <div class="font-display formatted-text text-content" {{ block.swell_attributes }}>
                  {{ block.settings.text | inline_editable: 'text' }}
                </div>
              {%- when 'button' -%}
                {%- if transparent == false -%}
                  {%- assign button_color_scheme = content_color_scheme -%}
                {%- else -%}
                  {%- assign button_color_scheme = color_scheme -%}
                {%- endif -%}

                {%- if block.settings.button_label != blank -%}
                  <div
                    class="
                      flex
                      self-center
                      {% if visible_blocks > 1 %}
                        mt-32
                      {% endif %}
                    "
                    {{ block.swell_attributes }}
                  >
                    {% render 'button',
                      text: block.settings.button_label,
                      href: block.settings.button_link,
                      color_scheme: button_color_scheme,
                      variant: block.settings.button_variant
                    %}
                  </div>
                {%- endif -%}
            {%- endcase -%}
          {%- endfor -%}
        </div>
      </div>
    </div>
  {%- endif -%}
</div>

{% schema %}
{
  "name": "t:sections.video_banner.name",
  "tag": "section",
  "disabled_on": { "groups": ["header", "footer"] },
  "settings": [
    {
      "type": "url",
      "id": "video_url",
      "label": "t:sections.video_banner.settings.video_url.label",
      "info": "t:sections.video_banner.settings.video_url.info"
    },
    {
      "type": "checkbox",
      "id": "loop_video",
      "label": "t:sections.video_banner.settings.loop_video.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "transparent",
      "label": "t:sections.video_banner.settings.transparent.label",
      "default": false
    },
    {
      "type": "select",
      "id": "content_alignment",
      "label": "t:sections.all.content_alignment.label",
      "default": "items-center justify-center",
      "options": [
        { "value": "items-start justify-start", "label": "t:sections.all.content_alignment.options__top_left.label" },
        { "value": "items-start justify-center", "label": "t:sections.all.content_alignment.options__top_center.label" },
        { "value": "items-start justify-end", "label": "t:sections.all.content_alignment.options__top_right.label" },
        { "value": "items-center justify-start", "label": "t:sections.all.content_alignment.options__middle_left.label" },
        { "value": "items-center justify-center", "label": "t:sections.all.content_alignment.options__middle_center.label" },
        { "value": "items-center justify-end", "label": "t:sections.all.content_alignment.options__middle_right.label" },
        { "value": "items-end justify-start", "label": "t:sections.all.content_alignment.options__bottom_left.label" },
        { "value": "items-end justify-center", "label": "t:sections.all.content_alignment.options__bottom_center.label" },
        { "value": "items-end justify-end", "label": "t:sections.all.content_alignment.options__bottom_right.label" }
      ]
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "t:sections.all.text_alignment.label",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.text_alignment.options__left.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.text_alignment.options__center.label"
        },
        {
          "value": "right",
          "label": "t:sections.all.text_alignment.options__right.label"
        }
      ]
    },
    {
      "type": "color_scheme",
      "id": "content_color_scheme",
      "label": "t:sections.video_banner.settings.content_color_scheme.label",
      "default": "scheme-1"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "range",
      "id": "top_padding",
      "label": "t:sections.all.padding.padding_top",
      "min": 0,
      "max": 96,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "bottom_padding",
      "label": "t:sections.all.padding.padding_bottom",
      "min": 0,
      "max": 96,
      "step": 1,
      "unit": "px",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "pre_heading",
      "name": "t:sections.video_banner.blocks.pre_heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "pre_heading",
          "label": "t:sections.video_banner.blocks.pre_heading.settings.content.label"
        }
      ]
    },
    {
      "type": "heading",
      "name": "t:sections.video_banner.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "label": "t:sections.video_banner.blocks.heading.settings.heading.label",
          "default": "t:sections.video_banner.blocks.heading.settings.heading.default"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "t:sections.all.heading_size.label",
          "default": "small",
          "options": [
            { "value": "small", "label": "t:sections.all.heading_size.options__small.label" },
            { "value": "medium", "label": "t:sections.all.heading_size.options__medium.label" },
            { "value": "large", "label": "t:sections.all.heading_size.options__large.label" },
            { "value": "extra-large", "label": "t:sections.all.heading_size.options__extra_large.label" }
          ]
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.video_banner.blocks.text.name",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "t:sections.video_banner.blocks.text.settings.text.label",
          "default": "t:sections.video_banner.blocks.text.settings.text.default"
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.video_banner.blocks.button.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "label": "t:sections.video_banner.blocks.button.settings.button_label.label",
          "info": "t:sections.video_banner.blocks.button.settings.button_label.info",
          "default": "t:sections.video_banner.blocks.button.settings.button_label.default"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.video_banner.blocks.button.settings.button_link.label"
        },
        {
          "type": "select",
          "id": "button_variant",
          "label": "t:sections.all.button_variant.label",
          "options": [
            { "value": "solid", "label": "t:sections.all.button_variant.options__solid.label" },
            { "value": "outline", "label": "t:sections.all.button_variant.options__outline.label" }
          ],
          "default": "outline"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.video_banner.presets.name",
      "blocks": [
        { "type": "heading" },
        { "type": "text" }
      ]
    }
  ]
}
{% endschema %}
