{% comment %}
  Renders a single subscription card

  Accepts:
  - subscription: {Object} subscription to be rendered
  - color-scheme: {Object} color scheme to be used

  Usage:
    {%- render 'account-subscription-card', subscription: subscription, color_scheme: color_scheme -%}
{% endcomment %}

<!-- desktop -->
<a
  href="/account/subscriptions/{{ subscription.id }}"
  class="hidden md:flex flex-col gap-16 pb-20 pt-16 border rounded w-full order-shadow border-color-{{ color_scheme }}"
  style="--shadow-color: var(--color-{{ color_scheme }}-borders-and-inputs)"
>
  {% render 'account-subscription-card-content',
    subscription: subscription,
    color_scheme: color_scheme,
  %}
</a>

<!-- mobile -->
<div
  class="flex md:hidden flex-col gap-16 py-16 border rounded w-full order-shadow border-color-{{ color_scheme }}"
  style="--shadow-color: var(--color-{{ color_scheme }}-borders-and-inputs)"
>
  {% render 'account-subscription-card-content',
    subscription: subscription,
    color_scheme: color_scheme,
    show_view_subscription: true,
  %}
</div>
