{% comment %}
  Renders subscription product information

  Accepts:
  - product: {Object} product
  - variant: {Object} variant
  - price: {number} price
  - quantity: {number} quantity
  - options: {Array} options
  - index: {number} index

  Usage:
    {%- render 'account-subscription-product',
      product: subscription.product,
      variant: subscription.variant,
      price: subscription.price,
      quantity: subscription.quantity,
      options: subscription.options,
      index: 0
    -%}
{% endcomment %}

{% liquid
  assign image_url = product.images[0].file.url
  if variant.images[0].file.url
     assign image_url = variant.images[0].file.url
  endif

  assign image = product.images[0]
  if variant.images[0]
     assign image = variant.images[0]
  endif
  assign description_class = 'h-24 w-24 rounded-24 overflow-hidden flex items-center justify-center'
%}

<div
  data-index="{{ index }}"
  class="flex gap-8"
>
  <div class="relative w-70 h-70 aspect-square rounded">
    {% if image %}
      {% render 'image',
        image: image,
        alt: image.alt,
        class: 'object-contain w-full h-full'
      %}
    {% else %}
      {% render 'image',
        picture_class: 'svg-placeholder',
        placeholder: 'product-apparel-1'
      %}
    {% endif %}
  </div>
  <div class="flex flex-col gap-4">
    <div class="flex justify-between gap-16">
      <span class="text-title-medium">
        {{- product.name | escape -}}
      </span>
      {% if inline_price %}
        <span class="text-title-small leading-[2.4rem]">
          {{- price | money -}}
        </span>
      {% endif %}
    </div>
    {% if product.options.size > 0 %}
      <span class="text-body-medium text-secondary-{{ color_scheme }}">
        {%- for option in options -%}
          {% if option.value %}
            {%- if forloop.first != true -%}
              /&nbsp;
            {%- endif -%}
            {{ option.value }}
          {% endif %}
        {%- endfor -%}
      </span>
    {% endif %}
    <span class="text-body-medium">
      Qty: {{ quantity }}
    </span>
    {% if product.options.size <= 0 %}
      <span></span>
    {% endif %}
  </div>
</div>
