{% comment %}
  Renders a single order card

  Accepts:
  - order: {Object} order to be rendered
  - color-scheme: {Object} color scheme to be used

  Usage:
    {%- render 'account-order-card', order: order, color_scheme: color_scheme -%}
{% endcomment %}

<!-- desktop -->
<a
  href="/account/orders/{{ order.id }}"
  class="hidden md:flex flex-col gap-16 py-16 border rounded w-full order-shadow border-color-{{ color_scheme }}"
  style="--shadow-color: var(--color-{{ color_scheme }}-borders-and-inputs)"
>
  {% render 'account-order-card-content',
    order: order,
    color_scheme: color_scheme,
  %}
</a>

<!-- mobile -->
<div
  class="flex md:hidden flex-col gap-16 py-16 border rounded w-full order-shadow border-color-{{ color_scheme }}"
  style="--shadow-color: var(--color-{{ color_scheme }}-borders-and-inputs)"
>
  {% render 'account-order-card-content',
    order: order,
    color_scheme: color_scheme,
    show_view_order: true,
  %}
</div>
