<div class="blog-card flex flex-col gap-[16px] overflow-hidden">
  {%- if show_image and article.image -%}
    <div class="h-[250px] sm:w-full">
        <img
          src="{{ article.image | image_url }}"
          alt="{{ article.title }}"
          class="w-full h-full object-cover"
          height=""
          width=""
        >
    </div>
  {%- endif -%}
  <div class="flex flex-col gap-[16px]">
    <div class="flex flex-col gap-[4px]">
      {%- if show_date -%}
        <p class="text-body-medium font-display text-secondary-{{ section.settings.color_scheme }}">
          {{ article.published_at | time_tag: format: 'date' }}
        </p>
      {%- endif -%}
      {%- if show_author -%}
        <p class="text-body-medium font-display text-secondary-{{ section.settings.color_scheme }}">
          {{ article.author }}
        </p>
      {%- endif -%}
      <h3 class="font-display text-headline-small">
        <a href="{{ article.url }}" class="hover:underline">{{ article.title }}</a>
      </h3>
    </div>
    {%- if article.excerpt -%}
      <p class="text-body-large font-display">{{ article.excerpt | truncate: 100 }}</p>
    {%- endif -%}
    <div class="flex">
      {% render 'button',
        text: 'blog.post.read_more' | t,
        href: article.url,
        color_scheme: section.settings.color_scheme
      %}
    </div>
  </div>
</div>
