<cart-item
  data-index="{{ index }}"
  class="flex px-20 py-16 gap-14"
>
  {% render 'item-image',
    item: item,
    color_scheme: color_scheme
  %}
  <div class="flex flex-col w-full gap-14">
    <div class="flex flex-col gap-4">
      <div class="flex justify-between gap-16">
        <span class="text-title-medium">
          {{- item.product.title | escape -}}
        </span>
        {% if inline_price %}
          <span class="text-title-small leading-[2.4rem]">
            {{- item.price | money -}}
          </span>
        {% endif %}
      </div>
      {% render 'item-options',
        item: item,
        color_scheme: color_scheme
      %}
      {% if inline_price != true or inline_price and item.purchase_option.type == 'subscription' %}
        <div class="flex flex-wrap text-body-medium lowercase">
          <span class="font-medium">
            {%- if item.purchase_option.type == 'standard' -%}
              {{- item.price | money -}}
            {%- elsif item.purchase_option.type == 'subscription' -%}
              {% assign prefix = item.price | money | append: "/" %}
              {%- render 'subscription-plan-schedule',
                schedule: item.purchase_option.billing_schedule,
                prefix: prefix
              -%}
            {%- endif -%}
          </span>
          {%- if item.purchase_option.order_schedule -%}
            ,&nbsp;
            {% assign delivered = 'sections.product.purchase.subscription_delivered' | t %}
            {% assign prefix = "" | append: delivered | append: " " %}
            <span>
              {%- render 'subscription-plan-schedule',
                schedule: item.purchase_option.order_schedule,
                prefix: prefix
              -%}
            </span>
          {%- endif -%}
        </div>
      {% endif %}
      {% if item.purchase_option.billing_schedule.trial_days > 0 %}
        <span class="text-body-medium italic">
          {{ 'sections.product.purchase.includes_trial' | t: trial_days: item.purchase_option.billing_schedule.trial_days }}
        </span>
      {% endif %}
    </div>
    <div class="flex items-center justify-between gap-8">
      {% render 'cart-item-quantity',
        item: item,
        index: index,
        color_scheme: color_scheme
      %}
      <cart-item-remove data-index="{{ index }}" class="underline text-body-medium">
        {{ 'sections.cart.item.remove' | t }}
      </cart-item-remove>
    </div>
  </div>
</cart-item>
