{%- liquid
  assign color_scheme = color_scheme
  assign class = 'add-to-cart-button p-16 text-[#3B0B93] border border-[#3B0B93] bg-white text-label-large font-display flex items-center justify-center rounded-md hover:bg-[#3B0B93] hover:text-white btn-primary-' | append: color_scheme
  assign border_radius = settings.border_radius | default: 6 | times: 0.1 | round: 1

  assign purchaseOptionType = 'standard'
  assign purchaseOptionPlan = ''
  if product.purchase_options.standard == blank and product.purchase_options.subscription
    assign purchaseOptionType = 'subscription'
    assign purchaseOptionPlan = product.purchase_options.subscription.plans[0].id
  endif
-%}

<cart-drawer-button
  role="button"
  class="{{ class }}"
  data-product-id="{{ product.id }}"
  data-option-values="{{ product.selected_or_first_available_variant.selected_option_values | join: ',' }}"
  data-product-options="{{ product.options_with_values | json | url_encode }}"
  data-variant-quantity="1"
  data-purchase-option-type="{{ purchaseOptionType }}"
  data-purchase-option-plan="{{ purchaseOptionPlan }}"
  style="border-radius:{{ border_radius }}rem"
>
  <span class="flex-grow-0 text-[1.6rem] font-medium leading-[1.6rem]">{{ button_text }} </span>
  {% render 'loader' %}
</cart-drawer-button>
