{%- liquid
  assign cart_empty = cart == empty
  assign color_scheme = settings.cart_color_scheme
-%}

<cart-drawer-root
  class="bg-{{ color_scheme }} text-{{ color_scheme }} fixed right-0 top-0 flex h-screen w-[340px] sm:w-[500px] translate-x-full flex-col overflow-y-auto bg-white transition-transform duration-300"
  style="z-index: 5000"
  tabindex="-1"
  aria-labelledby="cart-drawer"
  aria-hidden="true"
  aria-modal="true"
  role="dialog"
  data-item-count="{{ cart.item_count }}"
>
  <div class="flex flex-col items-start justify-between pt-[16px] pl-[24px] pr-[24px]">
    <div class="flex flex-row w-full justify-between">
      <div class="flex flex-col gap-[8px]">
        <div class="text-headline-medium font-display">{{ 'sections.cart.title' | t }}</div>

        <cart-drawer-trigger
          role="button"
          class="text-left text-body-medium font-display w-full underline underline-offset-4 {% if cart == empty %}hidden{% endif %}"
          aria-controls="cartDrawer"
        >
          {{ 'general.continue_shopping' | t }}
        </cart-drawer-trigger>
      </div>
      
      <cart-drawer-trigger
        role="button"
        aria-controls="cartDrawer"
        class="pt-[16px]"
      >
        {{- 'cross-icon.svg' | inline_asset_content -}}
      </cart-drawer-trigger>
    </div>
  </div>

  <cart-drawer-content
    class="flex h-full w-full flex-col gap-[32px] divide-y overflow-hidden overflow-y-scroll pl-[24px] pr-[24px] pt-4"
  >
    <div class="pt-[16px] {% if cart == empty %}hidden{% endif %}">
      <div class="flex justify-between items-center w-full">
        <span class="text-title-small font-display">{{ 'sections.cart.headings.product' | t }}</span>
        <span class="text-title-small font-display">{{ 'sections.cart.headings.total' | t }}</span>
      </div>

      <div class="border-t border-color-{{ color_scheme }} w-full mt-[16px] mb-[0px]"></div>
    </div>

    <form
      action="{{ routes.cart_url }}"
      method="post"
      id="cart"
      class="flex flex-col h-full border-none gap-[32px]"
    >
      {%- if cart != empty -%}
        {%- for item in cart.items -%}
          {% render 'cart-drawer-item', item: item, index: forloop.index, color_scheme: color_scheme %}
        {%- endfor -%}
      {%- endif -%}

      <div class="text-center flex-col items-center justify-center gap-[16px] flex-grow-0 h-full {% if cart == empty %}flex{% else %}hidden{% endif %}">
        <p class="text-body-large font-display">{{ 'sections.cart.empty' | t }}</p>

        <div class="inline-flex">
          {% render 'button',
            text: 'general.continue_shopping' | t,
            href: routes.all_products_collection_url,
            color_scheme: color_scheme
          %}
        </div>
      </div>
    </form>
  </cart-drawer-content>

  <div class="flex flex-col gap-[32px] pl-[24px] pr-[24px] pb-[64px] {% if cart == empty %}hidden{% endif %}">
    <div class="border-t border-color-{{ color_scheme }} w-full mt-[16px] mb-[0px]"></div>

    <div class="flex flex-col gap-[8px]">
      <div class="flex items-center justify-between">
        <h4 class="text-title-medium font-display">{{ 'sections.cart.estimated_total' | t }}</h4>

        <cart-drawer-subtotal class="text-body-large font-display">
          <span>{{ cart.original_total_price | money }}</span>
          {% render 'loader' %}
        </cart-drawer-subtotal>
      </div>

      <div class="text-body-small font-display text-secondary-{{ color_scheme }}">
        {{ 'sections.cart.taxes_discounts_shipping_at_checkout' | t }}
      </div>
    </div>

    <div class="flex flex-col gap-[16px] {% if cart == empty %}hidden{% endif %}">
      {% render 'button',
        text: 'sections.cart.view_cart' | t,
        href: routes.cart_url,
        full_width: true,
        color_scheme: color_scheme,
        variant: 'secondary'
      %}

      {% render 'button',
        text: 'sections.cart.checkout' | t,
        type: 'submit',
        form: 'cart',
        name: 'checkout',
        disabled: cart_empty,
        full_width: true,
        color_scheme: color_scheme
      %}
    </div>
  </div>
</cart-drawer-root>
