<cart-drawer-item
  data-index="{{ index }}"
  class="flex gap-16"
>
  <div class="w-110 h-110 aspect-square">
    {% render 'image', image: item.image, alt: item.image.alt, class: 'object-cover w-full h-full' %}
  </div>

  <div class="flex flex-col justify-between gap-4 w-full text-body-small text-{{ color_scheme }}">
    <div class="flex flex-col gap-4">
      <div class="flex justify-between w-full">
        <a href="{{ item.url }}">
          <h4 class="sm:text-body-medium">{{- item.product.title | escape -}}</h4>
        </a>
        <span class="flex items-center gap-4 sm:text-body-medium">
          {%- if item.original_line_price != item.final_line_price -%}
            <s class="text-secondary-{{ color_scheme }} line-through">
              {{- item.original_line_price | money -}}
            </s>
          {%- endif -%}
          {{- item.final_line_price | money -}}
        </span>
      </div>
      {%- if item.options_with_values.size > 0 or item.properties.size > 0 -%}
        <div class="flex flex-col">
          {%- for option in item.options_with_values -%}
            {% if option.value %}
              <div class="flex">
                <span class="text-secondary-{{ color_scheme }}">{{ option.name }}:&nbsp;</span>
                <span>{{ option.value }}</span>
              </div>
            {% endif %}
          {%- endfor -%}
          {%- for property in item.properties -%}
            {%- assign property_first_char = property.first | slice: 0 -%}
            {%- if property.last != blank and property_first_char != '_' -%}
              <div class="flex items-center gap-4">
                <div>{{ property.first }}</div>
                <div>|</div>
                <div>
                  {%- if property.last contains '/uploads/' -%}
                    <a href="{{ property.last }}">
                      {{ property.last | split: '/' | last }}
                    </a>
                  {%- else -%}
                    {{ property.last }}
                  {%- endif -%}
                </div>
              </div>
            {%- endif -%}
          {%- endfor -%}
        </div>
      {%- endif -%}
    </div>
    <div class="flex items-center gap-4">
      {% render 'cart-item-quantity',
        item: item,
        index: index,
        color_scheme: color_scheme
      %}
      <cart-item-remove data-index="{{ index }}">
        {{- 'trash-icon.svg' | inline_asset_content -}}
      </cart-item-remove>
    </div>
  </div>
</cart-drawer-item>
