<div class="font-display text-body-small text-right pb-8 border-b border-color-{{ color_scheme }}">
  {%- if duties_included and taxes_included -%}
    {%- if shipping_policy_body == blank -%}
      Duties and taxes are included. Shipping will be calculated at checkout.
    {%- else -%}
      Duties and taxes are included. Shipping will be calculated at checkout. See our
      <a href="{{ shipping_policy_url }}">shipping policy</a> for more details.
    {%- endif -%}
  {%- elsif duties_included == false and taxes_included -%}
    {%- if shipping_policy_body == blank -%}
      Taxes, discounts and shipping calculated at checkout.
    {%- else -%}
      Taxes, discounts and shipping calculated at checkout. See our
      <a href="{{ shipping_policy_url }}">shipping policy</a> for more details.
    {%- endif -%}
  {%- elsif duties_included and taxes_included == false -%}
    {%- if shipping_policy_body == blank -%}
      Duties are included. Taxes, discounts and shipping calculated at checkout.

    {%- else -%}
      Duties are included. Taxes, discounts and shipping calculated at checkout. See our
      <a href="{{ shipping_policy_url }}">shipping policy</a> for more details.
    {%- endif -%}
  {%- elsif duties_included == false and taxes_included == false -%}
    {%- if shipping_policy_body == blank -%}
      Taxes, discounts and shipping calculated at checkout.
    {%- else -%}
      Taxes, discounts and shipping calculated at checkout. See our
      <a href="{{ shipping_policy_url }}">shipping policy</a> for more details.
    {%- endif -%}
  {%- endif -%}
</div>
