{% liquid
  assign img = section.settings.image
  assign size_setting = section.settings.image_size

  assign img_width = img.file.width
  assign img_height = img.file.height

  assign base_width = img_width
  assign max_width = img_width | append: 'px'

  if size_setting == 'small'
    assign base_width = 400
    assign max_width = '400px'
  elsif size_setting == 'large'
    assign base_width = 1800
    assign max_width = '1800px'
  endif
%}

<div class="w-full">
  <img
    srcset="
      {%- if img.file.width >= 165 -%}{{ img.file.url }}?width=165 165w,{%- endif -%}
      {%- if img.file.width >= 360 -%}{{ img.file.url }}?width=360 360w,{%- endif -%}
      {%- if img.file.width >= 533 -%}{{ img.file.url }}?width=533 533w,{%- endif -%}
      {%- if img.file.width >= 720 -%}{{ img.file.url }}?width=720 720w,{%- endif -%}
      {%- if img.file.width >= 1000 -%}{{ img.file.url }}?width=1000 1000w,{%- endif -%}
      {%- if img.file.width >= 1500 -%}{{ img.file.url }}?width=1500 1500w,{%- endif -%}
      {%- if img.file.width >= 1800 -%}{{ img.file.url }}?width=1800 1800w,{%- endif -%}
      {{ img.file.url }} {{ img.file.width }}w
    "
    src="{{ img.file.url }}?width={{ base_width }}"
    sizes="
      {% if size_setting == 'small' %}(max-width: 800px) 100vw, 800px
      {% elsif size_setting == 'large' %}(max-width: 1800px) 100vw, 1800px
      {% else %}100vw, {{ img_width }}px{% endif %}"
    alt="{{ img.file.filename | escape }}"
    class="w-full h-auto ml-auto mr-auto"
    style="max-width:{{ max_width }};"
    loading="lazy"
    width="{{ base_width }}"
    height="{{ img_height | divided_by: img_width | times: base_width | round }}"
  >
</div>
