{%- liquid
  assign color_scheme = section.settings.color_scheme_customer_accounts_banner
-%}

{%- if shop.customer_accounts_enabled -%}
  <div role="banner" class="text-{{ color_scheme }} bg-{{ color_scheme }}">
    <nav class="flex items-center justify-end px-8 py-2.5 text-xxs uppercase">
      <ul class="flex divide-x">
        {%- if customer -%}
          <li class="px-2">
            <a
              href="{{ routes.account_url }}"
              class=""
              >Your account</a
            >
          </li>
        {%- else -%}
          <li class="px-2">
            <a
              href="{{ routes.account_register_url }}"
              class=""
              >Join</a
            >
          </li>
          <li class="px-2">
            <a
              href="{{ routes.account_login_url }}"
              class=""
              >Sign in</a
            >
          </li>
        {%- endif -%}
      </ul>
    </nav>
  </div>
{%- endif -%}
