{% assign disabled = false %}

{% case filter.type %}
  {% when 'boolean' %}
    <div class="flex items-center flex-nowrap gap-8">
      <input
        type="checkbox"
        class="size-16 mr-8 rounded border-gray-300"
        id="{{ filter.param_name }}"
        name="{{ filter.param_name }}"
        value="{{ filter.true_value.value }}"
        {% if filter.active_values.size > 0 %}
          checked
        {% endif %}
      >
      <label for="{{ filter.param_name }}" class="text-nowrap filter-checkbox">{{ filter.true_value.label }}</label>
    </div>

  {% when 'list' %}
    {% if option.active == false and option.count == 0 %}
      {% assign disabled = true %}
    {% endif %}
    <label class="flex items-center flex-nowrap filter-checkbox">
      <input
        type="checkbox"
        class="size-16 mr-8 rounded border-gray-300 {% if disabled %}bg-gray-200{% endif %}"
        name="{{ filter.param_name }}"
        value="{{ option.value }}"
        {% if disabled %}
          disabled
        {% endif %}
        {% if option.active %}
          checked
        {% endif %}
      >
      <span class="font-display text-nowrap">
        {{- option.label -}}
      </span>
    </label>

  {% when 'price_range' %}
    <div
      id="price-range"
      class="price-slider w-full"
      data-min="{{ 0 }}"
      data-max="{{ filter.range_max }}"
      data-start-min="{{ filter.min_value.value | default: 0 }}"
      data-start-max="{{ filter.max_value.value | default: filter.range_max }}"
      data-step="1"
      data-input-name="{{ filter.param_name }}"
      data-currency-symbol="{{ localization.country.currency.symbol }}"
    >
      <div class="flex justify-between mb-[4px]">
        <span class="text-headline-medium text-gray-700 min-value">
          {{- filter.min_value.value | default: 0 | money -}}
        </span>
        <span class="text-headline-medium text-gray-700 max-value">
          {{- filter.max_value.value | default: filter.range_max | money -}}
        </span>
      </div>

      <div class="slider-track"></div>
    </div>
{% endcase %}
