<div class="relative z-10 mx-auto mt-20 max-w-md bg-white border-[#E0E0E0] rounded-[4px] border p-6">
  <div class="flex flex-col gap-[32px]">
    <div class="flex justify-between items-center">
      <h2 class="text-title-large font-display text-black">Select language</h2>
      <button data-target="#languageModal" class="closeButton">
        {{ 'country-cross-icon.svg' | inline_asset_content }}
      </button>
    </div>
    <localization-form>
      {%- form 'localization', id: 'FooterLanguageForm', class: 'localization-form' -%}
        <div class="space-y-4">
          <div class="relative">
            <div class="overflow-auto max-h-60" id="language-results">
              <ul role="list" class="py-2 space-y-1">
                {% for language in localization.available_languages %}
                  <li>
                    <a
                      href="#"
                      hreflang="{{ language.iso_code }}"
                      class="flex items-center justify-between block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 focus:bg-gray-100"
                      data-value="{{ language.iso_code }}"
                      id="{{ language.name }}"
                      {% if language.iso_code == localization.language.iso_code %}
                        aria-current="true"
                      {% endif %}
                    >
                      <span class="language"> {{ language.endonym_name | capitalize }} </span>
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        <input type="hidden" name="locale_code" value="{{ localization.language.iso_code }}">
      {%- endform -%}
    </localization-form>
  </div>
</div>
