{%- liquid
  assign title = product.title | escape
  assign vendor = product.vendor | escape
  assign price = product.price | money_with_currency
  assign compare_at_price = product.compare_at_price | money_with_currency
-%}

<a href="{{ product.url }}" class="flex flex-col gap-4 relative !no-underline">
  <div class="aspect-square min-w-56 min-h-56 overflow-hidden">
    {% render 'image', image: product.images.first, alt: product.images.first.alt %}
  </div>
  <div class="flex flex-col">
    {% comment %} {%- if section.settings.show_vendor and vendor != blank -%} {% endcomment %}
    <div class="preheading mb-1">{{ vendor }}</div>
    {% comment %} {%- endif -%} {% endcomment %}
    <div class="text-sm/5 mb-3">{{ title }}</div>
    <div class="flex gap-3 text-sm/4">
      {{ price }}
      <p>Compare at Price: {{ product.compare_at_price | money_with_currency }}</p>
      {% if compare_at_price != blank %}
        <span class="line-through text-gray-600 text-xs/4">{{ compare_at_price }}</span>
      {% endif %}
    </div>
  </div>
</a>
