<div id="mobileTray" class="bg-{{ color_scheme }} text-{{ color-scheme }} w-full inset-0 z-[101]">
  <div id="trayContent">
    <!-- Main Menu -->
    <ul id="mainMenu" class="flex flex-col block">
      {% for link in links %}
        <li>
          {% if link.links and link.links.size > 0 %}
            <button
              class="flex justify-between items-center w-full text-left text-body-large font-display h-[48px]"
              data-submenu-id="submenu-{{ forloop.index }}"
              onclick="openSubMenu('submenu-{{ forloop.index }}', '{{ link.title | escape }}')"
            >
              {{ link.title | escape }}
              {{- 'nav-right-arrow-icon.svg' | inline_asset_content -}}
            </button>

            <!-- Sublinks -->
            <ul id="submenu-{{ forloop.index }}" class="hidden">
              {% for sublink in link.links %}
                <li>
                  {% if sublink.links and sublink.links.size > 0 %}
                    <button
                      class="flex justify-between items-center w-full text-left text-body-large font-display h-[48px]"
                      data-submenu-id="submenu-{{ forloop.parentloop.index }}-{{ forloop.index }}"
                      onclick="openSubMenu('submenu-{{ forloop.parentloop.index }}-{{ forloop.index }}', '{{ sublink.title | escape }}')"
                    >
                      {{ sublink.title | escape }}
                      {{- 'nav-right-arrow-icon.svg' | inline_asset_content -}}
                    </button>
                    <ul id="submenu-{{ forloop.parentloop.index }}-{{ forloop.index }}" class="hidden">
                      <!-- Nested Sublinks -->
                      {% for nestedSublink in sublink.links %}
                        <li>
                          <a
                            href="{{ nestedSublink.url }}"
                            class="flex items-center text-body-large font-display h-[48px]"
                          >
                            {{ nestedSublink.title | escape }}
                          </a>
                        </li>
                      {% endfor %}
                    </ul>
                  {% else %}
                    <a href="{{ sublink.url }}" class="flex items-center text-body-large font-display h-[48px]">
                      {{- sublink.title | escape -}}
                    </a>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          {% else %}
            <a href="{{ link.url }}" class="flex items-center text-body-large font-display h-[48px]">
              {{- link.title | escape -}}
            </a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>

    <!-- Submenu Tray -->
    <div id="submenuTray" class="hidden">
      <div class="flex gap-[8px] items-center h-[48px]" onclick="closeSubLinkTray()">
        {{- 'nav-left-arrow-icon.svg' | inline_asset_content -}}
        <h2 id="trayTitle" class="font-display text-body-large">{{ 'sections.header.submenu' | t }}</h2>
      </div>
      <ul id="sublinkTrayContent" class="flex flex-col font-display text-body-large"></ul>
    </div>
  </div>
</div>
