{% if view == 'blog-comments' %}
  {% assign hash = '#comments' %}
{% else %}
  {% assign hash = '' %}
{% endif %}

{% if paginate.previous or paginate.next %}
  <div class="flex items-center justify-center gap-16 pt-32 pb-64">
    {% if paginate.previous %}
      <a
        href="{{ paginate.previous.url }}{{ hash }}"
        class="inline-flex items-center text-body-medium font-display uppercase"
      >
        <ion-icon name="chevron-back-outline" aria-label="{{ 'general.pagination.previous' | t }}"></ion-icon>
      </a>
    {% endif %}

    <ul class="flex items-center gap-20 text-body-medium font-display">
      {% for part in paginate.parts %}
        {% if part.is_link %}
          <li class="w-18">
            <a
              href="{{ part.url }}{{ hash }}"
              class="inline-flex items-center text-body-medium font-display"
            >
              {{- part.title -}}
            </a>
          </li>
        {% else %}
          {% if part.title == '&hellip;' %}
            <li>&hellip;</li>
          {% else %}
            <li class="border-b border-color-{{ color_scheme }} font-display text-title-small flex justify-center w-18">
              {{ part.title }}
            </li>
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>

    {% if paginate.next %}
      <a
        href="{{ paginate.next.url }}{{ hash }}"
        class="inline-flex items-center text-body-medium font-display uppercase"
      >
        <ion-icon name="chevron-forward-outline" aria-label="{{ 'general.pagination.next' | t }}"></ion-icon>
      </a>
    {% endif %}
  </div>
{% endif %}
