<product-option-text
  id="product-option-{{ option.id }}"
  class="flex flex-col gap-6"
  data-option-id="{{ option.id }}"
  {% if option.required %}
    required
  {% endif %}
>
  <span class="text-body-medium text-secondary-{{ variants_color_scheme }}">
    {{ option.name }}
  </span>
  <textarea
    style="--shadow-color: var(--color-{{ variants_color_scheme }}-borders-and-inputs)"
    class="product-option-input px-12 py-10 text-title-medium outline-none resize-none border border-color-{{ variants_color_scheme }} bg-{{ variants_color_scheme }}"
    rows="4"
    {% if option.input_hint %}
      placeholder="{{ option.input_hint }}"
    {% endif %}
  ></textarea>
  {% if option.description %}
    <span class="text-body-small text-secondary-{{ variants_color_scheme }}">{{ option.description }}</span>
  {% endif %}
  <option-error class="hidden text-body-medium text-red-600">
    {{ 'sections.product.option.text_error' | t }}
  </option-error>
</product-option-text>