{%- liquid
  assign activeBorderClass = "border-color-" | append: color_scheme
  assign inactiveBorderClass = "bg-gray-50"

  assign purchaseOptionType = 'standard'
  assign purchaseOptionPlan = ''
  if product.purchase_options.standard == blank and product.purchase_options.subscription
    assign purchaseOptionType = 'subscription'
    assign purchaseOptionPlan = product.purchase_options.subscription.plans[0].id
  endif
-%}  
  <product-purchase-options>
    <div
      id="product-price"
      class="product-price text-title-medium font-display text-{{ color_scheme }} mb-[2px] mt-[2px]"
      style="margin-top: {{ block.settings.margin_top }}px; margin-bottom: {{ block.settings.margin_bottom }}px;"
      data-purchase-option-type="{{ purchaseOptionType}}"
      data-purchase-option-plan="{{ purchaseOptionPlan }}"
    >
      {{ product.selected_or_first_available_variant.price | money_without_trailing_zeros }}
    </div>
  
  {%- if product.purchase_options.subscription -%}
    <div role="group mt-2" class="flex flex-col gap-2 min-w-48 md:min-w-96 lg:min-w-120 xl:min-w-120 2xl:min-w-120">
      {%- if product.purchase_options.standard -%}
        <div class="relative mb-2 block">
          <input id="standard" type="checkbox" name="purchase-option" value="standard" class="absolute inset-0 opacity-0" checked="checked">
          <div id="standard-div" class="relative flex w-full cursor-pointer rounded border px-6 py-4 text-sm transition-all {{ activeBorderClass }}"
            data-active-border-class="{{ activeBorderClass }}" data-inactive-border-class="{{ inactiveBorderClass }}" data-price="{{ product.selected_or_first_available_variant.price | money_without_trailing_zeros }}"
          >
            <span>One-time Purchase</span>
            <span class="ml-auto inline-block font-semibold">
              <span id="standard-div-price">
                {{ product.selected_or_first_available_variant.price | money_without_trailing_zeros }}
              </span> 
            </span>
          </div>
        </div>
      {%- endif -%}
      {%- if product.purchase_options.subscription -%}
        <div class="relative mb-2 block">
          <input id="subscription" type="checkbox" name="purchase-option" value="subscription" class="absolute inset-0 opacity-0" {%- if purchaseOptionType == 'subscription' -%}checked="checked"{%- endif -%}>
          <div id="subscription-div" class="relative flex w-full cursor-pointer rounded border px-6 py-4 text-sm transition-all {%- if product.purchase_options.standard -%}{{ inactiveBorderClass }}{%- else -%}{{ activeBorderClass }}{%- endif -%}"
            data-active-border-class="{{ activeBorderClass }}" data-inactive-border-class="{{ inactiveBorderClass }}"
          >
            <div class="w-4 h-4 mr-2 mt-3">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="vertical-align: -0.125em;-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" data-v-d8d66b18="" class="iconify icon:uil:sync w-4 h-4" data-icon="uil:sync"><path fill="currentColor" d="M19.91 15.51h-4.53a1 1 0 0 0 0 2h2.4A8 8 0 0 1 4 12a1 1 0 0 0-2 0a10 10 0 0 0 16.88 7.23V21a1 1 0 0 0 2 0v-4.5a1 1 0 0 0-.97-.99M12 2a10 10 0 0 0-6.88 2.77V3a1 1 0 0 0-2 0v4.5a1 1 0 0 0 1 1h4.5a1 1 0 0 0 0-2h-2.4A8 8 0 0 1 20 12a1 1 0 0 0 2 0A10 10 0 0 0 12 2"></path></svg>
            </div>
            <select
              id="subscription-select"
              class="border bg-gray-50 text-sm max-h-25vh w-full overflow-y-scroll rounded-md block pt-2.5 pb-2.5"
              value={{ product.purchase_options.subscription.plans[0] }}
            >
            {%- for plan in product.purchase_options.subscription.plans -%}
              {%- liquid
                if plan.billing_schedule.interval == 'weekly'
                  assign interval = 'week'
                  assign perInterval = 'wk'
                elsif plan.billing_schedule.interval == 'monthly'
                  assign interval = 'month'
                  assign perInterval = 'mo'
                elsif plan.billing_schedule.interval == 'yearly'
                  assign interval = 'year'
                  assign perInterval = 'yr'
                else
                  assign interval = 'day'
                  assign perInterval = 'day'
                endif

                assign intervalCount = plan.billing_schedule.interval_count
                assign moneyText = plan.price | money_without_trailing_zeros
                assign moneyText = moneyText | append: '/'
                if intervalCount == 1
                  assign text = 'Every ' | append: interval
                  assign text = text | append: ' - '
                else
                  assign text = 'Every ' | append: intervalCount
                  assign text = text | append: ' '
                  assign text = text | append: interval
                  assign text = text | append: 's - '
                  assign moneyText = moneyText | append: intervalCount
                endif
                assign moneyText = moneyText | append: perInterval

                assign trialText = ''
                if plan.billing_schedule.trial_days == 1
                   assign trialText = 'Includes 1 trial day - '
                endif
                if plan.billing_schedule.trial_days > 1
                   assign trialText = 'Includes ' | append: plan.billing_schedule.trial_days
                   assign trialText = trialText | append: ' trial days - '
                endif

                assign optionText = text | append: trialText
                assign optionText = optionText | append: moneyText
              -%}
              <option id={{ plan.id }} role="option" value={{ plan.id }} data-price="{{ plan.price | money_without_trailing_zeros }}" class="mx-4 my-3 flex cursor-pointer items-center rounded-md p-2 transition duration-200 text-primary-med">
                {{ optionText }}
              </option>
            {%- endfor -%}
          </select>
          </div>
         </div>
      {%- endif -%}
    </div>
  {%- endif -%}
</product-purchase-options>

<script type="application/json" data-variants-json>
  {{ product.purchase_options | json }}
</script>
