{% comment %}
  Usage: {% render 'product-card', product: product %}
  Dependencies: cart.js
{% endcomment %}

{% assign featured_image = product.images | first %}
{% assign second_image = product.images | slice: 1, 1 | first %}
{% assign color_scheme = color_scheme %}

{% assign sorted_variants = product.variants | sort: 'price' %}
{% assign lowest_price_variant = sorted_variants | first %}
{% assign lowest_price = lowest_price_variant.price | money_with_currency %}
{% assign compare_at_price = product.compare_at_price | money_with_currency %}

<div class="group relative flex flex-col gap-3">
  <a href="{{ product.url }}" class="relative w-full h-fit aspect-square">
    <img
      src="{{ featured_image | image_url}}"
      alt="{{ featured_image.alt }}"
      class="primary-image rounded w-full h-full object-cover absolute inset-0 transition-opacity duration-300 opacity-100 group-hover:opacity-0"
    >
    {% if second_image %}
      <img
        src="{{ second_image | image_url}}"
        alt="{{ second_image.alt }}"
        class="secondary-image rounded w-full h-full object-cover absolute inset-0 transition-opacity duration-300 opacity-0 group-hover:opacity-100"
      >
    {% else %}
      <img
        src="{{ featured_image | image_url}}"
        alt="{{ featured_image.alt }}"
        class="primary-image rounded w-full h-full object-cover absolute inset-0 transition-opacity duration-300 opacity-100"
      >
    {% endif %}
  </a>
  <div class="flex flex-col gap-1">
    <a href="{{ product.url }}" class="text-body-small font-display">
      <h5>{{ product.title }}</h5>
    </a>
    <div class="flex gap-2">
      <span class="text-body-medium font-display">
        {% if product.variants.size > 1 %}
          From {{ lowest_price }}
        {% else %}
          {{ lowest_price }}
        {% endif %}
      </span>
      {% if compare_at_price != blank %}
        <span class="line-through text-secondary-{{ color_scheme }} text-body-medium font-display">
          {{- compare_at_price -}}
        </span>
      {% endif %}
    </div>
  </div>
</div>
