{%- liquid
  assign size = size | default: 'sm'
  assign border_radius = settings.border_radius | default: 6
-%}

<quantity-selector-root
  class="quantity-selector-root quantity-selector-cart flex items-center gap-3"
  data-context="cart"
>
  <div
    class="grid {% if size == 'lg' %}max-w-40{% else %} max-w-[118px]{% endif %} grid-cols-3 rounded-[4px] border border-color-{{ color_scheme }}"
    style="border-radius:{{ border_radius }}px"
  >
    <quantity-selector-decrement
      role="button"
      class="flex items-center justify-center {% if size == 'lg' %}m-4{% else %}m-2{% endif %}"
      aria-label="{{ 'sections.product.quantity.decrement' | t }}"
    >
      <ion-icon name="remove-outline" aria-hidden="true"></ion-icon>
    </quantity-selector-decrement>

    <input
      class="text-center text-xxs number-input border-color-{{ color_scheme }}"
      type="number"
      data-line="{{ index }}"
      value="{{ item.quantity }}"
      data-cart-quantity="{{ cart | item_count_for_variant: item.variant.id }}"
      min="0"
      data-min="{{ item.variant.quantity_rule.min }}"
      {% if item.variant.quantity_rule.max != null %}
        max="{{ item.variant.quantity_rule.max }}"
      {% endif %}
      step="{{ item.variant.quantity_rule.increment }}"
      aria-label="{{ 'sections.product.quantity.label' | t: product_name: item.product.title | escape }}"
      style="border-radius:{{ border_radius }}px"
    >

    <quantity-selector-increment
      role="button"
      class="flex items-center justify-center {% if size == 'lg' %}m-4{% else %}m-2{% endif %}"
      aria-label="{{ 'sections.product.quantity.increment' | t }}"
      class="{% if size == 'lg' %}p-10{% endif %}"
    >
      <ion-icon name="add-outline" aria-hidden="true"></ion-icon>
    </quantity-selector-increment>
  </div>

  <quantity-selector-remove role="button" class="">
    {{- 'trash-icon.svg' | inline_asset_content -}}
  </quantity-selector-remove>
</quantity-selector-root>
