{%- liquid
  assign color_scheme = section.settings.color_scheme
  assign input_class = 'input-field px-12 py-10 text-title-medium outline-none border border-color-' | append: color_scheme | append: ' bg-' | append: color_scheme
  assign input_style = '--shadow-color: var(--color-' | append: color_scheme | append: '-borders-and-inputs)'
  assign input_label_class = 'text-body-medium text-secondary-' | append: color_scheme
  assign link_class = 'font-display text-body-medium font-medium hover:underline underline-offset-2'
-%}

{% style %}
  .email-sent-icon {
    svg {
      width: 2.4rem;
      height: 2.4rem;
      margin-right: 0.5rem;
    }
  }
{% endstyle %}

<account-recover class="flex flex-col gap-32 account-section-width account-form-section">
  <div class="flex flex-col gap-8 items-start">
    <h1 tabindex="-1" class="font-display text-title-large">{{ 'sections.recover-password.title' | t }}</h1>
    <p id="recover-password-subtext" class="font-display text-body-large">{{ 'sections.recover-password.subtext' | t }}</p>
  </div>
  <div class="w-full">
    {% assign account_recover_url = '/' | append: routes.account_recover_url %}
    {%- form 'recover_customer_password'
        , hx-post: account_recover_url
        , hx-swap: 'outerHTML'
        , hx-target: "#recover-form-fields"
        , hx-select: "#recover-form-fields"
        , hx-indicator: "#recover-form"
    -%}
      <div id="recover-form" class="account-form flex max-w-full flex-col gap-16">
        <div id="recover-form-fields" class="flex max-w-full flex-col gap-16">
          {%- if form.errors -%}
            <div id="recover-errors" class="w-full flex flex-row mb-16 py-10 px-12 gap-8 rounded-md border border-color-{{ color_scheme }}">
              <div class="mt-2">
                {{- 'alert-circle.svg' | inline_asset_content -}}
              </div>
              <div class="font-display text-content">
                {{ form.errors | default_errors }}
              </div>
            </div>
          {%- endif -%}

          <div class="relative flex flex-col gap-6">
            <span class="{{ input_label_class }}">
              {{ 'sections.recover-password.email' | t }}
            </span>
            <input
              class="{{ input_class }}"
              style="{{ input_style }}"
              placeholder="{{ 'sections.recover-password.email_placeholder' | t }}"
              type="email"
              name="email"
              id="RecoverEmail"
              autocomplete="email"
              aria-invalid="true"
              aria-describedby="RecoverEmail-email-error"
              required
              {% if form.errors %}
                autofocus
              {% endif %}
            />
          </div>
        </div>
        <div class="flex gap-7 items-center justify-center mt-32 flex-col">
          <div class="w-full">
            {% assign submit_text = 'sections.recover-password.submit' | t %}
            {% render 'button',
              name: 'submit',
              id: 'submit-recover',
              type: 'submit',
              text: submit_text,
              class: 'w-full px-24 py-12 text-body-medium',
              color_scheme: color_scheme,
              disabled: true
            %}
          </div>
          <div class="flex items-center justify-center">
            <a
              href="#login"
              class="{{ link_class }}"
            >
              {{ 'sections.recover-password.cancel' | t }}
            </a>
          </div>
        </div>
      </div>
      <div id="recover-success" class="hidden w-full flex flex-row mb-16 py-10 px-12 gap-8 rounded-md border border-color-{{ color_scheme }}">
        <div class="mt-2">
          {{- 'alert-success.svg' | inline_asset_content -}}
        </div>
        <div class="font-display text-content">
          {{ 'sections.recover-password.success' | t }}
        </div>
      </div>
    {%- endform -%}
  </div>
</account-recover>