{%- liquid
  assign color_scheme = section.settings.color_scheme
  assign input_class = 'input-field px-12 py-10 text-title-medium outline-none border border-color-' | append: color_scheme
  assign input_label_class = 'text-body-medium text-secondary-' | append: color_scheme
  assign link_class = 'font-display text-body-medium font-medium hover:underline underline-offset-2'
-%}

{% style %}
  .email-sent-icon {
    svg {
      width: 2.4rem;
      height: 2.4rem;
      margin-right: 0.5rem;
    }
  }
{% endstyle %}

<div class="flex flex-col gap-32">
  <div class="flex flex-col gap-8 items-center sm:items-start">
    <h1 tabindex="-1" class="font-display text-title-large">{{ 'sections.recover-password.title' | t }}</h1>
    <p class="font-display text-body-large">{{ 'sections.recover-password.subtext' | t }}</p>
  </div>
  <div class="w-full">
    {%- form 'recover_customer_password'
      , class: 'w-full'
    -%}
      {% assign recover_success = form.posted_successfully? %}
      <div class="relative flex flex-col gap-">
        <span class="{{ input_label_class }}">
          {{ 'sections.recover-password.email' | t }}
        </span>
        <input
          class="{{ input_class }}"
          placeholder="{{ 'sections.recover-password.email_placeholder' | t }}"
          type="email"
          name="email"
          id="RecoverEmail"
          autocomplete="email"
          aria-invalid="true"
          aria-describedby="RecoverEmail-email-error"
          {% if form.errors %}
            autofocus
          {% endif %}
        />
        {%- if form.errors -%}
          <small id="RecoverEmail-email-error" class="form__message">
            <span class="svg-wrapper">
              {{- 'icon-error.svg' | inline_asset_content -}}
            </span>
            {{ form.errors.messages.form }}
          </small>
        {%- endif -%}
      </div>

      <div class="flex gap-7 items-center justify-center mt-32 flex-col">
        <div class="w-full">
          {% assign submit_text = 'sections.recover-password.submit' | t %}
          {% render 'button',
            name: 'submit',
            id: 'submit-recover',
            type: 'submit',
            text: submit_text,
            class: 'w-full px-24 py-12 text-body-medium',
            color_scheme: color_scheme,
            disabled: true
          %}
        </div>
        <div class="flex items-center justify-center">
          <a
            href="#login"
            class="{{ link_class }}"
          >
            {{ 'sections.recover-password.cancel' | t}}
          </a>
        </div>
      </div>
    {%- endform -%}

    {%- if recover_success == true -%}
      <h3 class="form__message flex flex-row" tabindex="-1" autofocus>
        <span class="svg-wrapper email-sent-icon">
          {{- 'icon-success.svg' | inline_asset_content -}}
        </span>
        {{ 'sections.recover-password.sent' | t }}
      </h3>
    {%- endif -%}
  </div>
</div>