{%- liquid
  assign color_scheme = section.settings.color_scheme
-%}

<div class="flex flex-col gap-32">
  <div class="flex flex-col gap-8 items-center sm:items-start">
    <h1 tabindex="-1" class="font-display text-headline-medium">{{ 'sections.recover-password.title' | t }}</h1>
    <p class="font-display text-body-large">{{ 'sections.recover-password.subtext' | t }}</p>
  </div>
  <div class="w-full">
    {%- form 'recover_customer_password'
      , class: 'w-full'
    -%}
      {% assign recover_success = form.posted_successfully? %}
      <div class="field">
        {% assign email_text = 'sections.recover-password.email' | t %}
        {% render 'input',
          type: 'email',
          name: 'email',
          id: 'RecoverEmail',
          autocomplete: 'email',
          placeholder: email_text,
          invalid: form.errors,
          error_id: 'RecoverEmail-email-error',
          autofocus: form.errors
        %}
      </div>
      {%- if form.errors -%}
        <small id="RecoverEmail-email-error" class="form__message">
          <span class="svg-wrapper">
            {{- 'icon-error.svg' | inline_asset_content -}}
          </span>
          {{ form.errors.messages.form }}
        </small>
      {%- endif -%}

      <div class="flex gap-16 sm:gap-32 items-center justify-end mt-32 flex-col-reverse sm:flex-row">
        <div class="flex items-center justify-center gap-4">
          <a
            href="#login"
            class="font-display text-body-medium underline underline-offset-2"
          >
            {{ 'sections.recover-password.cancel' | t}}
          </a>
        </div>
        <div class="sm:w-auto w-full">
          {% assign submit_text = 'sections.recover-password.submit' | t %}
          {% render 'button',
            type: 'submit',
            text: submit_text,
            class: 'sm:w-auto w-full',
            color_scheme: color_scheme
          %}
        </div>
      </div>
    {%- endform -%}

    {%- if recover_success == true -%}
      <h3 class="form__message" tabindex="-1" autofocus>
        <span class="svg-wrapper">
          {{- 'icon-success.svg' | inline_asset_content -}}
        </span>
        {{ 'sections.recover-password.sent' | t }}
      </h3>
    {%- endif -%}
  </div>
</div>