{% liquid
  assign icon_size = icon_size | default: '20'
  assign share_url = share_url | default: canonical_url | url_encode
  assign share_title = share_title | default: page.label | default: page.title
  assign share_image = share_image | image_url | url_encode
%}

<div class="flex flex-wrap gap-16 text-{{ color_scheme }}">
  {% if show_copy_link %}
    <copy-to-clipboard
      role="button"
      data-copy-content="{{ share_url }}"
      class="flex items-center justify-center"
    >
      <ion-icon name="link-outline" class="size-{{ icon_size }} rotate-[-45deg]"></ion-icon>
    </copy-to-clipboard>
  {% endif %}

  {% if show_pinterest %}
    <a
      class="inline-flex items-center size-{{ icon_size }}"
      href="https://pinterest.com/pin/create/button/?url={{ share_url }}&media={{ share_image }}&description={{ share_title }}"
      target="_blank"
      rel="noopener noreferrer"
    >
      {{- 'pinterest-icon.svg' | inline_asset_content -}}
    </a>
  {% endif %}

  {% if show_facebook %}
    <a
      class="inline-flex items-center size-{{ icon_size }}"
      href="https://www.facebook.com/sharer/sharer.php?u={{ share_url }}"
      target="_blank"
      rel="noopener noreferrer"
    >
      {{- 'facebook-icon.svg' | inline_asset_content -}}
    </a>
  {% endif %}

  {% if show_x %}
    <a
      class="inline-flex items-center size-{{ icon_size }}"
      href="https://twitter.com/intent/tweet?url={{ share_url }}&text={{ share_title }}"
      target="_blank"
      rel="noopener noreferrer"
    >
      {{- 'x-icon.svg' | inline_asset_content -}}
    </a>
  {% endif %}

  {% if show_linkedin %}
    <a
      class="inline-flex items-center size-{{ icon_size }}"
      href="https://www.linkedin.com/sharing/share-offsite/?url={{ share_url }}"
      target="_blank"
      rel="noopener noreferrer"
    >
      {{- 'linkedin-icon.svg' | inline_asset_content -}}
    </a>
  {% endif %}
</div>