<ul class="flex flex-wrap gap-4 text-body-large min-h-32 mb-4">
  {% if settings.social_facebook_url != blank %}
    <li class="flex items-center">
      <a
        href="{{ settings.social_facebook_url }}"
        target="_blank"
        aria-label="Facebook"
        class="inline-flex items-center"
      >
        {{- 'facebook-icon.svg' | inline_asset_content -}}
      </a>
    </li>
  {% endif %}

  {% if settings.social_x_url != blank %}
    <li class="flex items-center">
      <a href="{{ settings.social_x_url }}" target="_blank" aria-label="X.com" class="inline-flex items-center">
        {{- 'x-icon.svg' | inline_asset_content -}}
      </a>
    </li>
  {% endif %}

  {% if settings.social_instagram_url != blank %}
    <li class="flex items-center">
      <a
        href="{{ settings.social_instagram_url }}"
        target="_blank"
        aria-label="Instagram"
        class="inline-flex items-center"
      >
        {{- 'instagram-icon.svg' | inline_asset_content -}}
      </a>
    </li>
  {% endif %}

  {% if settings.social_linkedin_url != blank %}
    <li class="flex items-center">
      <a
        href="{{ settings.social_linkedin_url }}"
        target="_blank"
        aria-label="YouTube"
        class="inline-flex items-center"
      >
        {{- 'linkedin-icon.svg' | inline_asset_content -}}
      </a>
    </li>
  {% endif %}

  {% if settings.social_youtube_url != blank %}
    <li class="flex items-center">
      <a href="{{ settings.social_youtube_url }}" target="_blank" aria-label="YouTube" class="inline-flex items-center">
        {{- 'youtube-icon.svg' | inline_asset_content -}}
      </a>
    </li>
  {% endif %}

  {% comment %}
    {% if settings.social_vimeo_url %}
      <li class="flex items-center">
        <a href="{{ settings.social_vimeo_url }}" target="_blank" aria-label="Vimeo" class="inline-flex items-center">
          <ion-icon name="logo-vimeo" aria-hidden="true"></ion-icon>
        </a>
      </li>
    {% endif %}

    {% if settings.social_pinterest_url %}
      <li class="flex items-center">
        <a
          href="{{ settings.social_pinterest_url }}"
          target="_blank"
          aria-label="Pinterest"
          class="inline-flex items-center"
        >
          <ion-icon name="logo-pinterest" aria-hidden="true"></ion-icon>
        </a>
      </li>
    {% endif %}
  {% endcomment %}
</ul>
