
{% liquid
  assign image_url = subscription.product.images[0].file.url
  if subscription.variant.images[0].file.url
     assign image_url = subscription.variant.images[0].file.url
  endif
%}

<div class="flex flex-row gap-12">
  <div class="pt-16">
    <div class="w-60 h-60">
      <img
          src="{{ image_url }}"
          class="w-full h-full object-cover rounded"
        >
    </div>
  </div>
  <div class="flex flex-col gap-12">
    <div class="flex gap-4 text-body-medium font-display">
      {{ subscription.product.name  }}
    </div>

    <div class="flex flex-wrap text-body-medium lowercase">
      <span class="font-medium">
        {% assign prefix = subscription.grand_total | money | append: "/" %}
        {%- render 'subscription-plan-schedule',
          schedule: subscription.billing_schedule,
          prefix: prefix
        -%}
      </span>
      {%- if subscription.order_schedule -%}
        ,&nbsp;
        {% assign delivered = 'sections.product.purchase.subscription_delivered' | t %}
        {% assign prefix = "" | append: delivered | append: " " %}
        <span>
          {%- render 'subscription-plan-schedule',
            schedule: subscription.order_schedule,
            prefix: prefix
          -%}
        </span>
      {%- endif -%}
    </div>

    <div class="flex flex-row gap-12">
      {% if subscription.status == 'active' %}
        <div class="h-24 w-24 rounded-24 bg-[#3D995E] text-white overflow-hidden">
          <ion-icon name="sync" class="relative h-24 w-24"></ion-icon>
        </div>
        {{ 'customer.subscription.renews' | t }}{{ subscription.date_period_end | time_tag: format: 'date_at_time' }}
      {% elsif subscription.status == 'paused' %}
        <div class="h-24 w-24 rounded-24 bg-[#FFC038] text-white overflow-hidden flex items-center justify-center">
          <ion-icon name="pause-outline" class="relative h-18 w-18"></ion-icon>
        </div>
        {% if subscription.date_pause_end %}
          {{ 'customer.subscription.paused_until' | t }}{{ subscription.date_pause_end | time_tag: format: 'datetime' }}
        {% else %}
          {{ 'customer.subscription.paused_since' | t }}{{ subscription.date_paused | time_tag: format: 'datetime' }}
        {% endif %}
      {% elsif subscription.status == 'canceled' %}
         <div class="h-24 w-24 rounded-24 bg-[#8C8984] text-white overflow-hidden">
          <ion-icon name="sync" class="relative h-24 w-24"></ion-icon>
        </div>
        {{ 'customer.subscription.cancelled' | t }}{{ subscription.date_canceled | time_tag: format: 'date_at_time' }}
      {% elsif subscription.status == 'trial' %}
       <div class="h-24 w-24 rounded-24 bg-[#FFA500] text-yellow overflow-hidden flex items-center justify-center">
          <ion-icon name="calendar-outline" class="relative h-18 w-18"></ion-icon>
        </div>
        {{ 'customer.subscription.trial_ends' | t }}{{ subscription.date_trial_end | time_tag: format: 'date_at_time' }}
      {% elsif subscription.status == 'complete' %}
       <div class="h-24 w-24 rounded-24 bg-[#FFA500] text-yellow overflow-hidden flex items-center justify-center">
          <ion-icon name="checkmark" class="relative h-18 w-18"></ion-icon>
        </div>
        {{ 'customer.subscription.complete' | t }}
      {% elsif subscription.status == 'unpaid' %}
       <div class="h-24 w-24 rounded-24 bg-[#FFA500] text-yellow overflow-hidden flex items-center justify-center">
          <ion-icon name="warning-outline" class="relative h-18 w-18"></ion-icon>
        </div>
        {{ 'customer.subscription.unpaid' | t }}
      {% elsif subscription.status == 'pastdue' %}
       <div class="h-24 w-24 rounded-24 bg-[#FFA500] text-yellow overflow-hidden flex items-center justify-center">
          <ion-icon name="warning-outline" class="relative h-18 w-18"></ion-icon>
        </div>
        {{ 'customer.subscription.pastdue' | t }}
      {% else %}
        {{ subscription.status }}
      {% endif %}
    </div>
  </div>
</div>
