{%- liquid
  assign current_variant = product.selected_or_first_available_variant
  assign border_radius = settings.border_radius | default: 6 | times: 0.1 | round: 1
-%}

{% comment %} 
  we can only switch one option per interaction, so we need to calculate the adjustment options only
  for each option, fix the other option values ​​and calculate the availability and variant id for each current option value
  Example:
  Options: Color: red, green, blue     Size: M, L, XL
    current variant is green, L
    Color: red   L(fixed)
           green L(fixed) - selected
           blue  L(fixed)
    Size:  green(fixed) M
           green(fixed) L - selected
           green(fixed) XL
{% endcomment %}

{%- unless product.has_only_default_variant -%}
  <product-variant-options>
    {%- for option in product.options_with_values -%}
      {%- assign optionIndex = forloop.index0 -%}
      <variant-radio>
        {%- if product_selector == 'radio' -%} {% comment %} fieldset for radio {% endcomment %}
          <fieldset class="mb-16" id="product-variant-{{ forloop.index0 }}" name="{{ option.name | handleize }}">
            <legend class="font-display text-label-medium uppercase mb-8">
              {{ option.name | escape }}
            </legend>
            <div class="flex flex-wrap items-center gap-8">
        {%- else -%} {% comment %} select for dropdown {% endcomment %}
          <div class="flex flex-col gap-4">
            <label for="product-variant-option-{{ forloop.index0 }}" class="font-display text-label-medium uppercase mb-8">
              {{ option.name | escape }}
            </label>
            <variant-radio-trigger>
              <select
                id="product-variant-{{ forloop.index0 }}"
                class="input-select bg-gray-50 border border-[#757575] text-[#616161] text-body-small text-[1.6rem] rounded-4 focus:ring-blue-500 focus:border-blue-500 block w-full p-10 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                data-index="option{{ forloop.index }}"
                data-product-slug="{{ product.slug }}"
                data-section-id="{{ section.id }}"
              >
        {%- endif -%} {% comment %} main tag {% endcomment %}
              {%- for value in option.values -%}
                {%- liquid
                  assign matched_variant = null

                  assign matched_options = current_variant.selected_option_values

                  if option.variant_option
                    for variant in product.variants
                      assign matched = true
                      for variantOption in variant.selected_option_values
                        assign variantOptionIndex = forloop.index0
                        if variantOptionIndex == optionIndex
                          assign compareOptionValue = value.id
                        else
                          assign compareOptionValue = matched_options[variantOptionIndex]
                        endif

                        if variantOption != compareOptionValue
                          assign matched = false
                        endif
                      endfor

                      if matched
                        assign matched_variant = variant
                      endif
                    endfor
                  else
                    assign matched_variant = current_variant
                  endif

                  assign newOptions = ''
                  for opt in current_variant.selected_option_values
                    if forloop.index0 == optionIndex
                      assign newOption = value.id
                    else
                      assign newOption = opt
                    endif

                    if newOptions == ''
                      assign newOptions = newOption
                    else
                      assign newOptions = newOptions | append: ',' | append: newOption
                    endif
                  endfor

                  assign isSelected = false
                  for current in current_variant.selected_option_values
                    if current == value.id
                      assign isSelected = true
                    endif
                  endfor
                -%}
                {%- if product_selector == 'radio' -%} {% comment %} input and trigger for radio {% endcomment %}
                  <input
                    type="radio"
                    {% if isSelected %}
                      checked="checked"
                    {% endif %}
                    {% unless matched_variant.available %}
                      disabled="disabled"
                    {% endunless %}
                    value="{{ matched_variant.id }}"
                    data-index="option{{ forloop.index }}"
                    name="{{ option.name | handleize }}"
                    id="product-variant-{{ option.name | handleize }}-{{ value | escape }}"
                    class="sr-only"
                  >
                  <variant-radio-trigger
                    role="radio"
                    tabindex="0"
                    class="
                      border border-[#3B0B93] px-12 py-12 text-center transition-colors uppercase font-display text-label-small
                      {% if matched_variant.available %}
                        {% if isSelected %}
                          cursor-pointer
                          btn-primary-{{ color_scheme }}
                        {% else %}
                          cursor-pointer
                          btn-secondary-{{ color_scheme }} text-{{ color_scheme }} cursor-pointer
                        {% endif %}
                      {% else %}
                        cursor-not-allowed btn-disabled-{{ color_scheme }}
                      {% endif %}
                    "
                    aria-labelledby="product-variant-{{ option.name | handleize }}-{{ value | escape }}"
                    data-product-slug="{{ product.slug }}"
                    data-section-id="{{ section.id }}"
                    data-option-values="{{ newOptions }}"
                    style="border-radius:{{ border_radius }}rem"
                  >
                    <span id="product-variant-option-{{ option.name | handleize }}-{{ value | escape }}">
                      {{ value | escape }}
                    </span>
                  </variant-radio-trigger>
                {%- else -%} {% comment %} option for dropdown {% endcomment %}
                  <option
                    value="{{ newOptions }}"
                    {% if isSelected %}
                      selected="selected"
                    {% endif %}
                    data-product-slug="{{ product.slug }}"
                    data-section-id="{{ section.id }}"
                    data-option-values="{{ newOptions }}"
                    {% unless matched_variant.available %}
                      disabled=true
                    {% endunless %}
                  >
                    {{ value | escape }}
                  </option>
                {%- endif -%}  {% comment %} option value element {% endcomment %}
              {%- endfor -%}  {% comment %} for option values {% endcomment %}
        {%- if product_selector == 'radio' -%} {% comment %} implicitly close tags {% endcomment %}
            </div>
          </fieldset>
        {%- else -%}
              </select>
            </variant-radio-trigger>
          </div>
        {%- endif -%} {% comment %} end close tags {% endcomment %}
      </variant-radio>
    {%- endfor -%} {% comment %} for option {% endcomment %}
  </product-variant-options>
{%- endunless -%}

<script type="application/json" data-variants-json>
  {{ product.variants | json }}
</script>
