{%- liquid
  assign current_variant = product.selected_or_first_available_variant
  assign variant_count = product.options_with_values | size
  assign color_scheme = section.settings.color_scheme.id
  assign border_radius = settings.border_radius | default: 4
-%}

{%- unless product.has_only_default_variant -%}
  {%- for option in product.options_with_values -%}
    {%- if product_selector == 'radio' -%}
      <fieldset class="mb-4" id="product-variant-{{ forloop.index0 }}" name="{{ option.name | handleize }}">
        <legend class="font-display text-label-medium uppercase mb-2">
          {{ option.name | escape }}
        </legend>
        <variant-radio class="flex flex-wrap items-center gap-[8px]">
          {%- for value in option.values -%}
            {%- assign matched_variant = null -%}

            {%- for variant in product.variants -%}
              {%- if variant.option1 == value or variant.option2 == value or variant.option3 == value -%}
                {%- assign matched_variant = variant -%}
                {%- break -%}
              {%- endif -%}
            {%- endfor -%}

            <input
              type="radio"
              {% if current_variant.option1 == value
                or current_variant.option2 == value
                or current_variant.option3 == value
              %}
                checked="checked"
              {% endif %}
              {% unless matched_variant.available %}
                disabled="disabled"
              {% endunless %}
              value="{{ matched_variant.id }}"
              data-index="option{{ forloop.index }}"
              name="{{ option.name | handleize }}"
              id="product-variant-{{ option.name | handleize }}-{{ value | escape }}"
              class="sr-only"
              data-price="{{ matched_variant.price | money_without_trailing_zeros }}"
            >
            <variant-radio-trigger
              role="radio"
              tabindex="0"
              class="
                border border-[#3B0B93] px-[12px] py-[12px] text-center transition-colors uppercase font-display text-label-small
                {% if matched_variant.available %}
                {% if current_variant.id != matched_variant.id %}
                 cursor-pointer
                 btn-secondary-{{ color_scheme }} text-{{ color_scheme }} cursor-pointer
                 {% else %}
                 cursor-pointer
                 btn-primary-{{ color_scheme }}
                 {% endif %}
                  {% else %}
                  cursor-not-allowed btn-disabled-{{ color_scheme }}
                 {% endif %}
              "
              aria-labelledby="product-variant-{{ option.name | handleize }}-{{ value | escape }}"
              data-variant-id="              {{- matched_variant.id -}}"
              style="border-radius:{{ border_radius }}px"
            >
              <span id="product-variant-option-{{ option.name | handleize }}-{{ value | escape }}">
                {{ value | escape }}
              </span>
            </variant-radio-trigger>
          {%- endfor -%}
        </variant-radio>
      </fieldset>
    {%- else -%}
      <div class="flex flex-col gap-[4px]">
        <label for="product-variant-option-{{ forloop.index0 }}" class="font-display text-label-medium uppercase mb-2">
          {{ option.name | escape }}
        </label>
        <select
          id="product-variant-{{ forloop.index0 }}"
          class="input-select bg-gray-50 border border-[#757575] text-[#616161] text-sm rounded-[4px] focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          data-index="option{{ forloop.index }}"
        >
          {%- for value in option.values -%}
            {%- assign matched_variant = null -%}

            {%- for variant in product.variants -%}
              {%- if variant.option1 == value or variant.option2 == value or variant.option3 == value -%}
                {%- assign matched_variant = variant -%}
                {%- break -%}
              {%- endif -%}
            {%- endfor -%}

            <option
              value="{{ value | escape }}"
              data-variant-id="{{ matched_variant.id }}"
              data-price="{{ matched_variant.price | money_without_trailing_zeros }}"
              {% if current_variant.option1 == value
                or current_variant.option2 == value
                or current_variant.option3 == value
              %}
                selected="selected"
              {% endif %}
            >
              {{ value | escape }}
            </option>
          {%- endfor -%}
        </select>
      </div>
    {%- endif -%}
  {%- endfor -%}
{%- endunless -%}

<script type="application/json" data-variants-json>
  {{ product.variants | json }}
</script>
